body {
  max-width: 100vw;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #774F40;
}

img {
  max-width: 120px;
  margin: 10px 20px;
}

header {
  padding: 0 20px;
  background-color: #F4E6CD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.backend_header > p {
  font-size: 18px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 5px;
}

.back_management_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.back_management_container aside {
  width: 20%;
  background-color: #FFF2CC;
}

.back_management_list ul {
  margin: 0;
  list-style: none;
}

.back_management_list div {
  margin: 15px 0;
}

.back_management_list p {
  margin: 0;
  padding: 5px;
}

.back_management_list a {
  text-decoration: none;
  color: #774F40;
}

.back_management_list a:visited {
  color: #774F40;
}

.back_management_list li {
  padding: 5px;
}

.back_management_list {
  border: 1px solid #FFF2CC;
  padding: 0 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

main {
  width: calc(100% - 20%);
}

.back_black_list_management .b1_title {
  background-color: #EAE4D2;
}

.back_black_list_management div p {
  margin: 0;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
}

.back_black_list_management .b1_title ul {
  list-style: none;
  padding: 0;
  margin: 15px;
}

.back_black_list_management .b1_title ul li {
  margin: 0 15px;
  font-size: 0;
}

.back_black_list_management .b1_title ul li select {
  font-size: 16px;
  max-width: 200px;
  border-radius: 20px;
  border: none;
  padding: 5px;
  width: 200px;
  color: #774F40;
}

.back_black_list_management .b1_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td {
  border: 1px solid #774F40;
  padding: 10px;
}

.backend_table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table_title {
  font-weight: bold;
}

.backend_table img {
  width: 50px;
  margin: 0;
}

img.vip_icon {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.blacklist_popup {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 80vw;
  background: #E6EECE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: scroll;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

.blacklist_popup.-active {
  opacity: 4;
  pointer-events: auto;
}

.blacklist_popup h3 {
  margin: 0 auto;
  text-align: center;
  padding: 5px 0;
  background: #F7F8DC;
}

.blacklist_popup p {
  margin: 10px 0;
  padding: 5px;
}

.blacklist_popup button {
  font-size: 18px;
  cursor: pointer;
}

.blacklist_popup .black_list_textarea {
  padding: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.blacklist_popup .black_list_textarea textarea {
  width: 50vw;
  background: #F7F8DC;
  font-size: 18px;
  color: #774F40;
}

.blacklist_popup .vip_edit_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blacklist_popup .vip_edit_block.text_area {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.blacklist_popup .vip_edit_block_title,
.blacklist_popup .vip_edit_block_text {
  padding: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: normal;
}

.blacklist_popup .vip_edit_block_title {
  text-align: right;
  margin: 10px;
}

.blacklist_popup .vip_edit_block_text {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.blacklist_popup .popup_bottom {
  text-align: center;
}

.blacklist_popup .popup_bottom button {
  background: #FED67E;
  padding: 3px 10px;
  border: none;
  border-radius: 5px;
  color: #774F40;
  margin: 20px;
  cursor: pointer;
}

.blacklist_popup select {
  background: #F7F8DC;
  border: none;
  color: #774F40;
  font-size: 16px;
}

.blacklist_popup_button {
  text-align: right;
  margin: 20px 0;
}

.blacklist_popup_button button {
  background: #FED67E;
  border: none;
  padding: 3px 10px;
  border-radius: 5px;
  color: #774F40;
  cursor: pointer;
}
/*# sourceMappingURL=b1_black_list.css.map */