body {
  max-width: 100vw;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #774F40;
}

img {
  max-width: 120px;
  margin: 10px 20px;
}

header {
  padding: 0 20px;
  background-color: #F4E6CD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.backend_header > p {
  font-size: 18px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 5px;
}

.back_management_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.back_management_container aside {
  width: 20%;
  background-color: #FFF2CC;
}

.back_management_list ul {
  margin: 0;
  list-style: none;
}

.back_management_list div {
  margin: 15px 0;
}

.back_management_list p {
  margin: 0;
  padding: 5px;
}

.back_management_list a {
  text-decoration: none;
  color: #774F40;
}

.back_management_list a:visited {
  color: #774F40;
}

.back_management_list li {
  padding: 5px;
}

.back_management_list {
  border: 1px solid #FFF2CC;
  padding: 0 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

main {
  width: calc( 100% - 20%);
}

.back_report_management .b4_title {
  background-color: #EAE4D2;
}

.back_report_management div p {
  margin: 0;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
}

.back_report_management .b4_title ul {
  list-style: none;
  padding: 0;
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.back_report_management .b4_title ul li {
  margin: 10px 15px;
  font-size: 0;
}

.back_report_management .b4_title ul li button {
  background-color: #FED67E;
  -webkit-box-shadow: 1px 1px 1px lightgray;
          box-shadow: 1px 1px 1px lightgray;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 22px;
  background-color: #FED67E;
  color: #774F40;
  border: 0px;
  font-size: 18px;
  cursor: pointer;
}

.back_report_management .b4_title ul li input {
  max-width: 180px;
  border-radius: 20px;
  border: none;
  padding: 5px 10px;
  color: #774F40;
  font-size: 16px;
}

.back_report_management .b4_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td {
  border: 1px solid #774F40;
  padding: 10px;
}

.backend_table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.backend_table button {
  -webkit-box-shadow: 1px 1px 1px lightgray;
          box-shadow: 1px 1px 1px lightgray;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 22px;
  background-color: #FED67E;
  color: #774F40;
  border: 0px;
  font-size: 16px;
  cursor: pointer;
}

.backend_table .back_report_delete {
  background-color: #D86430;
  color: white;
}

.table_title {
  font-weight: bold;
}

.backend_table img {
  width: 50px;
  margin: 0;
}

img.vip_icon {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}
/*# sourceMappingURL=b4_report.css.map */