.main {
  padding-bottom: 10px;
}

.main .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .title :first-child {
  margin: 0 50px;
  margin-top: 20px;
  margin-left: 60px;
}

.main .title :nth-child(3) {
  margin-top: 10px;
  margin-right: 0;
}

.main .title .title_left {
  text-align: center;
}

.main .title .title_left .left_context {
  background-color: #EDDAB8;
  font-size: 18px;
  color: #774F40;
  margin: 0 auto;
  text-decoration: underline;
}

.main .title .title_left .left_context .btn_pop {
  margin: 0 auto;
  padding: 5px 10px;
  cursor: pointer;
}

.main .title .title_left .left_context img {
  margin: 0;
  vertical-align: text-bottom;
}

.main .title .title_left .pillar_left {
  background-color: #EDDAB8;
  width: 82px;
  height: 30px;
  margin: 0 auto;
}

.main .title .title_image {
  position: relative;
}

.main .title .title_image .title_icon {
  width: 180px;
  height: 120px;
  margin: 10px 50px;
}

.main .title .title_image .title_text {
  font-size: 22px;
  color: #774F40;
  text-align: center;
  position: absolute;
  margin: 0 50px;
  top: 83px;
  padding: 0 45px;
}

.main .title .title_right {
  text-align: center;
  margin: 0 50px;
}

.main .title .title_right .right_context {
  background-color: #EDDAB8;
  font-size: 18px;
  color: #774F40;
  padding: 5px 10px;
  margin: 0 auto;
  cursor: pointer;
  text-decoration: underline;
}

.main .title .title_right .right_context img {
  margin: 0;
  vertical-align: text-bottom;
}

.main .title .title_right .pillar_right {
  background-color: #EDDAB8;
  width: 82px;
  height: 50px;
  margin: 0 auto;
}

.main .box {
  margin: 0 auto;
  background-color: #EDDAB8;
  width: 95vw;
  height: 578px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main .box .dark_box {
  background-color: #774F40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 33px;
  margin-left: 5%;
  width: 70vw;
  border-radius: 10px;
}

.main .box .dark_box .left {
  display: inline-block;
  margin-left: 20px;
  margin-right: 5px;
}

.main .box .dark_box .left .left_text {
  font-size: 30px;
  background-color: #E6EECE;
  padding: 10px;
  border-radius: 10px;
}

.main .box .dark_box .gacha {
  width: 60vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  margin: 0;
}

.main .box .dark_box .gacha .choose_box {
  margin: 5px auto;
}

.main .box .dark_box .gacha .choose_box .color_image {
  width: 180px;
  cursor: pointer;
}

.main .box .dark_box .right {
  display: inline-block;
  margin-right: 20px;
  margin-left: 5px;
}

.main .box .dark_box .right .right_text {
  font-size: 30px;
  background-color: #E6EECE;
  padding: 10px;
  border-radius: 10px;
}

.main .box .right_box {
  text-align: center;
}

.main .box .right_box .buy {
  display: inline-block;
  background-color: #FED67E;
  -webkit-box-shadow: 1px 1px 1px lightgray;
          box-shadow: 1px 1px 1px lightgray;
  width: 80%;
  height: 150px;
  line-height: 150px;
  font-size: 18px;
  text-align: center;
  margin: 60px auto;
}

.main .box .right_box .buy a:hover {
  background-color: #774F40;
  color: #FFF2CC;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.main .box .right_box .buy .buy_text {
  margin: 0px auto;
  color: #774F40;
}

.main .box .right_box .store {
  display: inline-block;
  background-color: #FED67E;
  -webkit-box-shadow: 1px 1px 1px lightgray;
          box-shadow: 1px 1px 1px lightgray;
  width: 80%;
  height: 150px;
  font-size: 18px;
  color: #774F40;
  text-align: center;
  margin: 50px auto;
}

.main .box .right_box .store a
.store_text {
  display: block;
  margin: 45px auto;
  color: #774F40;
}

#background_pop {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#div_pop {
  /* border: 1px solid black; */
  background: #E6EECE;
  color: #774F40;
  width: 80vw;
  height: 90vh;
  z-index: 1;
  margin: 5vh auto;
  /* overflow: auto; */
  text-align: center;
}

.div_top {
  /* border: 1px solid blue; */
  width: 100%;
  height: auto;
  font-size: 24px;
}

.div_title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

#close_btn {
  cursor: pointer;
  margin-top: -5px;
  float: right;
}

.div_content {
  width: 100%;
  margin: 0 auto;
  overflow: auto;
  font-size: 20px;
}

.big_content {
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  vertical-align: middle;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.big_content .cat_399 {
  margin: 2px 5vw;
}

.big_content .cat_399 .dec_image {
  display: inline-block;
}

.big_content .cat_399 .cat_text {
  font-size: 18px;
  background-color: #FFF2CC;
  border-radius: 10px;
  padding: 5px;
  width: 180px;
}

.big_content .cat_399:nth-child(3n+1) {
  margin-left: 0;
}

.big_content .cat_399:nth-child(3n+3) {
  margin-right: 0;
}
/*# sourceMappingURL=gacha_399.css.map */