div.game_choose_backgroung_content {
  border-bottom: 1px solid white;
  position: relative;
}

div.game_choose_backgroung_content div.black_cat_right {
  display: inline-block;
  position: absolute;
  width: 200px;
  right: 0%;
  top: 50%;
  opacity: 0.8;
}

@media all and (max-width: 900px) {
  div.game_choose_backgroung_content div.black_cat_right {
    display: none;
  }
}

div.game_choose_backgroung_content div.black_cat_bottom {
  display: inline-block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -.5%;
  opacity: 0.8;
  z-index: -1;
}

div.game_choose_backgroung_content div.black_cat_left {
  display: inline-block;
  width: 200px;
  position: absolute;
  left: 0;
  top: 50%;
  opacity: 0.8;
}

@media all and (max-width: 900px) {
  div.game_choose_backgroung_content div.black_cat_left {
    display: none;
  }
}

div.game_choose_content {
  width: 70%;
  margin: 0 auto;
  background-color: #FFF2CC;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 160px;
}

@media all and (max-width: 700px) {
  div.game_choose_content {
    margin-bottom: 130px;
  }
}

@media all and (max-width: 600px) {
  div.game_choose_content {
    margin-bottom: 110px;
  }
}

@media all and (max-width: 500px) {
  div.game_choose_content {
    margin-bottom: 95px;
  }
}

@media all and (max-width: 400px) {
  div.game_choose_content {
    margin-bottom: 80px;
  }
}

div.game_choose_content div.stage {
  width: 40%;
  margin-right: 50px;
}

@media all and (max-width: 900px) {
  div.game_choose_content div.stage {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;
  }
}

div.game_choose_content div.stage p {
  font-size: 22px;
  color: #774F40;
}

div.game_choose_content div.stage img {
  width: 65%;
  aspect-ratio: 1/1;
}

@media all and (max-width: 900px) {
  div.game_choose_content div.stage img {
    width: 40%;
  }
}

div.game_choose_content div.cat {
  width: 40%;
}

@media all and (max-width: 900px) {
  div.game_choose_content div.cat {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;
  }
}

div.game_choose_content div.cat p {
  font-size: 22px;
  color: #774F40;
}

div.game_choose_content div.cat div.cat_pic {
  border: 1px solid #774F40;
  background-color: #EAE4D2;
  border-radius: 15px;
  width: 65%;
  aspect-ratio: 1/1;
}

@media all and (max-width: 900px) {
  div.game_choose_content div.cat div.cat_pic {
    margin: 0 auto;
    width: 40%;
  }
}

div.game_choose_content div.cat div.cat_pic img {
  padding-top: 12%;
}

div.game_choose_content div.level {
  width: 40%;
  margin-right: 50px;
}

@media all and (max-width: 900px) {
  div.game_choose_content div.level {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;
  }
}

div.game_choose_content div.level p {
  font-size: 22px;
  color: #774F40;
}

div.game_choose_content div.level div.star_text {
  border: 1px solid #774F40;
  width: 65%;
  border-radius: 5px;
  background-color: #EAE4D2;
  padding: 15px;
  padding-right: 30px;
}

@media all and (max-width: 900px) {
  div.game_choose_content div.level div.star_text {
    margin: 0 auto;
    margin-top: 5px;
    width: 40%;
  }
}

@media all and (max-width: 600px) {
  div.game_choose_content div.level div.star_text {
    width: 60%;
  }
}

@media all and (max-width: 400px) {
  div.game_choose_content div.level div.star_text {
    width: 80%;
  }
}

div.game_choose_content div.level div.star_text p {
  font-size: 18px;
  margin: 0;
}

div.game_choose_content div.level div.star_text p.introduce {
  margin-top: 20px;
}

div.game_choose_content div.item {
  width: 40%;
}

@media all and (max-width: 900px) {
  div.game_choose_content div.item {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;
  }
}

div.game_choose_content div.item p {
  font-size: 22px;
  color: #774F40;
}

div.game_choose_content div.item div.item_all_pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

@media all and (max-width: 900px) {
  div.game_choose_content div.item div.item_all_pic {
    margin: 0 auto;
    width: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

div.game_choose_content div.item div.item_all_pic div.item_pic {
  border: 1px solid #774F40;
  width: 25%;
  background-color: #EAE4D2;
  border-radius: 15px;
  text-align: center;
  padding-top: 10px;
  margin-right: 20px;
}

@media all and (max-width: 900px) {
  div.game_choose_content div.item div.item_all_pic div.item_pic {
    margin-right: 10px;
  }
}

@media all and (max-width: 600px) {
  div.game_choose_content div.item div.item_all_pic div.item_pic {
    padding: 2px;
  }
}

@media all and (max-width: 900px) {
  div.game_choose_content div.item div.item_all_pic div.item_pic:first-child {
    padding-top: 5px;
  }
}

@media all and (max-width: 900px) {
  div.game_choose_content div.item div.item_all_pic div.item_pic:last-child {
    margin-right: 0;
  }
}

div.game_choose_content .bottom {
  width: 100%;
  text-align: center;
}

div.game_choose_content .bottom button {
  -webkit-box-shadow: 1px 1px 1px lightgray;
          box-shadow: 1px 1px 1px lightgray;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 22px;
  background-color: #FED67E;
  color: #774F40;
  border: 0px;
  margin-top: 25px;
  margin-bottom: 15px;
  cursor: pointer;
}
/*# sourceMappingURL=game_choose.css.map */