* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
  color: #774F40;
}

video {
  width: 100%;
  height: 80%;
}

main {
  margin: 0 auto;
}

.first_block {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  margin-top: 150px;
}

.first_block .content_1 {
  font-size: 0;
}

.first_block .content_1 img:nth-child(1) {
  padding: 0;
  height: 100%;
}

.first_block .content_1 img:nth-child(2) {
  padding: 0;
  height: 100%;
  position: relative;
  left: -100px;
  top: 192px;
}

.first_block .content_2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 0;
}

.first_block .content_2 img:nth-child(1) {
  padding: 0;
  height: 100%;
}

.first_block .content_2 img:nth-child(2) {
  padding: 0;
  height: 100%;
  position: relative;
  top: 192px;
  -webkit-transform: translateX(120px);
          transform: translateX(120px);
}

article.sec_block {
  background-color: #E6EECE;
  border: 1px solid #E6EECE;
  max-width: 1200px;
  min-height: 800px;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 150px;
  -webkit-box-shadow: 1px 1px 1px lightgray;
          box-shadow: 1px 1px 1px lightgray;
}

article.sec_block p.sec_title {
  font-size: 30px;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #774F40;
  background-color: #FFF2CC;
  padding: 10px 40px;
  border-radius: 15px;
  margin-bottom: 30px;
  margin-top: 60px;
}

article.sec_block div.content {
  margin: 0 auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

article.sec_block div.content .img {
  background-color: #F7F8DC;
  min-width: 500px;
  height: 470px;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 1px lightgray;
          box-shadow: 1px 1px 1px lightgray;
}

article.sec_block div.content .img img {
  display: block;
  margin: 0 auto;
}

article.sec_block div.content .text_area {
  vertical-align: top;
  display: inline-block;
}

article.sec_block div.content .text_area .text_area_in_1 p {
  max-width: 454px;
  background-color: #FFF2CC;
  border-radius: 15px;
  font-size: 18px;
  padding: 20px 30px 20px 30px;
  margin-left: 40px;
  border: .3px solid black;
}

article.sec_block div.content .text_area_in_2 {
  background-color: #FFF2CC;
  border: 1px solid #FFF2CC;
  max-width: 455px;
  margin-left: 40px;
  border-radius: 15px;
  border: .3px solid black;
}

article.sec_block div.content .text_area_in_2 p:first-child {
  margin-top: 10px;
}

article.sec_block div.content .text_area_in_2 p:last-child {
  margin-bottom: 10px;
}

article.sec_block div.content .text_area_in_2 p {
  text-align: center;
  padding: 5px 0px 5px 0px;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 70%;
  background-color: #EAE4D2;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 1px lightgray;
          box-shadow: 1px 1px 1px lightgray;
  font-size: 20px;
}

article.sec_block div.content .button a {
  -webkit-box-shadow: 1px 1px 1px lightgray;
          box-shadow: 1px 1px 1px lightgray;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 22px;
  background-color: #FED67E;
  color: #774F40;
  border: 0px;
  padding: 10px 50px;
  text-decoration: none;
  position: relative;
  top: 50px;
  left: 35%;
}

.thrid_block {
  background-color: #FFF2CC;
  width: 100%;
  min-height: 920px;
  position: relative;
}

.thrid_block .frame {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  width: 80%;
  margin-top: 50px;
  margin-left: 15%;
  z-index: 0;
}

.thrid_block .frame .col-5 {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.thrid_block .thrid_block_content {
  background-color: #EAE4D2;
  border: 5px solid #774F40;
  border-radius: 15px;
}

.thrid_block .thrid_block_content p {
  font-size: 30px;
  background-color: #FFF2CC;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 30px;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 20px;
}

.thrid_block .thrid_block_content .col-fluid {
  display: block;
  margin-left: 30px;
  margin-bottom: 50px;
}

.thrid_block img.thrid_block_cat {
  position: absolute;
  left: 70%;
  top: 275px;
}

.know p {
  background-color: #F4E6CD;
  padding: 30px 10px 30px 10px;
  border-radius: 15px;
  width: 40%;
  margin-right: 150px;
  -webkit-box-shadow: 1px 1px 1px lightgray;
          box-shadow: 1px 1px 1px lightgray;
  z-index: 40;
  position: absolute;
  top: 65%;
  left: 40%;
}

.four_block {
  width: 80%;
  position: relative;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
}

.four_block .button-next {
  background-repeat: no-repeat;
  height: 64px;
  width: 42px;
  z-index: 40;
  position: absolute;
  top: 120px;
  left: -80px;
}

.four_block .button-prev {
  background-repeat: no-repeat;
  height: 64px;
  width: 42px;
  z-index: 40;
  position: absolute;
  top: 120px;
  right: -80px;
}

.four_block .swiper {
  margin: 0 auto;
}

.four_block .swiper-pagination {
  display: none;
}

.background {
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.cat .frame {
  margin-bottom: -105px;
  margin-left: 200px;
}

.cat img.cat {
  margin-bottom: -60px;
}

.fifth_block_background {
  background-color: #FFF2CC;
  border: 15px solid #774F40;
  border-radius: 15px;
  padding-bottom: 120px;
}

.fifth_block_background .fifth_block_text_first {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 125px;
  margin-left: 150px;
  position: relative;
}

.fifth_block_background .fifth_block_text_first :first-child {
  position: relative;
  z-index: 1;
}

.fifth_block_background .fifth_block_text_first :nth-child(2) {
  position: absolute;
  left: -40px;
  top: -40px;
  z-index: 0;
}

.fifth_block_background .fifth_block_text_first :nth-child(3) {
  -webkit-transform: translateX(80px);
          transform: translateX(80px);
}

.fifth_block_background .fifth_block_text_first a.gogo {
  background-color: #F4E6CD;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 1px lightgray;
          box-shadow: 1px 1px 1px lightgray;
  position: absolute;
  padding: 5px 20px;
  left: 450px;
  bottom: -20px;
  z-index: 2;
  display: block;
  text-decoration: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.fifth_block_background .fifth_block_text_first a.gogo p {
  margin: 0;
  font-size: 30px;
}

.fifth_block_background .fifth_block_text_sec {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 200px;
  position: relative;
}

.fifth_block_background .fifth_block_text_sec :first-child {
  position: relative;
  z-index: 0;
}

.fifth_block_background .fifth_block_text_sec :nth-child(2) {
  position: absolute;
  left: 506px;
  top: -40px;
  z-index: 1;
}

.fifth_block_background .fifth_block_text_sec :nth-child(3) {
  -webkit-transform: translateX(10px) translateY(-180px);
          transform: translateX(10px) translateY(-180px);
}

.fifth_block_background .fifth_block_text_sec a.gogo {
  background-color: #F4E6CD;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 1px lightgray;
          box-shadow: 1px 1px 1px lightgray;
  padding: 5px 20px;
  position: absolute;
  top: 370px;
  right: -100px;
  z-index: 2;
  display: block;
  text-decoration: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.fifth_block_background .fifth_block_text_sec a.gogo p {
  margin: 0;
  font-size: 30px;
  position: relative;
  left: 0;
}

.fifth_block_background .fifth_block_text_three {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: -100px;
  margin-left: 150px;
  position: relative;
}

.fifth_block_background .fifth_block_text_three :first-child {
  position: relative;
  z-index: 1;
}

.fifth_block_background .fifth_block_text_three :nth-child(2) {
  width: 100%;
  position: absolute;
  left: -40px;
  top: -40px;
  z-index: 0;
}

.fifth_block_background .fifth_block_text_three a.gogo {
  background-color: #F4E6CD;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 1px lightgray;
          box-shadow: 1px 1px 1px lightgray;
  position: absolute;
  padding: 5px 20px;
  left: 450px;
  bottom: -20px;
  z-index: 2;
  display: block;
  text-decoration: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.fifth_block_background .fifth_block_text_three a.gogo p {
  margin: 0;
  font-size: 30px;
}

.sixth_block {
  margin-top: 100px;
  margin-bottom: 80px;
}

.sixth_block img {
  margin: 0 auto;
}

.sixth_block img:nth-child(2) {
  padding-bottom: 50px;
}

.sixth_block .recommed img {
  display: block;
  margin: 0 auto;
}

.sixth_block .recommed .text {
  background-color: #FFF2CC;
  padding: 5px 10px 5px 10px;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 1px lightgray;
          box-shadow: 1px 1px 1px lightgray;
}

.sixth_block .recommed .text .title {
  text-align: center;
  font-size: 20px;
  margin: 10px 0px 5px 0px;
}
/*# sourceMappingURL=index.css.map */