video {
  width: 100%;
}

main {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

div.index_block1 {
  background-image: url("../images/index_page/block/index_block1.png");
  height: 160px;
  background-repeat: no-repeat;
  padding: 50px 20%;
}

div.index_block1 p {
  font-size: 30px;
  color: #774F40;
  text-align: center;
}

div.index_block2 {
  background-image: url("../images/index_page/block/index_block2.png");
  height: 160px;
  background-repeat: no-repeat;
  padding: 40px 20%;
  padding-top: 80px;
}

div.index_block2 p {
  font-size: 30px;
  color: #774F40;
  text-align: center;
}

.first_block {
  width: 100%;
  margin-top: 50px;
  padding: 0%;
}

.first_block .content_1 {
  font-size: 0;
}

.first_block .content_1 img:nth-child(1) {
  padding: 0;
  height: 100%;
}

.first_block .content_1 img:nth-child(2) {
  padding: 0;
  height: 100%;
  position: relative;
  left: -100px;
  top: 192px;
}

.first_block .content_2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 0;
}

.first_block .content_2 img:nth-child(1) {
  padding: 0;
  height: 100%;
}

.first_block .content_2 img:nth-child(2) {
  padding: 0;
  height: 100%;
  position: relative;
  top: 192px;
  -webkit-transform: translateX(120px);
          transform: translateX(120px);
}

article.sec_block {
  background-color: #E6EECE;
  border: 1px solid red;
  width: 90%;
  border-radius: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
  -webkit-box-shadow: 1px 1px 1px lightgray;
          box-shadow: 1px 1px 1px lightgray;
}

article.sec_block p.sec_title {
  border: 1px solid orange;
  font-size: 26px;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #774F40;
  background-color: #FFF2CC;
  padding: 10px 40px;
  border-radius: 15px;
  margin-bottom: 15px;
}

@media all and (max-width: 900px) {
  article.sec_block p.sec_title {
    font-size: 22px;
  }
}

@media all and (max-width: 800px) {
  article.sec_block p.sec_title {
    font-size: 22px;
    padding: 10px 20px;
  }
}

@media all and (max-width: 600px) {
  article.sec_block p.sec_title {
    font-size: 20px;
    padding: 5px 10px;
  }
}

article.sec_block div.content {
  border: 1px solid maroon;
  margin: 0 auto;
  width: 80%;
}

@media all and (max-width: 1100px) {
  article.sec_block div.content {
    width: 90%;
  }
}

article.sec_block div.content div.index_personal_cake {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid blue;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (max-width: 1000px) {
  article.sec_block div.content div.index_personal_cake {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
}

article.sec_block div.content .img {
  border: 1px solid red;
  background-color: #F7F8DC;
  width: 70%;
  height: 350px;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 1px lightgray;
          box-shadow: 1px 1px 1px lightgray;
  vertical-align: middle;
}

@media all and (max-width: 1000px) {
  article.sec_block div.content .img {
    width: 70%;
    margin: 0 auto;
    height: 300px;
  }
}

@media all and (max-width: 900px) {
  article.sec_block div.content .img {
    height: 250px;
  }
}

@media all and (max-width: 800px) {
  article.sec_block div.content .img {
    height: 200px;
  }
}

@media all and (max-width: 600px) {
  article.sec_block div.content .img {
    height: 150px;
    width: 80%;
  }
}

@media all and (max-width: 500px) {
  article.sec_block div.content .img {
    height: 150px;
    width: 100%;
  }
}

article.sec_block div.content .text_area {
  margin-left: 20px;
  width: 60%;
  border: 1px solid aqua;
  display: inline-block;
}

@media all and (max-width: 1000px) {
  article.sec_block div.content .text_area {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

@media all and (max-width: 600px) {
  article.sec_block div.content .text_area {
    width: 80%;
  }
}

@media all and (max-width: 500px) {
  article.sec_block div.content .text_area {
    width: 100%;
  }
}

article.sec_block div.content .text_area .text_area_in_1 p {
  text-align: left;
  background-color: #FFF2CC;
  border-radius: 15px;
  font-size: 16px;
  color: #774F40;
  padding: 10px 20px 10px 20px;
}

article.sec_block div.content .text_area_in_2 {
  background-color: #FFF2CC;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 1px lightgray;
          box-shadow: 1px 1px 1px lightgray;
  padding-top: 5px;
  padding-bottom: 5px;
}

article.sec_block div.content .text_area_in_2 p {
  text-align: center;
  padding: 5px 0px 5px 0px;
  margin: 0 auto;
  margin-bottom: 7px;
  width: 70%;
  background-color: #F7F8DC;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 1px lightgray;
          box-shadow: 1px 1px 1px lightgray;
  font-size: 18px;
  color: #774F40;
}

article.sec_block div.content .button {
  margin-top: 10px;
  text-align: center;
  margin-left: 54%;
}

@media all and (max-width: 1000px) {
  article.sec_block div.content .button {
    margin-left: 0;
  }
}

@media all and (max-width: 600px) {
  article.sec_block div.content .button {
    margin-top: 5px;
  }
}

article.sec_block div.content .button a {
  -webkit-box-shadow: 1px 1px 1px lightgray;
          box-shadow: 1px 1px 1px lightgray;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 22px;
  background-color: #FED67E;
  color: #774F40;
  border: 0px;
  padding: 10px 50px;
  text-decoration: none;
}

@media all and (max-width: 1000px) {
  article.sec_block div.content .button a {
    padding: 10px 30px;
  }
}

@media all and (max-width: 900px) {
  article.sec_block div.content .button a {
    font-size: 20px;
  }
}

@media all and (max-width: 800px) {
  article.sec_block div.content .button a {
    padding: 10px 20px;
  }
}

@media all and (max-width: 600px) {
  article.sec_block div.content .button a {
    padding: 5px 10px;
  }
}

@media all and (max-width: 400px) {
  article.sec_block div.content .button a {
    font-size: 18px;
  }
}

.thrid_block {
  background-color: #FFF2CC;
  border-radius: 15px;
  width: 90%;
  margin: 0 auto;
  margin-top: 150px;
  position: relative;
}

.thrid_block .frame {
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  z-index: 0;
}

.thrid_block .frame .col-5 {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.thrid_block .thrid_block_content {
  width: 70%;
  background-color: #EAE4D2;
  border: 5px solid #774F40;
  border-radius: 15px;
  height: 400px;
  position: relative;
}

.thrid_block .thrid_block_content p {
  font-size: 26px;
  color: #774F40;
  background-color: #FFF2CC;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 30px;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.thrid_block .thrid_block_content .col-fluid {
  display: block;
  margin-left: 30px;
  width: 80%;
  height: 280px;
  border-radius: 10px;
}

.thrid_block img.thrid_block_cat {
  position: absolute;
  right: -10%;
  top: 10%;
  width: 25%;
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
}

div.back {
  padding: 40px 30px;
}

.know {
  width: 50%;
  display: inline-block;
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
}

.know p {
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
  display: inline-block;
  font-size: 18px;
  color: #774F40;
  background-color: #F4E6CD;
  padding: 15px 5px 15px 5px;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 1px lightgray;
          box-shadow: 1px 1px 1px lightgray;
  z-index: 40;
}

.four_block {
  border: 1px solid red;
  width: 90%;
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
}

@media all and (max-width: 900px) {
  .four_block {
    width: 100%;
  }
}

@media all and (max-width: 600px) {
  .four_block {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media all and (max-width: 400px) {
  .four_block {
    height: 60px;
  }
}

.four_block div.index_swiper_block {
  border: 1px solid orange;
  background-color: #EDDAB8;
  border-radius: 20px;
  padding: 20px 10px;
}

@media all and (max-width: 800px) {
  .four_block div.index_swiper_block {
    padding-bottom: 10px;
  }
}

@media all and (max-width: 700px) {
  .four_block div.index_swiper_block {
    padding-top: 10px;
    padding-bottom: 5px;
  }
}

@media all and (max-width: 600px) {
  .four_block div.index_swiper_block {
    -webkit-transform: scaleY(1.1);
            transform: scaleY(1.1);
  }
}

@media all and (max-width: 500px) {
  .four_block div.index_swiper_block {
    -webkit-transform: scaleY(1.2);
            transform: scaleY(1.2);
  }
}

@media all and (max-width: 400px) {
  .four_block div.index_swiper_block {
    height: 100%;
  }
}

.four_block div.index_swiper_block div.swiper_content {
  position: relative;
  margin: 0 auto;
  border: 1px solid blue;
  width: 100%;
}

.four_block div.index_swiper_block div.swiper_text {
  border: 1px solid black;
  height: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #DBDAD799;
  text-align: center;
  padding: 10px 0;
  color: #774F40;
  font-size: 20px;
  font-weight: bolder;
}

@media all and (max-width: 1000px) {
  .four_block div.index_swiper_block div.swiper_text {
    height: 20px;
    padding-top: 5px;
  }
}

@media all and (max-width: 900px) {
  .four_block div.index_swiper_block div.swiper_text {
    height: 15px;
    padding-top: 0;
    font-size: 18px;
  }
}

@media all and (max-width: 500px) {
  .four_block div.index_swiper_block div.swiper_text {
    font-size: 14px;
    padding: 0;
  }
}

.four_block .button-prev {
  background-repeat: no-repeat;
  height: 64px;
  width: 42px;
  z-index: 40;
  position: absolute;
  left: -3%;
  top: 50%;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

.four_block .button-next {
  background-repeat: no-repeat;
  height: 64px;
  width: 42px;
  z-index: 40;
  position: absolute;
  right: -3%;
  top: 50%;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

.four_block .swiper {
  margin: 0 auto;
}

.four_block .swiper-pagination {
  display: none;
}

.cat {
  position: relative;
}

.cat .frame {
  width: 60%;
}

.cat img.cat {
  margin-bottom: -60px;
  position: absolute;
  right: 10%;
  top: 0px;
}

@media all and (max-width: 1200px) {
  .cat img.cat {
    top: -1%;
  }
}

@media all and (max-width: 1100px) {
  .cat img.cat {
    top: -2%;
  }
}

@media all and (max-width: 1000px) {
  .cat img.cat {
    top: -3%;
  }
}

@media all and (max-width: 900px) {
  .cat img.cat {
    top: -2%;
    width: 180px;
  }
}

@media all and (max-width: 800px) {
  .cat img.cat {
    top: -5px;
    width: 130px;
  }
}

@media all and (max-width: 700px) {
  .cat img.cat {
    top: -15px;
  }
}

@media all and (max-width: 600px) {
  .cat img.cat {
    top: -5px;
    width: 100px;
  }
}

@media all and (max-width: 500px) {
  .cat img.cat {
    top: -3px;
    width: 80px;
  }
}

@media all and (max-width: 400px) {
  .cat img.cat {
    top: -12px;
    width: 80px;
  }
}

.fifth_block_background {
  width: 90%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #FFF2CC;
  border: 15px solid #774F40;
  border-radius: 15px;
  padding-bottom: 20px;
  margin: 0 auto;
  position: relative;
}

.fifth_block_background > img {
  position: absolute;
}

.fifth_block_background > img:first-child {
  top: 60%;
  left: 0;
  width: 200px;
}

@media all and (max-width: 600px) {
  .fifth_block_background > img:first-child {
    width: 100px;
  }
}

.fifth_block_background > img:nth-child(2) {
  top: 20%;
  right: 0;
  width: 200px;
}

@media all and (max-width: 600px) {
  .fifth_block_background > img:nth-child(2) {
    width: 100px;
  }
}

.fifth_block_background .fifth_block_text {
  text-align: left;
  margin-bottom: 50px;
}

@media all and (max-width: 600px) {
  .fifth_block_background .fifth_block_text {
    position: relative;
    margin-bottom: 60px;
  }
}

@media all and (max-width: 500px) {
  .fifth_block_background .fifth_block_text {
    margin-bottom: 150px;
  }
}

@media all and (max-width: 500px) {
  .fifth_block_background .fifth_block_text:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.fifth_block_background .fifth_block_text .fifth_cat_img {
  margin-top: 100px;
  margin-right: 5%;
  vertical-align: top;
  width: 45%;
  border-radius: 20px;
  display: inline-block;
  background-color: #774F40CC;
  margin-left: 50px;
  position: relative;
}

@media all and (max-width: 800px) {
  .fifth_block_background .fifth_block_text .fifth_cat_img {
    width: 40%;
    margin-left: 25px;
  }
}

@media all and (max-width: 600px) {
  .fifth_block_background .fifth_block_text .fifth_cat_img {
    display: block;
    margin-left: 30px;
    margin-top: 100px;
    width: 60%;
  }
}

.fifth_block_background .fifth_block_text .fifth_cat_img img {
  width: 100%;
  height: 30%;
  position: relative;
  left: 30px;
  top: 20px;
}

@media all and (max-width: 800px) {
  .fifth_block_background .fifth_block_text .fifth_cat_img img {
    top: 10px;
    left: 15px;
  }
}

.fifth_block_background .fifth_block_text .fifth_cat_img a {
  position: absolute;
  right: -30%;
  bottom: -15%;
}

.fifth_block_background .fifth_block_text .fifth_cat_img .gogo_text {
  border: 1px solid black;
  background-color: #FED67E;
  -webkit-box-shadow: 1px 1px 1px lightgray;
          box-shadow: 1px 1px 1px lightgray;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 22px;
  background-color: #FED67E;
  color: #774F40;
  border: 0px;
}

@media all and (max-width: 800px) {
  .fifth_block_background .fifth_block_text .fifth_cat_img .gogo_text {
    font-size: 18px;
    width: 90%;
    font-size: 16px;
  }
}

@media all and (max-width: 600px) {
  .fifth_block_background .fifth_block_text .fifth_cat_img .gogo_text {
    position: relative;
    bottom: 10px;
  }
}

@media all and (max-width: 400px) {
  .fifth_block_background .fifth_block_text .fifth_cat_img .gogo_text {
    bottom: -10px;
  }
}

.fifth_block_background .fifth_block_text .fifth_sticker {
  position: relative;
  width: 40%;
  height: 50%;
  display: inline-block;
  text-align: center;
}

@media all and (max-width: 800px) {
  .fifth_block_background .fifth_block_text .fifth_sticker {
    width: 42%;
  }
}

@media all and (max-width: 700px) {
  .fifth_block_background .fifth_block_text .fifth_sticker {
    top: 18%;
    width: 45%;
  }
}

@media all and (max-width: 600px) {
  .fifth_block_background .fifth_block_text .fifth_sticker {
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    position: static;
  }
}

@media all and (max-width: 600px) {
  .fifth_block_background .fifth_block_text .fifth_sticker img {
    display: none;
  }
}

.fifth_block_background .fifth_block_text .fifth_sticker p {
  width: 60%;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #774F40;
  font-size: 20px;
  text-align: left;
}

@media all and (max-width: 1100px) {
  .fifth_block_background .fifth_block_text .fifth_sticker p {
    top: 25%;
  }
}

@media all and (max-width: 900px) {
  .fifth_block_background .fifth_block_text .fifth_sticker p {
    top: 20%;
    font-size: 18px;
  }
}

@media all and (max-width: 800px) {
  .fifth_block_background .fifth_block_text .fifth_sticker p {
    font-size: 16px;
  }
}

@media all and (max-width: 700px) {
  .fifth_block_background .fifth_block_text .fifth_sticker p {
    top: 15%;
  }
}

@media all and (max-width: 600px) {
  .fifth_block_background .fifth_block_text .fifth_sticker p {
    width: 70%;
    display: block;
    background-color: #FED67E;
    top: -60px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
  }
}

@media all and (max-width: 500px) {
  .fifth_block_background .fifth_block_text .fifth_sticker p {
    top: -100px;
  }
}

@media all and (max-width: 400px) {
  .fifth_block_background .fifth_block_text .fifth_sticker p {
    top: -100px;
  }
}

.fifth_block_background .fifth_block_text_sec {
  text-align: left;
  margin-bottom: 50px;
}

.fifth_block_background .fifth_block_text_sec .fifth_cat_img {
  margin-top: 100px;
  margin-right: 5%;
  vertical-align: top;
  width: 45%;
  border-radius: 20px;
  display: inline-block;
  background-color: #774F40CC;
  margin-left: 50px;
  position: relative;
}

.fifth_block_background .fifth_block_text_sec .fifth_cat_img img {
  width: 100%;
  height: 30%;
  position: relative;
  left: 30px;
  top: 20px;
}

.fifth_block_background .fifth_block_text_sec .fifth_cat_img a {
  position: absolute;
  right: -30%;
  bottom: -15%;
}

.fifth_block_background .fifth_block_text_sec .fifth_cat_img .gogo_text {
  background-color: #FED67E;
  -webkit-box-shadow: 1px 1px 1px lightgray;
          box-shadow: 1px 1px 1px lightgray;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 22px;
  background-color: #FED67E;
  color: #774F40;
  border: 0px;
}

.fifth_block_background .fifth_block_text_sec .fifth_sticker {
  position: relative;
  width: 40%;
  height: 50%;
  display: inline-block;
  text-align: center;
}

.fifth_block_background .fifth_block_text_sec .fifth_sticker p {
  width: 60%;
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #774F40;
  font-size: 20px;
}

@media all and (max-width: 1100px) {
  .fifth_block_background .fifth_block_text_sec .fifth_sticker p {
    top: 25%;
  }
}

@media all and (max-width: 900px) {
  .fifth_block_background .fifth_block_text_sec .fifth_sticker p {
    top: 20%;
    font-size: 18px;
  }
}

.fifth_block_background .fifth_block_text_three {
  text-align: left;
  margin-bottom: 50px;
}

.fifth_block_background .fifth_block_text_three .fifth_cat_img {
  margin-top: 100px;
  margin-right: 5%;
  vertical-align: top;
  width: 45%;
  border-radius: 20px;
  display: inline-block;
  background-color: #774F40CC;
  margin-left: 50px;
  position: relative;
}

.fifth_block_background .fifth_block_text_three .fifth_cat_img img {
  width: 100%;
  height: 30%;
  position: relative;
  left: 30px;
  top: 20px;
}

.fifth_block_background .fifth_block_text_three .fifth_cat_img a {
  position: absolute;
  right: -30%;
  bottom: -15%;
}

.fifth_block_background .fifth_block_text_three .fifth_cat_img .gogo_text {
  background-color: #FED67E;
  -webkit-box-shadow: 1px 1px 1px lightgray;
          box-shadow: 1px 1px 1px lightgray;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 22px;
  background-color: #FED67E;
  color: #774F40;
  border: 0px;
}

.fifth_block_background .fifth_block_text_three .fifth_sticker {
  position: relative;
  width: 40%;
  height: 50%;
  display: inline-block;
  text-align: center;
}

.fifth_block_background .fifth_block_text_three .fifth_sticker p {
  width: 60%;
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #774F40;
  font-size: 20px;
}

@media all and (max-width: 1100px) {
  .fifth_block_background .fifth_block_text_three .fifth_sticker p {
    top: 25%;
  }
}

@media all and (max-width: 900px) {
  .fifth_block_background .fifth_block_text_three .fifth_sticker p {
    top: 20%;
    font-size: 18px;
  }
}

.sixth_block .sixth_catopia {
  height: 100px;
  margin-top: 80px;
}

.sixth_block .recommend_number {
  width: 60%;
  margin: 0 auto;
}

.sixth_block .recommend_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sixth_block .recommend_content .recommend {
  width: 22%;
}

.sixth_block .recommend_content .recommend div.text {
  background-color: #FFF2CC;
  border-radius: 10px;
  height: 200px;
  margin-top: 15px;
  text-align: center;
  padding-top: 10px;
}

.sixth_block .recommend_content .recommend div.text p {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 18px;
  color: #774F40;
}

.sixth_block .recommend_content .recommend div.text p:last-child {
  text-align: left;
}

.sixth_block .recommend_content .recommend img {
  width: 100%;
}

article.index_last_block {
  height: 500px;
  margin-top: 80px;
  margin-bottom: 120px;
}

article.index_last_block .last_first_block div {
  display: inline-block;
  width: 40%;
}

article.index_last_block .last_first_block div:nth-child(2) {
  position: relative;
  bottom: 50px;
  right: 100px;
}

article.index_last_block .last_sec_block div {
  display: inline-block;
  width: 40%;
}

article.index_last_block .last_sec_block div:nth-child(1) {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  position: relative;
  bottom: 50px;
  left: 150px;
}

s
.index_background {
  background-size: 100%;
  width: 100%;
  background-repeat: no-repeat;
  height: 300px;
  background-position: 0 -60px;
  margin: 0 auto;
  margin-bottom: 50px;
}
/*# sourceMappingURL=index.css.map */