div.login_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
}

div.login_container > div.login_item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.login_container > div.login_item > form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 66%;
}

div.login_container > div.login_item > form > div.login_input_and_icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.login_container > div.login_item > form > div.login_input_and_icon > img {
  position: absolute;
  bottom: 0;
}

div.login_container > div.login_item > form > div.login_input_and_icon > input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  border-bottom: 1px solid #774F40;
  outline: none;
  padding: 30px 20px 0 30px;
}

div.login_container > div.login_item > form > div.login_input_and_icon > input::-webkit-input-placeholder {
  color: #774F40;
}

div.login_container > div.login_item > form > div.login_input_and_icon > input:-ms-input-placeholder {
  color: #774F40;
}

div.login_container > div.login_item > form > div.login_input_and_icon > input::-ms-input-placeholder {
  color: #774F40;
}

div.login_container > div.login_item > form > div.login_input_and_icon > input::placeholder {
  color: #774F40;
}

div.login_container > div.login_item > form > button {
  height: 54px;
  margin: 32px 0 46px;
  -webkit-box-shadow: 1px 1px 1px lightgray;
          box-shadow: 1px 1px 1px lightgray;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 22px;
  background-color: #FED67E;
  color: #774F40;
  border: 0px;
}

div.login_container > div.login_item > form > button:hover {
  cursor: pointer;
}

div.login_container > div.login_item > div.login_register_button_and_icon {
  text-align: center;
}

div.login_container > div.login_item > div.login_register_button_and_icon > a {
  color: #774F40;
  font-size: 18px;
  text-decoration: none;
}

div.login_container > div.login_item > div.login_register_button_and_icon > div.login_hr_and_icon > div.login_hr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 16px 0;
}

div.login_container > div.login_item > div.login_register_button_and_icon > div.login_hr_and_icon > div.login_hr > span {
  font-size: 18px;
}

div.login_container > div.login_item > div.login_register_button_and_icon > div.login_hr_and_icon > div.login_hr > div.login_hr_line {
  display: inline-block;
  width: calc(50% - 35px);
  border-top: 1px solid #774F40;
  vertical-align: middle;
}

div.login_container > div.login_item > div.login_register_button_and_icon > div.login_hr_and_icon > div.login_hr > span {
  color: #774F40;
}

div.login_container > div.login_item > div.login_register_button_and_icon > div.login_hr_and_icon > a {
  text-decoration: none;
}

div.login_container > div.login_item > div.login_register_button_and_icon > div.login_hr_and_icon > a > img {
  margin: 0 20px;
}
/*# sourceMappingURL=login.css.map */