div.message_write_background {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.3;
  z-index: 998;
}

div.message_write_message_container {
  position: fixed;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-size: cover;
  width: 50%;
  border-radius: 15px;
  padding: 0 20px 20px;
  background-color: #fff;
  z-index: 999;
  -webkit-box-shadow: 5px 5px 5px lightgray;
          box-shadow: 5px 5px 5px lightgray;
}

div.message_write_message_container div.message_write_message_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.message_write_message_container div.message_write_message_title p {
  font-size: 22px;
  color: #774F40;
}

div.message_write_message_container div.message_write_message_title div.message_write_message_close {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: lightgray;
  position: relative;
}

div.message_write_message_container div.message_write_message_title div.message_write_message_close div {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 80%;
  border-top: 3px solid #774F40;
}

div.message_write_message_container div.message_write_message_title div.message_write_message_close div:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

div.message_write_message_container div.message_write_message_title div.message_write_message_close div:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

div.message_write_message_container textarea {
  resize: none;
  width: calc(100% - 40px);
  height: calc(25vh - 40px);
  outline: none;
  border: none;
  color: #774F40;
}

div.message_write_message_container textarea::-webkit-input-placeholder {
  color: #774F40;
}

div.message_write_message_container textarea:-ms-input-placeholder {
  color: #774F40;
}

div.message_write_message_container textarea::-ms-input-placeholder {
  color: #774F40;
}

div.message_write_message_container textarea::placeholder {
  color: #774F40;
}

div.message_write_message_container div.message_write_img_container {
  width: 100%;
  height: 20vh;
  border: 1px dashed;
  text-align: center;
}

div.message_write_message_container div.message_write_img_container_overflowY {
  border: none;
}

div.message_write_message_container div.message_write_img_container_open {
  height: 30vh;
}

div.message_write_message_container div.message_write_message_img_file_and_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 20px 0;
}

div.message_write_message_container div.message_write_message_img_file_and_button label.message_write_message_img_file_container {
  -webkit-box-shadow: 1px 1px 1px lightgray;
          box-shadow: 1px 1px 1px lightgray;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 22px;
  background-color: #FED67E;
  color: #774F40;
  border: 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0;
  text-align: center;
  border-radius: 10px;
  color: #774F40;
  font-size: 18px;
  cursor: pointer;
}

div.message_write_message_container div.message_write_message_img_file_and_button button {
  -webkit-box-shadow: 1px 1px 1px lightgray;
          box-shadow: 1px 1px 1px lightgray;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 22px;
  background-color: #FED67E;
  color: #774F40;
  border: 0px;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  margin-left: 20px;
  padding: 0;
  cursor: pointer;
}

div.message_write_message_container_open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.message_input_container {
  padding: 10px 0;
  background-color: #EAE4D2;
  width: 100vw;
}

div.message_input_container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 90%;
  margin: auto;
}

div.message_input_container div img {
  width: 10%;
  height: 80px;
}

div.message_input_container div div.input_and_laber_for_files {
  position: relative;
  margin-left: 20px;
  width: 40%;
}

div.message_input_container div div.input_and_laber_for_files input {
  cursor: pointer;
  height: 50px;
  width: 100%;
  border-radius: 20px;
  outline: none;
  border: none;
  font-size: 18px;
  padding: 0 16px;
  color: #774F40;
  -webkit-box-shadow: 5px 5px 5px lightgrey;
          box-shadow: 5px 5px 5px lightgrey;
}

div.message_input_container div div.input_and_laber_for_files input::-webkit-input-placeholder {
  color: #774F40;
}

div.message_input_container div div.input_and_laber_for_files input:-ms-input-placeholder {
  color: #774F40;
}

div.message_input_container div div.input_and_laber_for_files input::-ms-input-placeholder {
  color: #774F40;
}

div.message_input_container div div.input_and_laber_for_files input::placeholder {
  color: #774F40;
}

<<<<<<< HEAD
div.message_input_container div div.input_and_laber_for_files label.message_img_file_container {
  width: 15%;
  position: absolute;
  right: 0;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

div.message_input_container div div.input_and_laber_for_files label.message_img_file_container img {
  width: 100%;
  height: 50px;
  display: block;
}

=======
>>>>>>> a1e143bba82b9fd48ff164e2c3119f819d313767
div.message_input_container div input[type='file'] {
  position: absolute;
  right: 200%;
}

div.message_and_comment_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 850px;
  margin: 50px auto;
}

div.message_and_comment_container div.message_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 850px;
  background-repeat: no-repeat;
  border-radius: 15px;
}

div.message_and_comment_container div.message_container div.message_setting_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 90%;
  margin-top: 16px;
}

div.message_and_comment_container div.message_container div.message_setting_container img {
  cursor: pointer;
}

div.message_and_comment_container div.message_container div.message_user_and_time_and_like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 615px;
  margin-bottom: 16px;
}

div.message_and_comment_container div.message_container div.message_user_and_time_and_like div.message_img_and_user_and_time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 5%;
}

div.message_and_comment_container div.message_container div.message_user_and_time_and_like div.message_img_and_user_and_time img {
  width: 100px;
  height: 60.5px;
}

div.message_and_comment_container div.message_container div.message_user_and_time_and_like div.message_user_and_time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 16px;
}

div.message_and_comment_container div.message_container div.message_user_and_time_and_like div.message_user_and_time p {
  font-size: 22px;
  color: #774F40;
  margin: 0;
}

div.message_and_comment_container div.message_container div.message_user_and_time_and_like div.message_like_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0;
  background-color: #F4E6CD;
  color: #774F40;
  padding: 0 16px;
  border-radius: 15px;
}

div.message_and_comment_container div.message_container div.message_user_and_time_and_like div.message_like_container img {
  width: 30px;
  height: 30px;
}

div.message_and_comment_container div.message_container div.message_user_and_time_and_like div.message_like_container p {
  font-size: 18px;
  margin-left: 8px;
}

div.message_and_comment_container div.message_content_and_comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 535px;
  border-radius: 15px;
  background-color: #F4E6CD;
  padding: 20px 40px;
  margin-bottom: 30px;
}

div.message_and_comment_container div.message_content_and_comment div.message_content_text p {
  color: #774F40;
  font-size: 18px;
}

div.message_and_comment_container div.message_content_and_comment img.message_content_img {
  width: 100%;
  height: 250px;
  margin-bottom: 30px;
}

div.message_and_comment_container div.message_content_and_comment input {
  padding: 8px 16px;
  font-size: 18px;
  color: #774F40;
  border-radius: 20px;
  outline: none;
  border: none;
}

div.message_and_comment_container div.message_content_and_comment input::-webkit-input-placeholder {
  color: #774F40;
}

div.message_and_comment_container div.message_content_and_comment input:-ms-input-placeholder {
  color: #774F40;
}

div.message_and_comment_container div.message_content_and_comment input::-ms-input-placeholder {
  color: #774F40;
}

div.message_and_comment_container div.message_content_and_comment input::placeholder {
  color: #774F40;
}

div.message_and_comment_container div.message_content_and_comment div.message_comment_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 16px 0;
  background-color: #fff;
  border-radius: 15px;
  padding: 5px 20px;
}

div.message_and_comment_container div.message_content_and_comment div.message_comment_container img {
  width: 63px;
  height: 57px;
}

div.message_and_comment_container div.message_content_and_comment div.message_comment_container p {
  font-size: 18px;
  color: #774F40;
}
/*# sourceMappingURL=message.css.map */