div.register_second_container {
  width: 80vw;
  margin: 50px auto;
}

div.register_second_container > div.register_second_title {
  width: 100%;
  text-align: center;
  line-height: 3;
  background-color: #EAE4D2;
  color: #774F40;
  border: 1px solid #774F40;
  font-weight: bold;
  font-size: 22px;
}

@media all and (max-width: 900px) {
  div.register_second_container > div.register_second_title {
    font-size: 20px;
  }
}

@media all and (max-width: 700px) {
  div.register_second_container > div.register_second_title {
    font-size: 18px;
  }
}

div.register_second_container > div.register_second_process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 32px 0;
}

div.register_second_container > div.register_second_process > div.register_second_process_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 248px;
  height: 88px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media all and (max-width: 1000px) {
  div.register_second_container > div.register_second_process > div.register_second_process_item {
    width: 228px;
    height: 80px;
  }
}

@media all and (max-width: 900px) {
  div.register_second_container > div.register_second_process > div.register_second_process_item {
    width: 200px;
    height: 70px;
  }
}

@media all and (max-width: 800px) {
  div.register_second_container > div.register_second_process > div.register_second_process_item {
    width: 180px;
    height: 60px;
  }
}

@media all and (max-width: 700px) {
  div.register_second_container > div.register_second_process > div.register_second_process_item {
    width: 160px;
    height: 50px;
  }
}

@media all and (max-width: 600px) {
  div.register_second_container > div.register_second_process > div.register_second_process_item {
    width: 140px;
    height: 50px;
  }
}

@media all and (max-width: 500px) {
  div.register_second_container > div.register_second_process > div.register_second_process_item {
    width: 100px;
    height: 35px;
  }
}

@media all and (max-width: 400px) {
  div.register_second_container > div.register_second_process > div.register_second_process_item {
    width: 85px;
    height: 30px;
  }
}

div.register_second_container > div.register_second_process > div.register_second_process_item > p {
  color: #774F40;
  font-size: 22px;
}

@media all and (max-width: 900px) {
  div.register_second_container > div.register_second_process > div.register_second_process_item > p {
    font-size: 20px;
  }
}

@media all and (max-width: 800px) {
  div.register_second_container > div.register_second_process > div.register_second_process_item > p {
    font-size: 18px;
  }
}

@media all and (max-width: 700px) {
  div.register_second_container > div.register_second_process > div.register_second_process_item > p {
    font-size: 16px;
  }
}

@media all and (max-width: 600px) {
  div.register_second_container > div.register_second_process > div.register_second_process_item > p {
    font-size: 14px;
  }
}

@media all and (max-width: 500px) {
  div.register_second_container > div.register_second_process > div.register_second_process_item > p {
    font-size: 12px;
  }
}

div.register_second_container > form {
  width: 100%;
  font-size: 22px;
}

@media all and (max-width: 900px) {
  div.register_second_container > form {
    font-size: 20px;
  }
}

@media all and (max-width: 700px) {
  div.register_second_container > form {
    font-size: 16px;
  }
}

@media all and (max-width: 500px) {
  div.register_second_container > form {
    font-size: 12px;
  }
}

div.register_second_container > form > div.register_second_circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #FED67E;
  display: inline-block;
}

div.register_second_container > form > label {
  color: #774F40;
  font-weight: bold;
}

div.register_second_container > form > div.register_second_confirm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
}

div.register_second_container > form > div.register_second_confirm > div:first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EAE4D2;
  color: #774F40;
  border: 1px solid #774F40;
  font-weight: bold;
}

div.register_second_container > form > div.register_second_confirm > div:last-child {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  border: 1px solid #774F40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

div.register_second_container > form > div.register_second_confirm > div:last-child > label {
  margin-top: 32px;
  color: #774F40;
  font-weight: bold;
}

div.register_second_container > form > div.register_second_confirm > div:last-child > label:first-child {
  margin-top: 0;
}

div.register_second_container > form > div.register_second_confirm > div:last-child > p {
  font-size: 16px;
  color: #774F40;
}

@media all and (max-width: 900px) {
  div.register_second_container > form > div.register_second_confirm > div:last-child > p {
    font-size: 14px;
  }
}

@media all and (max-width: 700px) {
  div.register_second_container > form > div.register_second_confirm > div:last-child > p {
    font-size: 12px;
  }
}

div.register_second_container > form > div.register_second_confirm > div:last-child > div {
  margin-top: 32px;
  color: #774F40;
  font-weight: bold;
}

div.register_second_container > form > div.register_second_confirm > div:last-child > div > i {
  cursor: not-allowed;
}

div.register_second_container > form > div.register_second_confirm > div:last-child > div > i.register_second_icon_hide {
  display: none;
}

div.register_second_container > form > input[type='checkbox'] {
  margin-top: 32px;
}

div.register_second_container > form > input[type='checkbox']:hover {
  cursor: pointer;
}

div.register_second_container > form > label:hover {
  cursor: pointer;
}

div.register_second_container > form > div.register_second_button_collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media all and (max-width: 700px) {
  div.register_second_container > form > div.register_second_button_collection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 32px;
  }
}

div.register_second_container > form > div.register_second_button_collection > button[type='button'] {
  -webkit-box-shadow: 1px 1px 1px lightgray;
          box-shadow: 1px 1px 1px lightgray;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 22px;
  background-color: #FED67E;
  color: #774F40;
  border: 0px;
  margin: 100px 0;
  width: 386px;
  height: 90px;
}

@media all and (max-width: 1000px) {
  div.register_second_container > form > div.register_second_button_collection > button[type='button'] {
    width: 300px;
  }
}

@media all and (max-width: 900px) {
  div.register_second_container > form > div.register_second_button_collection > button[type='button'] {
    width: 260px;
    height: 75px;
    font-size: 20px;
  }
}

@media all and (max-width: 800px) {
  div.register_second_container > form > div.register_second_button_collection > button[type='button'] {
    width: 220px;
    height: 60px;
    font-size: 18px;
  }
}

@media all and (max-width: 700px) {
  div.register_second_container > form > div.register_second_button_collection > button[type='button'] {
    width: 260px;
    height: 60px;
    margin: 16px 0;
    font-size: 16px;
  }
}

@media all and (max-width: 400px) {
  div.register_second_container > form > div.register_second_button_collection > button[type='button'] {
    width: 220px;
    height: 55px;
    margin: 16px 0;
  }
}

div.register_second_container > form > div.register_second_button_collection > button[type='button']:hover {
  cursor: pointer;
}
/*# sourceMappingURL=register_second.css.map */