div.register_first_container {
  width: 80vw;
  margin: 50px auto;
}

div.register_first_container > div.register_first_title {
  width: 100%;
  text-align: center;
  line-height: 3;
  background-color: #EAE4D2;
  color: #774F40;
  border: 1px solid #774F40;
  font-weight: bold;
  font-size: 22px;
}

div.register_first_container > div.register_first_process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 32px 0;
}

div.register_first_container > div.register_first_process > div.register_first_process_item {
  width: 285px;
  text-align: center;
  background-color: #FFF2CC;
  border-radius: 10px;
}

div.register_first_container > div.register_first_process > div.register_first_process_item_current {
  background-color: #FED67E;
}

div.register_first_container > div.register_first_process > div.register_first_process_item > p {
  color: #774F40;
  font-size: 22px;
}

div.register_first_container > form {
  width: 100%;
  font-size: 22px;
}

div.register_first_container > form > div.register_first_circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #FED67E;
  display: inline-block;
}

div.register_first_container > form > label {
  color: #774F40;
  font-weight: bold;
}

div.register_first_container > form > div.register_first_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
}

div.register_first_container > form > div.register_first_input > div:first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EAE4D2;
  color: #774F40;
  border: 1px solid #774F40;
  font-weight: bold;
}

div.register_first_container > form > div.register_first_input > div:last-child {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  border: 1px solid #774F40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

div.register_first_container > form > div.register_first_input > div:last-child > label {
  margin-top: 32px;
  color: #774F40;
  font-weight: bold;
}

div.register_first_container > form > div.register_first_input > div:last-child > label:first-child {
  margin-top: 0;
}

div.register_first_container > form > div.register_first_input > div:last-child > div {
  margin-top: 32px;
  color: #774F40;
  font-weight: bold;
}

div.register_first_container > form > div.register_first_input > div:last-child > div > i {
  cursor: pointer;
}

div.register_first_container > form > div.register_first_input > div:last-child > div > i.register_first_icon_hide {
  display: none;
}

div.register_first_container > form > div.register_first_input > div:last-child > input {
  width: 80%;
  line-height: 2;
  outline: none;
  border: 1px solid #774F40;
}

div.register_first_container > form > input[type='checkbox'] {
  margin-top: 32px;
}

div.register_first_container > form > input[type='checkbox']:hover {
  cursor: pointer;
}

div.register_first_container > form > label:hover {
  cursor: pointer;
}

div.register_first_container > form > button[type='button'] {
  -webkit-box-shadow: 1px 1px 1px lightgray;
          box-shadow: 1px 1px 1px lightgray;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 22px;
  background-color: #FED67E;
  color: #774F40;
  border: 0px;
  display: block;
  margin: 100px auto;
  width: 386px;
  height: 90px;
}

div.register_first_container > form > button[type='button']:hover {
  cursor: pointer;
}
/*# sourceMappingURL=register_first.css.map */