div.use_search_container {
  position: fixed;
  top: 90px;
  width: 100%;
  height: 50px;
  background-color: #F4E6CD;
  z-index: 49;
}

@media all and (max-width: 700px) {
  div.use_search_container {
    height: 100px;
  }
}

div.use_search_container div.use_search_and_index_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 100%;
  margin: auto;
}

@media all and (max-width: 700px) {
  div.use_search_container div.use_search_and_index_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

div.use_search_container div.use_search_and_index_container div.use_index p {
  font-size: 18px;
  color: #774F40;
}

@media all and (max-width: 700px) {
  div.use_search_container div.use_search_and_index_container div.use_index p {
    margin-top: 10px;
  }
}

div.use_search_container div.use_search_and_index_container div.use_search_and_search_button {
  position: relative;
  width: 178px;
}

div.use_search_container div.use_search_and_index_container div.use_search_and_search_button input.input_search_product {
  border-radius: 15px;
  outline: none;
  border: none;
  padding: 8px;
}

div.use_search_container div.use_search_and_index_container div.use_search_and_search_button input::-webkit-input-placeholder {
  color: #774F40;
}

div.use_search_container div.use_search_and_index_container div.use_search_and_search_button input:-ms-input-placeholder {
  color: #774F40;
}

div.use_search_container div.use_search_and_index_container div.use_search_and_search_button input::-ms-input-placeholder {
  color: #774F40;
}

div.use_search_container div.use_search_and_index_container div.use_search_and_search_button input::placeholder {
  color: #774F40;
}

div.use_search_container div.use_search_and_index_container div.use_search_and_search_button input.input_search_product_open {
  border-radius: 15px 15px 0 0;
}

div.use_search_container div.use_search_and_index_container div.use_search_and_search_button ul.use_search_content {
  position: absolute;
  margin: 0;
  width: 100%;
  font-size: 18px;
  border-radius: 0 0 15px 15px;
  padding: 0;
  background-color: #fff;
  display: none;
  overflow: hidden;
}

div.use_search_container div.use_search_and_index_container div.use_search_and_search_button ul.use_search_content li {
  list-style: none;
  width: calc(100% - 16px);
  padding: 8px;
  background-color: #fff;
}

div.use_search_container div.use_search_and_index_container div.use_search_and_search_button ul.use_search_content li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

div.use_search_container div.use_search_and_index_container div.use_search_and_search_button ul.use_search_content li a p {
  font-size: 16px;
  color: #774F40;
}

div.use_search_container div.use_search_and_index_container div.use_search_and_search_button ul.use_search_content li a span {
  font-size: 18px;
  font-weight: bold;
}

div.use_search_container div.use_search_and_index_container div.use_search_and_search_button ul.use_search_content li a img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

div.use_search_container div.use_search_and_index_container div.use_search_and_search_button ul.use_search_content li:hover {
  cursor: pointer;
  background-color: #FED67E;
}

div.use_search_container div.use_search_and_index_container div.use_search_and_search_button ul.use_search_content_open {
  display: block;
}

div.use_search_container div.use_search_and_index_container div.use_search_and_search_button div.use_search_button {
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 0;
  width: 36px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0 15px 15px 0;
}

div.use_search_container div.use_search_and_index_container div.use_search_and_search_button div.use_search_button_open {
  border-radius: 0 15px 0 0;
}

div.use_filter_container_and_use_product_overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px auto;
  width: 80%;
}

@media all and (max-width: 700px) {
  div.use_filter_container_and_use_product_overview {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 100px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

div.use_filter_container_and_use_product_overview ul.use_filter_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 172px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 250px;
  height: 180px;
  border-radius: 15px;
  border: 1px solid;
  overflow: hidden;
  padding: 0 0 16px;
  margin: 0 0 32px 0;
  color: #774F40;
  background-color: #fff;
  opacity: 1;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

@media all and (max-width: 700px) {
  div.use_filter_container_and_use_product_overview ul.use_filter_container {
    position: static;
    margin: 50px 0 0;
    border: none;
    border-radius: 0;
    width: 100%;
    height: auto;
  }
}

div.use_filter_container_and_use_product_overview ul.use_filter_container li {
  font-size: 18px;
  list-style: none;
  text-align: center;
}

@media all and (max-width: 700px) {
  div.use_filter_container_and_use_product_overview ul.use_filter_container li {
    text-align: left;
  }
}

div.use_filter_container_and_use_product_overview ul.use_filter_container li hr {
  width: 80%;
}

@media all and (max-width: 700px) {
  div.use_filter_container_and_use_product_overview ul.use_filter_container li hr {
    display: none;
  }
}

div.use_filter_container_and_use_product_overview ul.use_filter_container li p {
  margin: 32px 0 0;
}

@media all and (max-width: 700px) {
  div.use_filter_container_and_use_product_overview ul.use_filter_container li p {
    font-size: 18px;
    font-weight: bold;
    margin-top: 24px;
  }
}

div.use_filter_container_and_use_product_overview ul.use_filter_container li ul {
  padding: 0;
  text-align: center;
}

@media all and (max-width: 700px) {
  div.use_filter_container_and_use_product_overview ul.use_filter_container li ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}

div.use_filter_container_and_use_product_overview ul.use_filter_container li ul li.use_filter_condition_item {
  margin: 8px 0;
  font-size: 16px;
}

@media all and (max-width: 700px) {
  div.use_filter_container_and_use_product_overview ul.use_filter_container li ul li.use_filter_condition_item {
    background-color: #FFF2CC;
    border-radius: 10px;
    margin-right: 16px;
    padding: 4px 8px;
  }
}

div.use_filter_container_and_use_product_overview ul.use_filter_container li ul li.use_filter_condition_item:hover {
  cursor: pointer;
}

@media all and (max-width: 700px) {
  div.use_filter_container_and_use_product_overview ul.use_filter_container li ul li.use_filter_condition_item:hover {
    background-color: #FED67E;
  }
}

div.use_filter_container_and_use_product_overview ul.use_filter_container li ul li.use_filter_condition_item_clicked {
  font-size: 20px;
  font-weight: bold;
}

@media all and (max-width: 700px) {
  div.use_filter_container_and_use_product_overview ul.use_filter_container li ul li.use_filter_condition_item_clicked {
    background-color: #FED67E;
  }
}

div.use_filter_container_and_use_product_overview ul.use_filter_container li:first-child {
  margin: 0;
}

div.use_filter_container_and_use_product_overview ul.use_filter_container li:first-child p {
  font-size: 22px;
  background-color: #F4E6CD;
  margin: 0;
}

div.use_filter_container_and_use_product_overview ul.use_filter_container_hide {
  width: 0;
  height: 0;
  border: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
}

div.use_filter_container_and_use_product_overview div.use_product_overview {
  -webkit-column-width: 420px;
          column-width: 420px;
  width: calc(100% - 252px);
  margin: 32px 0 0 300px;
}

@media all and (max-width: 1380px) {
  div.use_filter_container_and_use_product_overview div.use_product_overview {
    -webkit-column-width: 300px;
            column-width: 300px;
    margin: 32px 0 0 300px;
    padding-left: 3%;
  }
}

@media all and (max-width: 1100px) {
  div.use_filter_container_and_use_product_overview div.use_product_overview {
    width: 900px;
  }
}

@media all and (max-width: 700px) {
  div.use_filter_container_and_use_product_overview div.use_product_overview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    padding: 0;
    margin-top: 50px;
  }
}

div.use_filter_container_and_use_product_overview div.use_product_overview div.use_product_overview_item {
  width: 450px;
  margin: 0 auto;
  border: 1px solid #774F40;
  margin-bottom: 20px;
}

@media all and (max-width: 1580px) {
  div.use_filter_container_and_use_product_overview div.use_product_overview div.use_product_overview_item {
    width: 400px;
    margin-bottom: 20px;
  }
}

@media all and (max-width: 1480px) {
  div.use_filter_container_and_use_product_overview div.use_product_overview div.use_product_overview_item {
    width: 350px;
    display: inline-block;
    margin: 0 0 0 5%;
    margin-bottom: 20px;
  }
}

@media all and (max-width: 1380px) {
  div.use_filter_container_and_use_product_overview div.use_product_overview div.use_product_overview_item {
    width: 300px;
    display: inline-block;
    margin: 0 5% 0 0;
    margin-bottom: 20px;
  }
}

@media all and (max-width: 1200px) {
  div.use_filter_container_and_use_product_overview div.use_product_overview div.use_product_overview_item {
    width: 245px;
    display: inline-block;
    margin: 0 5% 0 0;
    margin-bottom: 20px;
  }
}

@media all and (max-width: 1100px) {
  div.use_filter_container_and_use_product_overview div.use_product_overview div.use_product_overview_item {
    width: 200px;
    display: inline-block;
    margin: 0 5% 0 0;
    margin-bottom: 20px;
  }
}

@media all and (max-width: 1000px) {
  div.use_filter_container_and_use_product_overview div.use_product_overview div.use_product_overview_item {
    width: 400px;
    margin-bottom: 20px;
  }
}

@media all and (max-width: 900px) {
  div.use_filter_container_and_use_product_overview div.use_product_overview div.use_product_overview_item {
    margin-left: -30px;
    margin-bottom: 20px;
  }
}

@media all and (max-width: 800px) {
  div.use_filter_container_and_use_product_overview div.use_product_overview div.use_product_overview_item {
    margin-left: -40px;
    width: 320px;
    margin-bottom: 20px;
  }
}

@media all and (max-width: 700px) {
  div.use_filter_container_and_use_product_overview div.use_product_overview div.use_product_overview_item {
    margin-left: 0px;
    width: 320px;
    padding-left: 0;
    margin-bottom: 20px;
  }
}

div.use_filter_container_and_use_product_overview div.use_product_overview div.use_product_overview_item img.use_product_overview_item_img {
  width: 450px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media all and (max-width: 1580px) {
  div.use_filter_container_and_use_product_overview div.use_product_overview div.use_product_overview_item img.use_product_overview_item_img {
    width: 400px;
    height: 350px;
  }
}

@media all and (max-width: 1480px) {
  div.use_filter_container_and_use_product_overview div.use_product_overview div.use_product_overview_item img.use_product_overview_item_img {
    width: 320px;
    height: 270px;
  }
}

@media all and (max-width: 1380px) {
  div.use_filter_container_and_use_product_overview div.use_product_overview div.use_product_overview_item img.use_product_overview_item_img {
    width: 330px;
    height: 250px;
  }
}

@media all and (max-width: 1200px) {
  div.use_filter_container_and_use_product_overview div.use_product_overview div.use_product_overview_item img.use_product_overview_item_img {
    width: 240px;
    height: 220px;
  }
}

@media all and (max-width: 1100px) {
  div.use_filter_container_and_use_product_overview div.use_product_overview div.use_product_overview_item img.use_product_overview_item_img {
    width: 200px;
    height: 180px;
  }
}

@media all and (max-width: 1000px) {
  div.use_filter_container_and_use_product_overview div.use_product_overview div.use_product_overview_item img.use_product_overview_item_img {
    width: 400px;
    height: 350px;
  }
}

@media all and (max-width: 800px) {
  div.use_filter_container_and_use_product_overview div.use_product_overview div.use_product_overview_item img.use_product_overview_item_img {
    width: 320px;
    height: 270px;
  }
}

div.use_filter_container_and_use_product_overview div.use_product_overview div.use_product_overview_item img.use_product_overview_item_img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

div.use_filter_container_and_use_product_overview div.use_product_overview div.use_product_overview_item div.use_product_title_and_price_and_button {
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EDDAB8;
}

div.use_filter_container_and_use_product_overview div.use_product_overview div.use_product_overview_item div.use_product_title_and_price_and_button p {
  margin: 0;
  padding-left: 20px;
}

div.use_filter_container_and_use_product_overview div.use_product_overview div.use_product_overview_item div.use_product_title_and_price_and_button div.use_product_title_and_price {
  width: auto;
  color: #774F40;
}

div.use_filter_container_and_use_product_overview div.use_product_overview div.use_product_overview_item div.use_product_title_and_price_and_button div.use_product_content_button {
  width: 40px;
  height: 40px;
}

ul.use_product_page_chose_container {
  position: absolute;
  left: 58%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 500px;
}

@media (min-width: 1000px) and (max-width: 1440px) {
  ul.use_product_page_chose_container {
    width: 400px;
    left: 60%;
  }
}

@media (min-width: 700px) and (max-width: 1000px) {
  ul.use_product_page_chose_container {
    width: 400px;
    left: 66%;
  }
}

@media (min-width: 320px) and (max-width: 700px) {
  ul.use_product_page_chose_container {
    width: 280px;
    left: 50%;
  }
}

ul.use_product_page_chose_container li.use_page_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  width: 51px;
  height: 51px;
  border-radius: 20px;
  background-color: #FFF2CC;
  border: 1px solid #774F40;
  font-size: 18px;
}

@media all and (max-width: 1000px) {
  ul.use_product_page_chose_container li.use_page_item {
    width: 41px;
    height: 41px;
    border-radius: 15px;
    font-size: 16px;
  }
}

@media all and (max-width: 700px) {
  ul.use_product_page_chose_container li.use_page_item {
    width: 31px;
    height: 31px;
    border-radius: 10px;
    font-size: 14px;
  }
}

ul.use_product_page_chose_container li.use_page_item:hover {
  cursor: pointer;
  background-color: #FED67E;
}

ul.use_product_page_chose_container li.use_page_item_clicked {
  background-color: #FED67E;
}

.use_product_history {
  background-color: #EAE4D2;
  width: 95%;
  margin: 0 auto;
  margin-top: 150px;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 1px lightgray;
          box-shadow: 1px 1px 1px lightgray;
  padding-top: 10px;
  padding-bottom: 50px;
  margin-bottom: 80px;
}

.use_product_history p {
  font-size: 22px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #FFF2CC;
  padding: 5px 20px 5px 20px;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px;
  color: #774F40;
}

.use_product_history .use_product_history_product {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.use_product_history .use_product_history_product :hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.use_product_history .use_product_history_product img {
  cursor: pointer;
  width: 25%;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .use_product_history {
    background-color: #EAE4D2;
    width: 95%;
    margin: 0 auto;
    margin-top: 150px;
    border-radius: 20px;
    -webkit-box-shadow: 1px 1px 1px lightgray;
            box-shadow: 1px 1px 1px lightgray;
    padding-top: 10px;
    padding-bottom: 50px;
    margin-bottom: 80px;
  }
  .use_product_history p {
    font-size: 22px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: #FFF2CC;
    padding: 5px 20px 5px 20px;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #774F40;
  }
  .use_product_history .use_product_history_product {
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .use_product_history .use_product_history_product :hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .use_product_history .use_product_history_product img {
    margin-top: 30px;
    width: 25%;
    cursor: pointer;
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .use_product_history {
    background-color: #EAE4D2;
    width: 95%;
    margin: 0 auto;
    margin-top: 150px;
    border-radius: 20px;
    -webkit-box-shadow: 1px 1px 1px lightgray;
            box-shadow: 1px 1px 1px lightgray;
    padding-top: 10px;
    padding-bottom: 50px;
    margin-bottom: 80px;
  }
  .use_product_history p {
    font-size: 22px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: #FFF2CC;
    padding: 5px 20px 5px 20px;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #774F40;
  }
  .use_product_history .use_product_history_product {
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .use_product_history .use_product_history_product :hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .use_product_history .use_product_history_product img {
    margin-top: 30px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    cursor: pointer;
    margin: 0 auto;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .use_product_history {
    background-color: #EAE4D2;
    width: 95%;
    margin: 0 auto;
    margin-top: 150px;
    border-radius: 20px;
    -webkit-box-shadow: 1px 1px 1px lightgray;
            box-shadow: 1px 1px 1px lightgray;
    padding-top: 10px;
    padding-bottom: 50px;
    margin-bottom: 80px;
  }
  .use_product_history p {
    font-size: 22px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: #FFF2CC;
    padding: 5px 20px 5px 20px;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #774F40;
  }
  .use_product_history .use_product_history_product {
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .use_product_history .use_product_history_product :hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .use_product_history .use_product_history_product img {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

@media (max-width: 575.98px) {
  .use_product_history {
    width: 95%;
    margin-top: 150px;
  }
  .use_product_history p {
    font-size: 22px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: #FFF2CC;
    padding: 5px 20px 5px 20px;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #774F40;
  }
  .use_product_history .use_product_history_product {
    width: 70%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .use_product_history .use_product_history_product :hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .use_product_history .use_product_history_product img {
    margin-top: 30px;
    cursor: pointer;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=use.css.map */