.vip_personal_main {
  width: 80%;
  margin: 0 auto;
  font-size: 18px;
  color: #774F40;
  text-align: center;
}

@media all and (max-width: 500px) {
  .vip_personal_main {
    width: 90%;
    margin: 0 auto;
  }
}

@media all and (max-width: 400px) {
  .vip_personal_main {
    font-size: 16px;
  }
}

.vip_personal_main .personal {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media all and (max-width: 1100px) {
  .vip_personal_main .personal {
    display: block;
  }
}

.vip_personal_main .personal .left {
  background-color: #FFF2CC;
  padding: 15px;
  text-align: center;
  margin-right: 20px;
  border-radius: 20px;
}

@media all and (max-width: 1100px) {
  .vip_personal_main .personal .left {
    margin: 20px;
  }
}

@media all and (max-width: 600px) {
  .vip_personal_main .personal .left {
    margin: 0px;
  }
}

@media all and (max-width: 500px) {
  .vip_personal_main .personal .left {
    padding: 5px;
  }
}

.vip_personal_main .personal .left .block_left {
  display: inline-block;
  background-color: #F4E6CD;
  padding: 20px 10px;
  border-radius: 20px;
}

.vip_personal_main .personal .left .block_left img {
  width: 380px;
}

.vip_personal_main .personal .left .left_button {
  display: block;
  margin: 20px auto;
}

.vip_personal_main .personal .left .left_button button {
  -webkit-box-shadow: 1px 1px 1px lightgray;
          box-shadow: 1px 1px 1px lightgray;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 22px;
  background-color: #FED67E;
  color: #774F40;
  border: 0px;
  cursor: pointer;
  font-size: 18px;
}

@media all and (max-width: 1100px) {
  .vip_personal_main .personal .left .left_button {
    margin-bottom: 5px;
  }
}

.vip_personal_main .personal .right {
  background-color: #FFF2CC;
  padding: 10px;
  border-radius: 20px;
}

@media all and (max-width: 1100px) {
  .vip_personal_main .personal .right {
    margin: 20px;
  }
}

@media all and (max-width: 600px) {
  .vip_personal_main .personal .right {
    margin: 0px;
    margin-top: 20px;
  }
}

@media all and (max-width: 400px) {
  .vip_personal_main .personal .right {
    padding: 5px;
  }
}

.vip_personal_main .personal .right .block_right {
  padding: 10px;
}

@media all and (max-width: 500px) {
  .vip_personal_main .personal .right .block_right {
    padding: 5px;
  }
}

@media all and (max-width: 400px) {
  .vip_personal_main .personal .right .block_right {
    padding: 0;
  }
}

.vip_personal_main .personal .right .block_right .top {
  background-color: #E6EECE;
  border-radius: 20px;
  margin: 10px auto;
  padding: 10px;
}

@media all and (max-width: 1100px) {
  .vip_personal_main .personal .right .block_right .top {
    margin-bottom: 20px;
  }
}

@media all and (max-width: 500px) {
  .vip_personal_main .personal .right .block_right .top {
    margin-bottom: 10px;
  }
}

.vip_personal_main .personal .right .block_right .bottom {
  background-color: #E6EECE;
  border-radius: 20px;
  margin: 10px auto;
  padding: 5px;
}

@media all and (max-width: 400px) {
  .vip_personal_main .personal .right .block_right .bottom {
    padding: 0;
  }
}

.vip_personal_main .personal .right .block_right .bottom .bottom_text .adjust .customer_info {
  margin: 12px 2px;
  display: inline-block;
}

@media all and (max-width: 400px) {
  .vip_personal_main .personal .right .block_right .bottom .bottom_text .adjust .customer_info {
    margin: 5px 0;
  }
}

.vip_personal_main .personal .right .block_right .bottom .bottom_text .adjust .customer_info .line_left {
  display: block;
  text-align: right;
  line-height: 28px;
}

.vip_personal_main .personal .right .block_right .bottom .bottom_text .adjust .customer_info .line_right {
  display: block;
  text-align: left;
  line-height: 28px;
}

.vip_personal_main .personal .right .block_right .bottom .bottom_text button {
  -webkit-box-shadow: 1px 1px 1px lightgray;
          box-shadow: 1px 1px 1px lightgray;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 22px;
  background-color: #FED67E;
  color: #774F40;
  border: 0px;
  cursor: pointer;
  margin: 10px;
  font-size: 18px;
}

@media all and (max-width: 1100px) {
  .vip_personal_main .personal .right .block_right .bottom .bottom_text button {
    margin-bottom: 5px;
  }
}

.vip_personal_main .personal .right .block_right .last a .btn {
  -webkit-box-shadow: 1px 1px 1px lightgray;
          box-shadow: 1px 1px 1px lightgray;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 22px;
  background-color: #FED67E;
  color: #774F40;
  border: 0px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: inline-block;
  font-size: 18px;
}

@media all and (max-width: 500px) {
  .vip_personal_main .personal .right .block_right .last a .btn {
    margin: 5px;
  }
}

.vip_personal_main #background_pop {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.vip_personal_main #background_pop #div_pop {
  background: #E6EECE;
  color: #774F40;
  width: 80vw;
  height: 90vh;
  margin: 5vh auto;
  /* overflow: auto; */
  text-align: center;
}

.vip_personal_main #background_pop #div_pop .div_top {
  width: 100%;
  height: auto;
  font-size: 24px;
}

.vip_personal_main #background_pop #div_pop .div_top .div_title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  padding-bottom: 0;
}

.vip_personal_main #background_pop #div_pop .div_top .div_title #close_btn {
  cursor: pointer;
  margin-top: -5px;
  float: right;
}

.vip_personal_main #background_pop #div_pop .div_content {
  width: 100%;
  height: 65vh;
  margin: 30px auto;
  overflow: auto;
  font-size: 20px;
  margin-bottom: 0;
}

.vip_personal_main #background_pop #div_pop .div_content .big_content {
  height: 50vh;
  display: inline-block;
  vertical-align: middle;
}

.vip_personal_main #background_pop #div_pop .div_content .big_content .portrait {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50vh;
  vertical-align: middle;
}

@media all and (max-width: 800px) {
  .vip_personal_main #background_pop #div_pop .div_content .big_content .portrait {
    display: block;
    height: 50vh;
  }
}

.vip_personal_main #background_pop #div_pop .div_content .big_content .portrait .portrait_left {
  background-color: #FFF2CC;
  padding: 10px 50px;
  height: auto;
  border-radius: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

@media all and (max-width: 800px) {
  .vip_personal_main #background_pop #div_pop .div_content .big_content .portrait .portrait_left {
    height: auto;
    margin-right: 0;
    padding: 10px 40px;
  }
}

@media all and (max-width: 600px) {
  .vip_personal_main #background_pop #div_pop .div_content .big_content .portrait .portrait_left {
    padding: 10px 30px;
  }
}

@media all and (max-width: 400px) {
  .vip_personal_main #background_pop #div_pop .div_content .big_content .portrait .portrait_left {
    padding: 10px 20px;
  }
}

.vip_personal_main #background_pop #div_pop .div_content .big_content .portrait .portrait_left .portrait_left_top {
  width: 100%;
  display: block;
}

.vip_personal_main #background_pop #div_pop .div_content .big_content .portrait .portrait_left .portrait_left_top img {
  width: 180px;
  margin-top: 2vh;
}

@media all and (max-width: 800px) {
  .vip_personal_main #background_pop #div_pop .div_content .big_content .portrait .portrait_left .portrait_left_top img {
    width: 150px;
    margin-top: 0;
  }
}

.vip_personal_main #background_pop #div_pop .div_content .big_content .portrait .portrait_left .portrait_left_bottom {
  border: 1px solid #B7C88E;
  background-color: #E6EECE;
  border-radius: 20px;
  font-size: 18px;
  text-align: left;
  padding: 10px 20px;
  margin-top: 1vh;
}

@media all and (max-width: 800px) {
  .vip_personal_main #background_pop #div_pop .div_content .big_content .portrait .portrait_left .portrait_left_bottom {
    margin: 0 10px;
    margin-top: 1vh;
    padding: 5px;
  }
}

.vip_personal_main #background_pop #div_pop .div_content .big_content .portrait .portrait_left .portrait_left_bottom .wearon {
  text-align: center;
}

.vip_personal_main #background_pop #div_pop .div_content .big_content .portrait .portrait_left .portrait_left_bottom .wearon .wearon_block {
  display: inline-block;
  background-color: #B7C88E;
}

.vip_personal_main #background_pop #div_pop .div_content .big_content .portrait .portrait_left .portrait_left_bottom .wearon .wearon_block img {
  width: 50px;
}

@media all and (max-width: 800px) {
  .vip_personal_main #background_pop #div_pop .div_content .big_content .portrait .portrait_left .portrait_left_bottom .wearon .wearon_block img {
    width: 40px;
  }
}

.vip_personal_main #background_pop #div_pop .div_content .big_content .portrait .portrait_right {
  background-color: #FFF2CC;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  height: auto;
}

@media all and (max-width: 800px) {
  .vip_personal_main #background_pop #div_pop .div_content .big_content .portrait .portrait_right {
    height: auto;
    margin-top: 1vh;
  }
}

.vip_personal_main #background_pop #div_pop .div_content .big_content .portrait .portrait_right .right_btn {
  margin-top: 1vh;
}

@media all and (max-width: 800px) {
  .vip_personal_main #background_pop #div_pop .div_content .big_content .portrait .portrait_right .right_btn {
    margin-top: 0;
  }
}

.vip_personal_main #background_pop #div_pop .div_content .big_content .portrait .portrait_right .right_btn .right_btn_category {
  display: inline-block;
  background-color: #FED67E;
  padding: 0 5px;
  cursor: pointer;
}

.vip_personal_main #background_pop #div_pop .div_content .big_content .portrait .portrait_right .page {
  border: 1px solid #B7C88E;
  background-color: #E6EECE;
  border-radius: 20px;
  margin: 0 10px;
  margin-top: 2vh;
  text-align: center;
  padding: 5px 10px;
}

@media all and (max-width: 800px) {
  .vip_personal_main #background_pop #div_pop .div_content .big_content .portrait .portrait_right .page {
    margin-top: 1vh;
    padding: 5px;
  }
}

.vip_personal_main #background_pop #div_pop .div_content .big_content .portrait .portrait_right .page .page_category {
  width: 40px;
  height: 40px;
  background-color: #B7C88E;
  margin: 5px auto;
  cursor: pointer;
}

@media all and (max-width: 800px) {
  .vip_personal_main #background_pop #div_pop .div_content .big_content .portrait .portrait_right .page .page_category {
    display: inline-block;
    width: 40px;
    height: 40px;
  }
}

.vip_personal_main #background_pop #div_pop .back_button {
  padding: 10px;
}

.vip_personal_main #background_pop #div_pop .back_button .btn_next {
  -webkit-box-shadow: 1px 1px 1px lightgray;
          box-shadow: 1px 1px 1px lightgray;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 22px;
  background-color: #FED67E;
  color: #774F40;
  border: 0px;
  margin: 0 auto;
  cursor: pointer;
}
/*# sourceMappingURL=vip_personal.css.map */