div.page_title {
  font-size: 18px;
  color: #774F40;
  text-align: left;
  background-color: #F4E6CD;
  font-weight: bolder;
  padding-left: 50px;
  z-index: 49;
}

body {
  font-size: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  overflow-y: scroll;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  background-color: #EDDAB8;
  text-align: right;
  -webkit-box-shadow: 1px 1px 1px lightgray !important;
          box-shadow: 1px 1px 1px lightgray !important;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 55;
}

header div.header {
  height: 230px;
  -webkit-transition: height 1s;
  transition: height 1s;
}

header div.hamburger_icon, header div.hamburger_icon-on {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-top: 20px;
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

header div.hamburger_icon img, header div.hamburger_icon-on img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header div.header_logo {
  width: 280px;
  display: inline-block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 1s;
  transition: all 1s;
}

header div.header_logo div.header_logo_text {
  display: inline-block;
  width: 180px;
  height: 90px;
}

header div.header_logo div.header_logo_cat {
  display: inline-block;
  position: relative;
  bottom: 8px;
  width: 77px;
  height: 77px;
  opacity: 1;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

header div.header_icon {
  display: inline-block;
}

header div.header_icon_member {
  display: inline-block;
  margin-right: 40px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

header div.header_icon_shopping_cart {
  display: inline-block;
  margin-right: 130px;
  -webkit-transition: all 1s;
  transition: all 1s;
  cursor: pointer;
}

div.header_second_nav {
  border: 1px solid black;
}

ul.header_second_ul {
  height: 50px;
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #EAE4D2;
  width: 100vw;
  max-width: 100vw;
  position: absolute;
  left: 0;
  float: left;
  display: none;
}

ul.header_second_ul li.header_second_li {
  font-size: 18px;
  padding-top: 10px;
  margin-left: 55px;
}

ul.header_second_ul li.header_second_li a {
  color: #774F40;
  font: 18px;
}

ul.header_second_ul li.header_second_li a:hover {
  text-decoration: underline;
}

ul.header_second_ul li.header_li_food {
  margin-left: 0;
}

ul.header_second_ul li.header_game {
  margin-left: 0;
  margin-right: 55px;
}

ul.header_game::before {
  content: '';
  position: absolute;
  left: -50vw;
  top: 0;
  width: 100vw;
  height: 50px;
  background-color: #EAE4D2;
}

ul.header_use::before {
  content: '';
  position: absolute;
  left: -50vw;
  top: 0;
  width: 100vw;
  height: 50px;
  background-color: #EAE4D2;
}

div.header_main_nav {
  margin-top: 22px;
}

div.header_main_nav nav ul.header_main_ul {
  list-style: none;
  padding: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
}

div.header_main_nav nav ul.header_main_ul li {
  position: relative;
  text-align: center;
}

div.header_main_nav nav ul.header_main_ul li div.header_nav_icon {
  width: 40px;
  height: 40px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: inline-block;
  vertical-align: bottom;
  cursor: pointer;
}

div.header_main_nav nav ul.header_main_ul li div.header_nav_icon:first-child {
  width: 45px;
  height: 45px;
}

div.header_main_nav nav ul.header_main_ul li div.header_nav_text {
  width: 150px;
  height: 43px;
  text-align: center;
  background-color: #FED67E;
  margin-top: 8px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 1px lightgray;
          box-shadow: 1px 1px 1px lightgray;
  cursor: pointer;
}

div.header_main_nav nav ul.header_main_ul li div.header_nav_text p {
  font-size: 22px;
  margin: 0;
  color: #774F40;
  padding-top: 5px;
}

div.header_main_nav nav ul.header_main_ul li div.header_nav_text:hover {
  background-color: #fec64b;
}

div.header_main_nav nav ul.header_main_ul li div.header_product:hover ~ ul.header_second_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.header_main_nav nav ul.header_main_ul li div.header_second_hover {
  height: 20px;
}

div.header_main_nav nav ul.header_main_ul li div.header_second_hover:hover ~ ul.header_second_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.header_main_nav nav ul.header_main_ul li ul.header_second_ul:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.header_main_nav nav ul.header_main_ul li div.header_nav_icon:hover + div.header_nav_text {
  background-color: #fec64b;
}

div.header_main_nav nav ul.header_main_ul li div.header_game:hover ~ ul.header_second_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.header_scrolled {
  height: 90px !important;
}

div.header_scrolled div.header_main_nav {
  opacity: 0;
  display: none;
}

div.header_scrolled div.header_logo {
  position: absolute;
  left: 0%;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

div.header_scrolled div.header_logo div.header_logo_cat {
  opacity: 0;
}

div.header_scrolled div.header_icon_member {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  margin-right: 20px;
}

div.header_scrolled div.header_icon_shopping_cart {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

div.hamburger_icon-on {
  opacity: 0 !important;
}

div.footer_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.footer_container > div.footer_up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #EDDAB8;
  height: 279px;
  color: #774F40;
}

div.footer_container > div.footer_up > div.footer_up_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.footer_container > div.footer_up > div.footer_up_item > button {
  width: 54%;
  font-size: 24px;
  line-height: 3;
  border-radius: 15px;
  outline: none;
  color: #774F40;
  background-color: #FED67E;
  border: 1px solid #774F40;
}

div.footer_container > div.footer_up > div.footer_up_item > button:hover {
  cursor: pointer;
}

div.footer_container > div.footer_up > div.footer_up_item > div.footer_up_item_icon > a > img {
  margin: 0 8px;
}

div.footer_container > div.footer_up > div.footer_up_item > div.footer_up_item_icon > a:hover {
  cursor: pointer;
}

div.footer_container > div.footer_down {
  color: #EDDAB8;
  background-color: #774F40;
  padding: 20px;
}

.main {
  border: 1px solid blue;
  font-size: 22px;
  color: #774F40;
  text-align: center;
}

.main .title {
  background-color: #EAE4D2;
  max-width: 1200px;
  width: 100%;
  margin: 20px auto;
  margin-top: 80px;
}

.main .title .title_text {
  display: inline-block;
  padding: 10px;
}

.main .second_title .second_title_text {
  font-size: 20px;
  display: inline-block;
  padding: 5px 50px;
  background-color: #FFF2CC;
  margin: 20px auto;
  border-radius: 10px;
}

.main .pwd {
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
  text-align: left;
}

.main .pwd .pwd_title {
  display: inline-block;
  font-size: 18px;
  vertical-align: middle;
  padding: 5px 10px;
  margin: 5px 20px;
}

.main .pwd .pwd_title img {
  vertical-align: middle;
}

.main .pwd .pwd_block {
  border: 1px solid #774F40;
  font-size: 16px;
  vertical-align: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .pwd .pwd_block .pwd_block_left {
  border-right: 1px solid #774F40;
  display: inline-block;
  vertical-align: top;
  background-color: #EAE4D2;
  max-width: 387px;
  width: 30%;
  max-height: 359px;
  height: 100%;
  padding: 20px;
  margin-right: 40px;
  line-height: 250px;
}

.main .pwd .pwd_block .pwd_block_right {
  display: inline-block;
  width: 60%;
  padding-top: 5px;
  padding-left: 20px;
  margin: 6px auto;
}

.main .pwd .pwd_block .pwd_block_right .pwd_text .name {
  margin: 20px auto;
}

.main .pwd .pwd_block .pwd_block_right .pwd_text .old_pwd {
  margin: 20px auto;
}

.main .pwd .pwd_block .pwd_block_right .pwd_text .old_pwd input {
  border-color: #774F40;
  width: 80%;
}

.main .pwd .pwd_block .pwd_block_right .pwd_text .new_pwd {
  margin: 20px auto;
}

.main .pwd .pwd_block .pwd_block_right .pwd_text .new_pwd input {
  border-color: #774F40;
  width: 80%;
}

.main .pwd .pwd_block .pwd_block_right .pwd_text .new_pwd_again {
  margin: 20px auto;
}

.main .pwd .pwd_block .pwd_block_right .pwd_text .new_pwd_again input {
  border-color: #774F40;
  width: 80%;
}

.main .per {
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
  text-align: left;
}

.main .per .per_title {
  display: inline-block;
  font-size: 18px;
  vertical-align: middle;
  padding: 5px 10px;
  margin: 5px 20px;
}

.main .per .per_title img {
  vertical-align: middle;
}

.main .per .per_block {
  border: 1px solid #774F40;
  font-size: 16px;
  vertical-align: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .per .per_block .per_block_left {
  border-right: 1px solid #774F40;
  display: inline-block;
  vertical-align: top;
  background-color: #EAE4D2;
  max-width: 387px;
  width: 30%;
  max-height: 359px;
  height: 100%;
  padding: 20px;
  margin-right: 40px;
  line-height: 250px;
}

.main .per .per_block .per_block_right {
  display: inline-block;
  width: 60%;
  padding-top: 5px;
  padding-left: 20px;
  margin: 6px auto;
}

.main .per .per_block .per_block_right .per_text .name {
  margin: 20px auto;
}

.main .per .per_block .per_block_right .per_text .name input {
  border-color: #774F40;
  width: 80%;
}

.main .per .per_block .per_block_right .per_text .birthday {
  margin: 20px auto;
}

.main .per .per_block .per_block_right .per_text .phone {
  margin: 20px auto;
}

.main .per .per_block .per_block_right .per_text .phone input {
  border-color: #774F40;
  width: 80%;
}

.main .per .per_block .per_block_right .per_text .address {
  margin: 20px auto;
}

.main .per .per_block .per_block_right .per_text .address input {
  border-color: #774F40;
  width: 80%;
}

.main .check {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
  font-size: 16px;
}

.main .bottom {
  margin: 50px auto;
}

.main .bottom button {
  -webkit-box-shadow: 1px 1px 1px lightgray;
          box-shadow: 1px 1px 1px lightgray;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 22px;
  background-color: #FED67E;
  color: #774F40;
  border: 0px;
  margin: 20px 50px;
  cursor: pointer;
  width: 200px;
}
/*# sourceMappingURL=vip_edit.css.map */