@import '../base/var';
@import '../mixin/mixin';

body{
    overflow-x: hidden;
    font-family: $font_family;
}
.cart_step2_step_block {
    color: $font_color;
    font-size: $font_20;
    // border: 1px solid red;
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}
.cart_step2_step {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    text-align: center;

    @include w700(){
        // border: 1px solid red;
        display: block;
    }
}

.cart_step2_step p{
    width: 220px;
    padding: 30px 30px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/shopping_cart/other_step.png');
    background-repeat: no-repeat;
    background-size: 100%;

    @media (max-width:1440px) {
        // border: 1px solid blue;
        padding: 25px 20px;
        margin: 0px;
        max-width: 100%;
    }

    @include w1200(){
        // border: 1px solid green;
        padding: 25px 0px;
        background-size: 100%;
        font-size: 16px;
    }

    @include w1000(){
        // border: 1px solid black;
        background-size: 100%;
        padding: 20px 5px;
    }

    @include w900(){
        display: none;
        margin: 0;
        padding: 30px 35px;
        padding-left: 5px;
    }
}


p.cart_step2_this_step {
    background-image: url('../images/shopping_cart/this_step.png');
    background-repeat: no-repeat;
    background-size: 100%;

    @include w900(){
        // border: 1px solid green;
        display: block;
        margin: 0 auto;
        background-size: 85%;
    }
}

// .cart_step2_container{
//     // border: 1px solid $font_color;
//     max-width: 80%;
//     margin: 0 auto;
//     font-size: $font_22;
//     margin-top: 50px;
//     margin-bottom: 50px;
//     color: $font_color;
// }

.cart_step2_check_step {
    // border: 1px solid green;
    max-width: 80%;
    display: flex;
    font-weight: bold;
    margin-top: 30px;
}

.cart_step2_circle {
    width: 25px;
    height: 25px;
    background-color: $important_color;
    border-radius: 25px;
}

.cart_step2_check_step p {
    margin: 20px 10px;
    
}

.cart_step2_order_check {
    border: 1px solid $font_color;
    display: flex;

    @include w900(){
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 16px;
    }
}

.cart_step2_order_check_final {
    border-top: none;
}

.cart_step2_orderer {
    // border: 1px solid $font_color;
    border-right: 1px solid $font_color;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $second_color1;
    font-weight: bold;
}

.cart_step2_information {
    font-size: $font_20;
}

.cart_step2_information p{
    margin: 10px 20px;
}

.cart_step2_orderer,
.cart_step2_information {
    flex: 1;
}

.cart_step2_information {
    flex: 2;
}

.cart_step2_information_title{
    font-weight: bold;
}

.cart_step2_pay {
    margin: 10px 20px;
}

.cart_step2_pay input{
    border: 1px solid $font_color;
    max-width: 80px;
    font-size: $font_22;
    margin: 10px 3px;
    border-radius: 5px;
}

.cart_step2_deliver label {
    margin-right: 30px;
    font-weight: normal;
}


.cart_step2_information input.receiver {
    border: 1px solid $font_color;
    margin: 10px 20px;
    font-size: $font_22;
    border-radius: 5px;
}

.cart_step2_information input.receiver_address {
    // border: 1px solid red;
    max-width: 600px;
}

.cart_step2_next_step {
    // border: 1px solid red;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.cart_step2_next_step button {
    font-size: $font_24;
    background-color: $important_color;
    border: none;
    color: $font_color;
    padding: 20px 60px;
    border-radius: 15px;
    box-shadow: $shadow;
    cursor: pointer;
    margin-top: 50px;

    @include w900(){
        font-size: $font_20;
        padding: 10px 70px;
    }
}

.bottom_img {
    // border: 1px solid green;
    display: flex;
    justify-content: right;
    margin: 0 auto;
}

.bottom_img img {
    max-width: 300px;
    // border: 1px solid red;

    @include w900(){
        width: 200px;
    }
}