@import '../base/var';
@import '../mixin/mixin';

.cart_step4_container {
    // border: 1px solid red;
    max-width: 100%;
    margin: 0 auto;
    color: $font_color;
    text-align: center;
    margin: 50px 0 0 0;
    padding: 100px;
    background-image: url(../images/shopping_cart/background.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.cart_step4_next_step button {
    margin: 50px;
}

.cart_step4_container p {
    font-size: $font_32;
    font-weight: bold;
}