@import '../base/var';
@import '../mixin/mixin';

.contact_main{
    // border: 1px solid blue;
    width: 80%;
    margin: 0 auto;
    font-size: $font_24;
    color: $font_color;
    text-align: center;
    background-image: url("../images/contact/contact_background.png");
    background-repeat: no-repeat;
    .info{
        // border: 1px solid maroon;
        // display: flex;
        display: inline-block;
        font-size: $font_20;
        margin: 120px auto;
        width: 40%;
        @include w800() {
            width: 50%;
        }
        @include w700() {
            width: 60%;
        }
        @include w600() {
            width: 70%;
        }
        @include w500() {
            width: 80%;
        }
        @include w400() {
            width: 100%;
        }
        // text-align: right;
        .left_outer{
            // border: 1px solid green;
            background-color: $font_color;
            border-radius: 15px;
            padding: 10px;
            vertical-align: middle;
            position: absolute;
            margin: 70px auto;
            margin-left: -10%;
            @include w1200() {
                position: relative;
                margin: 0 auto;
                margin-top: 70px;
            }
            .info_left{
                // border: 1px solid blue;
                background-color: $second_color3;
                border-radius: 15px;
                padding: 10px 20px;
                .info_bottom{
                    // border: 1px solid maroon;
                    background-color: $main_color;
                    border-radius: 15px;
                    padding: 20px;
                    margin-top: 10px;
                    .left_text{
                        // border: 1px solid black;
                        text-align: left;
                    }
                }
            }
        }
        .right_outer{
            // border: 1px solid blue;
            background-color: $font_color;
            border-radius: 15px;
            padding: 10px;
            width: 80%;
            margin-left: 40%;
            vertical-align: middle;
            @include w1200() {
                width: 93%;
                margin: 20px auto;
            }
            .info_right{
                // border: 1px solid blue;
                background-color: $second_color3;
                border-radius: 15px;
                padding: 40px 10%;
                // padding-top: 20px;
                .right_title{
                    // border: 1px solid blue;
                    margin-bottom: 20px;
                    .title_text{
                        // border: 1px solid red;
                        background-color: $main_color;
                        border-radius: 10px;
                        margin: 0 auto;
                        padding: 5px 10px;
                    }
                }
                .cus_info{
                    // border: 1px solid green;
                    text-align: center;
                    // overflow: hidden;
                    color: $font_color;
                    text-align: left;
                    input{
                        color: $font_color;
                        border-radius: 5px;
                        border: 0;
                        width: inherit;
                        width: 100%;
                    }
                    textarea{
                        color: $font_color;
                        border-radius: 5px;
                        border: 0;
                        width: 100%;
                    }
                    
                }
                .info_btn{
                    // border: 1px solid green;
                    // padding: 0 120px;
                    .btn_text{
                        @include button(); 
                        cursor: pointer;
                        // border: 1px solid blue; 
                        margin: 20px auto;
                    }
                }
            }
        }
    }
}