@import '../base/var';
@import '../mixin/mixin';

div.food_banner_container {
    width: 100vw;
    img {
        width: 100%;
    }
}
// div.food_search_container {
//     width: 100%;
//     height: 75px;
// }
div.food_search_container {
    position: fixed;
    top: 90px;
    width: 100%;
    height: 50px;
    background-color: $second_color2;
    z-index: 100;
    div.food_search_and_index_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1199px;
        height: 100%;
        margin: auto;
        div.food_index {
            p {
                font-size: 18px;
                color: $font_color;
            }
        }
        div.food_search_and_search_button {
            position: relative;
            input {
                border-radius: 15px;
                outline: none;
                border: none;
                padding: 8px;
            }
            input::placeholder {
                color: $font_color;
            }
            ul.food_search_content {
                position: absolute;
                width: calc(100% - 16px);
                margin: 0;
                font-size: $font_20;
                border: 1px solid;
                border-radius: 0 0 15px 15px;
                padding: 16px 8px;
                display: none;
                li {
                    list-style: none;
                }
            }
            ul.food_search_content_open {
                display: block;
            }
            div.food_search_button {
                position: absolute;
                cursor: pointer;
                right: 0;
                top: 0;
                width: 20%;
                height: 100%;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                border-radius: 0 15px 15px 0;
            }
        }
    }
}
div.food_filter_container_and_food_product_overview {
    display: flex;
    margin-top: 50px;
    ul.food_filter_container {
        display: flex;
        position: fixed;
        top: 172px;
        flex-direction: column;
        width: 300px;
        height: 180px;
        border-radius: 15px;
        border: 1px solid;
        overflow: hidden;
        // overflow-y: scroll;
        padding: 0 0 16px;
        margin: 0 0 32px 32px;
        color: $font_color;
        background-color: #fff;
        opacity: 1;
        transition: all 1s ease-in-out;
        li {
            font-size: $font_20;
            list-style: none;
            text-align: center;
            hr {
                width: 80%;
            }
            p {
                margin: 32px 0 0;
            }
            ul {
                padding: 0;
                text-align: center;
                li.food_filter_condition_item {
                    margin: 8px 0;
                    font-size: 16px;
                    cursor: pointer;
                }
                li.food_filter_condition_item_clicked {
                    font-size: $font_22;
                    font-weight: bold;
                }
            }
        }
        li:first-child {
            margin: 0;
            p {
                font-size: $font_24;
                background-color: $second_color2;
                margin: 0;
            }
        }
    }
    ul.food_filter_container_hide {
        width: 0;
        height: 0;
        border: 0;
        padding: 0;
        margin: 0;
        opacity: 0;
    }
    div.food_product_overview {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: calc(100% - 332px);
        margin: 32px 32px 32px 332px;
        div.food_product_overview_item {
            width: 250px;
            min-width: 250px;
            margin: 0 0 0 16px;
            img.food_product_overview_item_img {
                width: 100%;
                height: 278px;
            }
            div.food_product_title_and_price_and_button {
                font-size: $font_24;
                display: flex;
                justify-content: space-between;
                align-items: center;
                div.food_product_title_and_price {
                    width: auto;
                    color: $font_color;
                }
                div.food_product_content_button {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}
ul.food_product_page_chose_container {
    position: absolute;
    right: 32px;
    // margin-left: 373px;
    display: flex;
    font-size: $font_20;
    padding: 0;
    li {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        width: 51px;
        height: 51px;
        margin-left: 16px;
        border-radius: 20px;
        background-color: $main_color;
        border: 1px solid $font_color;
        background-repeat: no-repeat;
    }
}
div.food_product_history {
    width: 1199px;
    margin: 250px auto 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: $second_color1;
    div {
        font-size: $font_24;
        color: $font_color;
        background-color: $main_color;
        padding: 0 16px;
        margin: 30px 0;
        border-radius: 15px;
    }
    ul.food_product_history_content_container {
        display: flex;
        justify-content: center;
        padding: 0;
        margin-bottom: 50px;
        li {
            margin: 0 8px;
            width: 250px;
            height: 250px;
        }
    }
}
