@import '../base/var';
@import '../mixin/mixin';

// div.food_search_container {
//     width: 100%;
//     height: 75px;
// }
div.food_search_container {
    position: fixed;
    top: 90px;
    width: 100%;
    height: 50px;
    background-color: $second_color2;
    z-index: 49;
    @include w700() {
        height: 100px;
    }
    div.food_search_and_index_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        height: 100%;
        margin: auto;
        @include w700() {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
        }
        div.food_index {
            p {
                font-size: 18px;
                color: $font_color;
                @include w700() {
                    margin-top: 10px;
                }
            }
        }
        div.food_search_and_search_button {
            position: relative;
            width: 178px;
            input.input_search_product {
                border-radius: 15px;
                outline: none;
                border: none;
                padding: 8px;
            }
            input::placeholder {
                color: $font_color;
            }
            input.input_search_product_open {
                border-radius: 15px 15px 0 0;
            }
            ul.food_search_content {
                position: absolute;
                margin: 0;
                width: 100%;
                font-size: $font_20;
                border-radius: 0 0 15px 15px;
                padding: 0;
                background-color: #fff;
                display: none;
                overflow: hidden;
                li {
                    list-style: none;
                    width: calc(100% - 16px);
                    padding: 8px;
                    background-color: #fff;
                    a {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        text-decoration: none;
                        p {
                            font-size: 16px;
                            color: $font_color;
                        }
                        span {
                            font-size: $font_20;
                            font-weight: bold;
                        }
                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 10px;
                            overflow: hidden;
                            object-fit: cover;
                        }
                    }
                }
                li:hover {
                    cursor: pointer;
                    background-color: $important_color;
                }
            }
            ul.food_search_content_open {
                display: block;
            }
            div.food_search_button {
                position: absolute;
                cursor: pointer;
                right: 0;
                top: 0;
                width: 36px;
                height: 100%;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                border-radius: 0 15px 15px 0;
            }
            div.food_search_button_open {
                border-radius: 0 15px 0 0;
            }
        }
    }
}
div.food_filter_container_and_food_product_overview {
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    width: 80%;
    @include w700() {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 100px;
    }
    ul.food_filter_container {
        display: flex;
        position: fixed;
        top: 172px;
        flex-direction: column;
        width: 250px;
        height: 180px;
        border-radius: 15px;
        border: 1px solid;
        overflow: hidden;
        // overflow-y: scroll;
        padding: 0 0 16px;
        margin: 0 0 32px 0;
        color: $font_color;
        background-color: #fff;
        opacity: 1;
        transition: all 1s ease-in-out;
        @include w700() {
            position: static;
            margin: 50px 0 0;
            border: none;
            border-radius: 0;
            width: 280px;
            height: auto;
        }
        li {
            font-size: $font_20;
            list-style: none;
            text-align: center;
            @include w700() {
                text-align: left;
            }
            hr {
                width: 80%;
                @include w700() {
                    display: none;
                }
            }
            p {
                margin: 32px 0 0;
                @include w700() {
                    font-size: $font_20;
                    font-weight: bold;
                    margin-top: 24px;
                }
            }
            ul {
                padding: 0;
                text-align: center;
                @include w700() {
                    display: flex;
                    border-bottom: 1px solid $font_color;
                }
                li.food_filter_condition_item {
                    margin: 8px 0;
                    font-size: 16px;
                    @include w700() {
                        background-color: $main_color;
                        border-radius: 10px;
                        margin-right: 16px;
                        padding: 4px 8px;
                    }
                }
                li.food_filter_condition_item:hover {
                    cursor: pointer;
                    @include w700() {
                        background-color: $important_color;
                    }
                }
                li.food_filter_condition_item_clicked {
                    font-size: $font_22;
                    font-weight: bold;
                    @include w700() {
                        background-color: $important_color;
                    }
                }
            }
        }
        li:first-child {
            margin: 0;
            p {
                font-size: $font_24;
                background-color: $second_color2;
                margin: 0;
            }
        }
    }
    ul.food_filter_container_hide {
        width: 0;
        height: 0;
        border: 0;
        padding: 0;
        margin: 0;
        opacity: 0;
    }
    div.food_product_overview {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: calc(100% - 252px);
        margin: 32px 0 0 250px;
        @include w700() {
            width: 280px;
            margin-left: 0;
            align-items: center;
        }
        div.food_product_overview_item {
            width: 220px;
            margin: 0 0 0 16px;
            @include w1200() {
                width: 250px;
                margin: 0 0 0 16px;
            }
            @include w900() {
                width: 280px;
                margin: 0 0 0 16px;
            }
            @include w700() {
                width: 280px;
                margin: 0;
            }
            
            img.food_product_overview_item_img {
                width: 100%;
                height: 220px;
                object-fit: cover;
                @include w1200() {
                    height: 250px;
                }
                @include w900() {
                    height: 280px;
                }
                @include w700() {
                    width: 280px;
                    margin: 0;
                }
            }
            img.food_product_overview_item_img {
                width: 100%;
                height: 220px;
                object-fit: cover;
            }
            div.food_product_title_and_price_and_button {
                font-size: $font_24;
                display: flex;
                justify-content: space-between;
                align-items: center;
                div.food_product_title_and_price {
                    width: auto;
                    color: $font_color;
                }
                div.food_product_content_button {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}
ul.food_product_page_chose_container {
    position: absolute;
    left: calc(50% - 16px);
    transform: translateX(-50%);
    // margin-left: 373px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    li.food_page_item {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        width: 51px;
        height: 51px;
        margin: 0 0 16px 16px;
        border-radius: 20px;
        background-color: $main_color;
        border: 1px solid $font_color;
        font-size: $font_20;
        background-repeat: no-repeat;
        @include w1000() {
            width: 41px;
            height: 41px; 
            border-radius: 15px;
            font-size: 16px;
        }
        @include w700() {
            width: 31px;
            height: 31px; 
            border-radius: 10px;
            font-size: 14px;
        }
    }
    li.food_page_item:hover {
        cursor: pointer;
        background-color: $important_color;
    }
    li.food_page_item_clicked {
        background-color: $important_color;
    }
}
div.food_product_history {
    width: 1199px;
    margin: 250px auto 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: $second_color1;
    div {
        font-size: $font_24;
        color: $font_color;
        background-color: $main_color;
        padding: 0 16px;
        margin: 30px 0;
        border-radius: 15px;
    }
    ul.food_product_history_content_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
        margin-bottom: 50px;
        width: 80vw;
        li {
            margin: 0 8px;
            width: 220px;
            height: 220px;
        }
    }
}