@import '../base/var';
@import '../mixin/mixin';

.gacha_299_main{
    // border: 1px solid blue;
    padding-bottom: 10px;
    .title{
        // border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: space-around;
        @include w800() {
            justify-content: center;
        }
        :first-child{
            margin-top: 20px;
        }
        :nth-child(3){
            margin-top: 10px;
            margin-right: 0;
        }
        .title_left{
            // border: 1px solid black;
            text-align: center;
            @include w800() {
                display: none;
            }
            .left_context{
                // border: 1px solid green;
                background-color: $second_color3;
                font-size: $font_20;
                color: $font_color;
                margin: 0 auto;
                margin-top: 15px;
                .btn_pop{
                    // border: 1px solid maroon;
                    margin: 0 auto;
                    padding: 5px 10px;
                    cursor: pointer;
                }
                img{
                    margin: 0;
                    vertical-align: text-bottom;
                }
            }
            .pillar_left{
                background-color: $second_color3;
                width: 82px;
                height: 30px;
                margin: 0 auto;
            }
        }
        .title_image{
            // border: 1px solid blue;
            position: relative;
            .title_icon{
                // border: 1px solid orange;
                width: 180px;
                height: 120px;
                margin: 10px auto;
            }
            .title_text{
                // border: 1px solid green;
                font-size: $font_24;
                color: $font_color;
                text-align: center;
                position: absolute;
                margin: 0 auto;
                top: 40%;
                left: 50%;
                transform: translate(-50%);
            }
            .chance{
                margin: 20px auto;
                // margin-top: 20px;
                text-align: center;
                font-size: $font_22;
                color: $font_color;
                background-color: $main_color;
                padding: 5px;
                border-radius: 5px;
            }
        }
        .title_right{
            // border: 1px solid black;
            text-align: center;
            margin: 0 50px;
            position: relative;
            @include w800() {
                display: none;
            }
            .a_right_context{
                // border: 1px solid red;
                width: 170px;
                .right_context{
                    // border: 1px solid green;
                    background-color: $second_color3;
                    font-size: $font_20;
                    color: $font_color;
                    padding: 5px 10px;
                    margin: 0 auto;
                    cursor: pointer;
                    img{
                        margin: 0;
                    }
                }
            }
            .pillar_right{
                background-color: $second_color3;
                width: 82px;
                height: 51px;
                margin: 0 auto;
            }
        }
    }

    .rwd_btn{
        // border: 1px solid green;
        display: none;
        font-size: $font_22;
        color: $font_color;
        @include w800() {
            display: flex;
            justify-content: center;
        }
        @include w700() {
            font-size: $font_20;
        }
        .rwd_btn_block{
            // border: 1px solid yellow;
            margin: 5px auto;
            text-align: center;
            .rwd_a{
                text-decoration: none;
                color: $font_color;
            }
            .rwd_small_block{
                // border: 1px solid green;
                display: inline-block;
                background-color: $second_color5;
                border-radius: 10px;
                margin: 0 5px;
                padding: 8px;
                width: 120px;
                text-align: center;
                @include w500() {
                    font-size: 16px;
                    padding: 2px;
                    width: 100px;
                }
                @include w400() {
                    // display: block;
                    margin: 0 20px;
                }
            }
            .rwd_small_block_buy{
                // border: 1px solid red;
                display: inline-block;
                background-color: $important_color;
                border-radius: 10px;
                margin: 0 5px;
                padding: 8px;
                width: 120px;
                &:hover{
                    transform:scale(1.2,1.2);
                }
                @include w500() {
                    font-size: 16px;
                    padding: 2px;
                    width: 100px;
                }
                @include w400() {
                    display: block;
                    margin: 0 20px;
                    margin-top: 10px;
                }
            }
        }
    }

    .box{
        // border: 1px solid green;
        margin: 0 auto;
        background-color: $second_color3;
        width: 95vw;
        height: 470px;
        border-radius: 10px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-around;
        @include w800() {
            height: 450px;
        }
        @include w700() {
            height: 430px;
        }
        @include w600() {
            height: 390px;
        }
        @include w500() {
            height: 350px;
        }
        @include w400() {
            height: 270px;
        }
        .dark_box{
            // border: 1px solid red;
            background-color: $font_color;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 15px;
            margin-left: 5%;
            width: 70vw;
            height: 440px;
            border-radius: 10px;
            @include w800() {
                width: 90vw;
                text-align: center;
                height: 420px;
            }
            @include w700() {
                height: 400px;
            }
            @include w600() {
                height: 360px;
            }
            @include w500() {
                height: 320px;
            }
            @include w400() {
                height: 240px;
            }
            .left{
                // border: 1px solid yellow;
                display: inline-block;
                margin-left: 20px;
                margin-right: 5px;
                cursor: pointer;
                color: $font_color;
                .left_text{
                    font-size: $font_32;
                    background-color: $second_color5;
                    padding: 10px;
                    border-radius: 10px;
                }
                @include w800() {
                    display: none;
                }
            }
            .gacha{
                // border: 1px solid blue;
                width: 60vw;
                display: grid;
                grid-template-columns: auto auto auto;
                margin: 0;
                @include w800() {
                    margin: 0 auto;
                }
                .choose_box{
                    margin: 5px auto;
                    // border: 1px solid yellow;
                    @include w800() {
                        margin: 5px;
                    }
                    .color_image{
                        width: 150px;
                        cursor: pointer;
                    }
                }
            }
            .right{
                // border: 1px solid yellow;
                display: inline-block;
                margin-right: 20px;
                margin-left: 5px;
                cursor: pointer;
                color: $font_color;
                @include w800() {
                    display: none;
                }
                .right_text{
                    font-size: $font_32;
                    background-color: $second_color5;
                    padding: 10px;
                    border-radius: 10px;
                }
            }
        }
        .right_box{
            // border: 1px solid green;
            text-align: center;
            @include w800() {
                display: none;
            }
            .buy{
                // border: 1px solid black;
                border-radius: 20px;
                display: inline-block;
                background-color: $important_color;
                box-shadow: $shadow;
                width: 80%;
                height: 150px;
                line-height: 150px;
                font-size: $font_20;
                text-align: center;
                margin: 60px auto;
                .buy_text{
                    // border: 1px solid maroon;
                    margin: 0px auto;
                    color: $font_color;
                }
            }
            .buy:hover{
                    // border: 1px solid maroon;
                    background-color: $main_color;
                    transform:scale(1.2,1.2);
                }
            .store{
                // border: 1px solid black;
                border-radius: 20px;
                display: inline-block;
                background-color: $important_color;
                box-shadow: $shadow;
                width: 80%;
                height: 150px;
                font-size: $font_20;
                color: $font_color;
                text-align: center;
                margin: 10px auto;
                .store_text{
                    // border: 1px solid maroon;
                    display: block;
                    margin: 45px auto;
                    color: $font_color;
                }
            }
        }
    }
    //彈窗_腳色總覽
    #background_pop{
        z-index: 100;
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        #div_pop{
            // border: 1px solid black;
            background:#E6EECE;
            color: #774F40;
            width: 80vw;
            height: 90vh;
            z-index: 1;
            margin: 5vh auto;
            text-align: center;
            .div_top{
                /* border: 1px solid blue; */
                width: 100%;
                height: auto;
                font-size: 24px;
                .div_title{
                    // border: 1px solid black;
                    justify-content: center;
                    padding: 20px;
                    #close_btn{
                        cursor: pointer;
                        margin-top: -5px;
                        float: right;
                    }
                }
            }
            .div_content{
                // border: 1px solid red;
                width: 100%;
                margin: 0 auto;
                margin-top: 5vh;
                overflow: auto;
                font-size: 20px;
                .big_content{
                    // border: 1px solid green;
                    height: auto;
                    display: grid;
                    grid-template-columns: auto auto auto;
                    vertical-align: middle;
                    margin: 0;
                    align-items: center; 
                    justify-content: center;
                    .cat_299{
                        // border: 1px solid blue;
                        margin: 2px 5vw;
                        text-align: center;
                        @include w700() {
                            margin: 2px 2vw;
                        }
                        @include w500() {
                            margin: 2px 1vw;
                        }
                        .dec_image{
                            // border: 1px solid green;
                            display: block;
                            width: 100px;
                            margin: 0 auto;
                            @include w500() {
                                width: 80px;
                            }
                            @include w400() {
                                width: 50px;
                            }
                        }
                        .cat_text{
                            font-size: 18px;
                            background-color: $main_color;
                            border-radius: 10px;
                            padding: 5px;
                            @include w500() {
                                font-size: 14px;
                            }
                        }
                    }
                    .cat_299:first-child{
                        width: 120px;
                        @include w500() {
                            width: 100px;
                        }
                        @include w400() {
                            width: 90px;
                        }
                    }
                    .cat_299:nth-child(3n+1){
                        margin-left: 0;
                    }
                    .cat_299:nth-child(3n+3){
                        margin-right: 0;
                    }
                }
            }
        }
    }

    // 點箱子的彈窗
    #background_pop1{
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        #div_pop1{
            /* border: 1px solid black; */
            background:#E6EECE;
            color: #774F40;
            width: 80vw;
            height: 75vh;
            z-index: 1;
            margin: 10vh auto;
            margin-top: 20vh;
            /* overflow: auto; */
            text-align: center;
            .div_top1{
                /* border: 1px solid blue; */
                width: 100%;
                height: auto;
                font-size: 24px;
                .div_title1{
                    /* border: 1px solid black; */
                    justify-content: center;
                    padding: 20px;
                    #close_btn1{
                        cursor: pointer;
                        margin-top: -5px;
                        float: right;
                    }
                }
            }
            .div_content1{
                /* border: 1px solid red; */
                width: 100%;
                margin: 10px auto;
                overflow: auto;
                font-size: 20px;
                #A{
                    /* border: 1px solid green; */
                    height: auto;
                    display: inline-block;
                    vertical-align: middle;
                    padding: 0;
                }
                .back_button1{
                    /* border: 1px solid blue; */
                    padding: 10px;
                    .btn_next1{
                        /* border: 1px solid red; */
                        margin: 20px;
                        background-color: #FED67E;
                        font-size: 24px;
                        color: #774F40;
                        border-radius: 10px;
                        border:0px;
                        padding: 10px 10px;
                        text-decoration: none;
                    }
                }
                .last_word1{
                    /* border: 1px solid red; */
                    margin: 10px;
                }
            }
        }
    }
}