@import '../base/var';
@import '../mixin/mixin';

.gacha_main{
    border: 1px solid blue;
    height: 70vh;
    // text-align: center;      
    background-color: $important_color;
    background-image: url("../images/gacha/gacha_egg_bgimg.png");
    color: $font_color;
    // padding: 10px;
    .except_bkgimg{
        // border: 1px solid blue;
        width: 80%;
        max-width: 1200px;
        margin: 10vh auto;
        @include w1380() {
            width: 80%;
            margin: 0 auto;
        }
        .title{
            // border: 1px solid brown;
            display: flex;
            align-items: center;
            justify-content: space-between;
            img{
                // border: 1px solid blue;
                @include w900() {
                    width: 150px;
                }
                @include w700() {
                    width: 120px;
                }
                @include w600() {
                    width: 100px;
                }
                @include w500() {
                    width: 80px;
                }
                @include w400() {
                    width: 60px;
                }
            }
            .titletext{
                // border: 1px solid green;
                height: auto;
                font-size: $font_32;
                margin: 30px 0;
                background-color: $second_color3;
                border-radius: 15px;
                padding: 5px 10px;
                @include w600() {
                    font-size: $font_24;
                }
                @include w500() {
                    font-size: $font_20;
                }
                @include w400() {
                    margin-bottom: 10px;
                }
            }
          }
        .box{
            // border: 1px solid maroon;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            padding-bottom: 10px;
            .leftbox img:hover{
                transform:scale(1.2,1.2)
            }
            
            .leftbox_text{
                // border: 1px solid green;
                font-size: 24px;
                margin-top: 30px;
                margin-bottom: 10px;
                background-color: $second_color3;
                border-radius: 5px;
                padding: 5px 10px;
                text-align: center;
                opacity: .9;
                @include w600() {
                    font-size: $font_20;
                }
                @include w500() {
                    font-size: 16px;
                    padding: 5px 5px;
                }
            }
    
            .question{
                margin: 0 100px;
                display: inline-flex;
                @include w900() {
                    margin: 0 90px;
                }
                @include w800() {
                    width: 120px;
                }
                @include w700() {
                    margin: 0 70px;
                }
                @include w600() {
                    width: 100px;
                    margin: 0 50px;
                }
                @include w500() {
                    width: 80px;
                    margin: 0 40px;
                }
                @include w400() {
                    width: 60px;
                    margin: 0 20px;
                }
            }
    
            .rightbox img:hover{
                transform:scale(1.2,1.2)
              }
            
            .rightbox_text{
                // border: 1px solid green;
                font-size: 24px;
                margin-top: 30px;
                margin-bottom: 10px;
                background-color: $second_color3;
                border-radius: 5px;
                padding: 5px 10px;
                text-align: center;
                opacity: .9;
                @include w600() {
                    font-size: $font_20;
                }
                @include w500() {
                    font-size: 16px;
                    padding: 5px 5px;
                }
            }
    
        }
    }
}