@import '../base/var';
@import '../mixin/mixin';

div.game_store_content{
    // border: 1px solid blue;
    width: 80%;
    margin: 0 auto;
    @include w500() {
        width: 90%;
        margin: 0 auto;
    }
    div.game_store_first_content{
        // border: 1px solid blue;
        display: flex;
        justify-content: space-between;
        @include w700() {
            display: block;
            vertical-align: top;
        }
        div.first_content_option{
            border:1px solid transparent;
            // border:1px solid green;
            width: 22%;
            background-color: $main_color;
            box-shadow: $shadow;
            border-radius: 15px;
            @include w700() {
                width: 100%;
                vertical-align: top;
                margin-right: 5%;
                height: 100%;
                margin-bottom: 5px;
            }
            nav ul{
                // border:1px solid brown; 
                padding: 0;
                text-align: center;
                display: flex;
                flex-direction: column;
                @include w700() {
                    display: block;
                    margin-top: 2%;
                }
                li{
                    // border:1px solid green; 
                    margin: 0 auto;
                    cursor: pointer;
                    &:first-child{
                        cursor: auto;
                    }
                    @include w700() {
                        display: inline-block;
                    }
                    &:first-child{
                        @include w700() {
                            display: block;
                        }  
                    }
                    p{
                        // border:1px solid red; 
                        font-size: $font_24;
                        color:$font_color;
                        @include w700() {
                            display: block;
                            margin: 10px auto;
                            padding: 5px;
                        }
                        @include w500() {
                            font-size: $font_20;
                        }
                    }
                    div{
                        // border: 1px solid maroon;
                        margin: 0 auto;
                        background-color: $second_color1;
                        border-radius: 10px;
                        box-shadow: $shadow;
                        margin-bottom: 20px;
                        @include w700() {
                            width: 80%;
                            margin: 20px 10px;
                            margin-bottom: 10px;
                            display: inline-block;
                        }
                        @include w500() {
                            margin: 5px 10px;
                        }
                        p{
                            font-size: $font_22;
                            color:$font_color;
                            // border: 1px solid gray;
                            display: inline-block;
                            margin: 0;
                            margin-bottom: 2px;
                            padding: 5px 15px;
                            @include w500() {
                                font-size: 16px;
                                padding: 2px 5px;
                            }
                        }
                    }
                    div:hover{
                        background-color: $second_color5;
                    }
                    
                }
            }
        }
        div.first_content_cat{
            // border:1px solid green;
            width: 50%;
            background-color: $main_color;
            box-shadow: $shadow;
            border-radius: 15px;
            @include w700() {
                width: 100%;
                display: block;
            }
            div.try_on{
                // border:1px solid black;
                p{
                    // border:1px solid brown;
                    font-size: $font_24;
                    color:$font_color;
                    text-align: center;
                    @include w700() {
                        margin: 5px auto;
                    }
                    @include w500() {
                        font-size: $font_20;
                    }
                }
            }
            div.cat{
                // border: 1px solid orange;
                text-align: center;
                margin-top: 10px;
                @include w700() {
                    width: 100%;
                }
                img{
                    @include w700() {
                        width: 200px;
                    }
                    @include w500() {
                        width: 180px;
                    }
                }
            }
            div.take_off{
                // border: 1px solid maroon;
                text-align: right;
                button.take_off_btn{
                    @include button();
                    // border: 1px solid blue;
                    margin-right: 55px;
                    margin-top: -20px;
                    margin-bottom: 10px;
                    box-shadow: $shadow;
                    cursor: pointer;
                    @include w800() {
                        margin-right: 10%;
                    }
                    @include w700() {
                        margin-top: -10px;
                    }
                    @include w500() {
                        font-size: $font_20;
                    }
                }
                
            }
        }
        div.first_content_text{
            // border:1px solid green;
            height: auto;
            width: 22%;
            background-color: $main_color;
            box-shadow: $shadow;
            border-radius: 15px;
            @include w700() {
                display: inline-block;
                width: 100%;
                margin-top: 5px;
            }
            div.product_text{
                // border: 1px solid brown;
                p{
                    font-size: $font_24;
                    color: $font_color;
                    text-align: center;
                    @include w700() {
                        margin: 5px auto;
                    }
                    @include w500() {
                        font-size: $font_20;
                    }
                }
            }
            div.text{
                // border: 1px solid blue;
                padding-left: 10px;
                margin-top: 35px;
                @include w700() {
                    margin-top: 10px;
                }
                p{
                    font-size: $font_22;
                    color:$font_color;
                    @include w700() {
                        margin: 5px auto;
                    }
                    @include w500() {
                        font-size: 16px;
                    }
                }
            }
        }

       

    }

    div.game_store_second_content{
        // border:1px solid green;
        width: 100%;
        background-color: $main_color;
        box-shadow: $shadow;
        border-radius: 15px;
        margin-top: 30px;
        text-align: center;
        @include w700() {
            margin-top: 20px;
        }
        div.all_product{
            display: flex;
            justify-content: center;
            div.product{
                background-color: $second_color1;
                // border:1px solid blue;
                height: 120px;
                width: 140px;
                text-align: center;
                padding-left: 10px;
                padding-top: 20px;
                border-radius: 15px;
                margin: 20px;
                cursor: pointer;
                @include w800() {
                    height: 100px;
                    width: 120px;
                    margin: 20px 10px;
                }
                @include w600() {
                    height: 80px;
                    width: 100px;
                    margin: 20px 5px;
                }
                @include w400() {
                    height: 65px;
                    width: 80px;
                    margin: 10px 2px;
                }
                img{
                    width: 80%;
                }
            }
            
            div.-on{
                border:3px solid $font_color;
            }
        }
        button{
            cursor: pointer;
            @include button();
            margin-bottom: 15px;
            @include w500() {
                font-size: $font_20;
            }
        }
        
    }

    div.game_store_last_content{
        // border:1px solid green;
        width: 100%;
        background-color: $main_color;
        box-shadow: $shadow;
        border-radius: 15px;
        margin-top: 30px;
        margin-bottom: 150px;
        @include w700() {
            margin-top: 20px;
        }
        div.shopping_chart{
            // border:1px solid blue;
            text-align: center;
            img{
                // border:1px solid purple;
                position: relative;
                top:5px;
            }
            p{
                // border:1px solid brown;
                font-size: $font_24;
                color:$font_color;
                display: inline-block;
                margin-left: 10px;
                @include w700() {
                    margin: 10px auto;
                    padding: 5px;
                }
                @include w500() {
                    font-size: $font_20;
                }
            }
        }
        div.chart_all_product{
            // border:1px solid blue;
            display: flex;
            justify-content: center;
            width: 80%;
            margin: 0 auto;
            div.shopping_product{
                // border:1px solid black;
                background-color: $second_color1;
                text-align: center;
                margin: 20px;
                margin-top: 0;
                border-radius: 15px;
                padding-top: 20px;
                height: 120px;
                width: 140px;
                @include w800() {
                    height: 100px;
                    width: 120px;
                    margin: 0 10px;
                }
                @include w600() {
                    height: 80px;
                    width: 100px;
                    margin: 0 5px;
                }
                @include w400() {
                    height: 65px;
                    width: 80px;
                    margin: 0 2px;
                }
                img{
                    // border:1px solid purple;
                    width: 80%;
                }
            }
        }
        div.pay{
            // border:1px solid red;
            text-align: center;
            @include w700() {
                text-align: center;
            }
                div.point{
                // border:1px solid green;
                display: inline-block;
                margin-left: 20%;
                margin-right: 50px;
                @include w700() {
                    display: block;
                    margin: 0 auto;
                }
                
                p{
                    // border:1px solid blue;
                    font-size: $font_20;
                    color: $font_color;
                    @include w700() {
                        display: block;
                        margin: 5px auto
                    }
                }
            }
            button{
                cursor: pointer;
                @include button();
                @include w700() {
                    margin: 10px auto
                }
            }
            
        }
    }
}



