@import '../base/var';
@import '../mixin/mixin';

div.game_choose_backgroung_content{
    border-bottom: 1px solid white;
    position: relative;
    
    div.black_cat_right{
        display: inline-block;
        position: absolute;
        width: 200px;
        right: 0%;
        top:50%;
        opacity: 0.8;
        @include w900() {
            display: none
        }
    }
    div.black_cat_bottom{
        display: inline-block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom:-.5%;
        opacity: 0.8;
        z-index: -1;
    }
    div.black_cat_left{
        display: inline-block;
        width: 200px;
        position: absolute;
        left: 0;
        top:50%;
        opacity: 0.8;
        @include w900() {
            display: none
        }
    }
}
div.game_choose_content{
    // border:1px solid green;
    width: 70%;
    margin: 0 auto;
    background-color: $main_color;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 160px;
    @include w700() {
        margin-bottom: 130px;
    }
    @include w600() {
        margin-bottom: 110px;
    }
    @include w500() {
        margin-bottom: 95px;
    }
    @include w400() {
        margin-bottom: 80px;
    }
    div.stage{
        // border:1px solid purple;
        width: 40%;
        margin-right: 50px;
        @include w900() {
            display: block;
            width: 100%;
            margin: 0 auto;
            margin-top: 5px;
            text-align: center;
        }
        p{
            font-size: $font_24;
            color: $font_color;
        }
        img{
            // border:1px solid black;
            width: 65%;
            aspect-ratio: 1/1;
            @include w900() {
                width: 40%;
            }
        }

    }
    div.cat{
        // border:1px solid purple;
        width: 40%;
        @include w900() {
            display: block;
            width: 100%;
            margin: 0 auto;
            margin-top: 5px;
            text-align: center;
        }
        p{
            font-size: $font_24;
            color:$font_color;
        }
        div.cat_pic{
            border:1px solid $font_color;
            background-color: $second_color1;
            border-radius: 15px;
            width: 65%;
            aspect-ratio: 1/1;
            @include w900() {
                margin: 0 auto;
                width: 40%;
            }
            img{
                padding-top: 12%;
            }
        }
    }
    div.level{
        // border:1px solid purple;
        width: 40%;
        margin-right: 50px;
        @include w900() {
            display: block;
            width: 100%;
            margin: 0 auto;
            margin-top: 5px;
            text-align: center;
        }
        p{
            font-size: $font_24;
            color:$font_color;
        }
        div.star_text{
            border:1px solid $font_color;
            width: 65%;
            border-radius: 5px;
            background-color: $second_color1;
            padding: 15px;
            padding-right: 30px;
            @include w900() {
                margin: 0 auto;
                margin-top: 5px;
                width: 40%;
            }
            @include w600() {
                width: 60%;
            }
            @include w400() {
                width: 80%;
            }
            p{
                font-size: 18px;
                // border:1px solid red;
                margin: 0;
            }
            p.introduce{
                margin-top: 20px;
            }
        }
    }
    div.item{
        // border:1px solid purple;
        width: 40%;
        @include w900() {
            display: block;
            width: 100%;
            margin: 0 auto;
            margin-top: 5px;
            text-align: center;
        }
        p{
            font-size: $font_24;
            color:$font_color;
        }
        div.item_all_pic{
            // border:1px solid black;
            display: flex;
            justify-content: left;
            @include w900() {
                margin: 0 auto;
                width: 80%;
                justify-content: center;
            }
            // @include w600() {
            //     width: 60%;
            // }
            // @include w600() {
            //     width: 60%;
            // }
            div.item_pic{
                border:1px solid $font_color;
                width: 25%;
                background-color: $second_color1;
                border-radius: 15px;
                text-align: center;
                padding-top: 10px;
                margin-right: 20px;
                @include w900() {
                    margin-right: 10px;
                }
                @include w600() {
                    padding: 2px;
                }
                &:first-child{
                    @include w900() {
                        padding-top: 5px;
                    } 
                }
                &:last-child{
                    @include w900() {
                        margin-right: 0;
                    } 
                }
            }
        }
    }
    .bottom{
        // border:1px solid black;
        width: 100%;
        text-align: center;
        button{
            // width: 25%;
            @include button();
            // border:1px solid blue;
            margin-top: 25px;
            margin-bottom: 15px;
            cursor: pointer;
        }
    }
}