@import '../base/var';
@import '../mixin/mixin';
// *{
//     margin: 0;
//     box-sizing: border-box;
//     font-size: 20px;
//     color: $font_color;
// }
a{
    display: block;
}
video{
    // margin: 0 auto;
    width: 100%;
    // height: 500px;
}
main{
    // border: 1px solid blue;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    
}
div.index_block1{
    // border: 1px solid red;
    background-image: url('../images/index_page/block/index_block1.png');
    // height: 160px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding: 50px 20%;
    // @include w1200up(){
    //     border: 1px solid green;
    //     background-size: 100% auto;
    // }
    @include w1380(){
    background-size: auto 100%;
    }
    @include w1000(){
        padding: 30px 10%;
    }
    @include w400(){
        padding: 30px 2%;
    }
    p{
        // border: 1px solid blue;
        font-size: $font_32;
        color: $font_color;
        text-align: center;
        @include w600(){
            font-size: $font_26;
        }
    }
    
}
div.index_block2{
    // border: 1px solid red;
    background-image: url('../images/index_page/block/index_block2.png');
    // height: 160px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding: 40px 20%;
    padding-top: 80px;
    @include w1000(){
        padding: 30px 10%;
        background-size: auto 100%;
    }
    @include w400(){
        padding: 30px 2%;
    }
    p{
        // border: 1px solid blue;
        font-size: $font_32;
        color: $font_color;
        text-align: center;
        @include w600(){
            font-size: $font_26;
        }
    }
    
}
.first_block{
    // border: 1px solid red;
    width: 100%;
    margin-top: 50px;
    padding: 0%;
    .content_1{
        // border: 1px solid black;
        font-size: 0;
        img:nth-child(1){
            // border: 1px solid orange;
            padding: 0;
            height: 100%;
        }
        img:nth-child(2){
            // border: 1px solid rebeccapurple;
            padding: 0;
            height: 100%;
            position: relative;
            left: -100px;
            top: 192px;
        }
    }
    .content_2{
        // border: 1px solid green;
        flex-direction: row-reverse;
        padding: 0;
        img:nth-child(1){
            // border: 1px solid orange;
            padding: 0;
            height: 100%;
        }
        img:nth-child(2){
            // border: 1px solid purple;
            padding: 0;
            height: 100%;
            position: relative;
            top: 192px;
            transform: translateX(120px);
        }
    }
}
article.sec_block{
    background-color: $second_color5;
    // border: 1px solid red;
    max-width: 1200px;
    width: 90%;
    border-radius: 15px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: $shadow_box;
    p.sec_title{
        // border: 1px solid orange;
        font-size: $font_26;
        margin: 0 auto;
        width: fit-content;
        color: $font_color;
        background-color: $main_color;
        padding: 10px 40px;
        border-radius: 15px;
        margin-bottom: 15px;
        @include w900(){
            font-size: $font_24;
        }
        @include w800(){
            font-size: $font_24;
            padding: 10px 20px;
        }
        @include w600(){
            font-size: $font_22;
            padding: 5px 10px;
        }
    }
    div.content{
        // border: 1px solid maroon;
        margin: 0 auto;
        width: 80%;
        @include w1100(){
            width: 90%;
        }
        div.index_personal_cake{
            display: flex;
            // border: 1px solid blue;
            align-items: center;
            @include w1000(){
                flex-wrap: wrap-reverse;
            }
        }
        .img{
            // border: 1px solid red;
            background-color: $second_color4;
            width: 70%;
            height: 350px;
            border-radius: 15px;
            box-shadow: $shadow;
            vertical-align: middle;
            @include w1000(){
                width: 70%;
                margin: 0 auto;
                height: 300px;
            }
            @include w900(){
                height: 250px;
            }
            @include w800(){
                height: 200px;
            }
            @include w600(){
                height: 150px;
                width: 80%;
            }
            @include w500(){
                height: 150px;
                width: 100%;
            }
            
        }
        .text_area{
            margin-left: 20px;
            width: 60%;
            // height: 350px;
            // border: 1px solid aqua;
            display: inline-block;
            @include w1000(){
                width: 70%;
                margin: 0 auto;
                margin-bottom: 20px;
            }
            @include w600(){
                width: 80%;
            }
            @include w500(){
                width: 100%;
            }
            
            .text_area_in_1 p{
                text-align: left;
                background-color: $main_color;
                border-radius: 15px;
                font-size: 16px;
                color: $font_color;
                padding: 10px 20px 10px 20px;
                // border: .3px solid $font_color;
                
            }
        }
        .text_area_in_2{
            background-color: $main_color;
            border-radius: 15px;
            // border: .3px solid $font_color;
            box-shadow: $shadow;
            padding-top: 5px;
            padding-bottom: 5px;

    
            p{
                // border: 1px solid red;
                text-align: center;
                padding: 5px 0px 5px 0px;
                margin: 0 auto;
                margin-bottom: 7px;
                width:70%;
                background-color: $second_color4;
                border-radius: 15px;
                box-shadow: $shadow;
                font-size: $font_20;
                color: $font_color; 
            }
            
        }
        .button {
            margin-top: 10px;
            // border:1px solid red;
            text-align: center;
            margin-left: 54%;
            @include w1000(){
                margin-left: 0;
            }
            @include w600(){
                margin-top: 5px
            }
            a{
                @include button();
                padding: 10px 50px;
                text-decoration: none;
                @include w1000(){
                    padding: 10px 30px;
                }
                @include w900(){
                    font-size: $font_22;
                }
                @include w800(){
                    padding: 10px 20px;
                }
                @include w600(){
                    padding: 5px 10px;
                }
                @include w400(){
                    font-size: $font_20;
                }
            }
            
        }
    }
}
.thrid_block{
    // border: 1px solid red;
    background-color: $main_color;
    border-radius: 15px;
    width: 90%;
    margin: 0 auto;
    margin-top: 150px;
    position: relative;
    @include w600(){
        margin-top: 100px;
    }
    @include w400(){
        margin-top: 50px;
    }
    div.back{
        // border: 1px solid aqua;
        padding: 40px 30px;
        @include w900(){
            padding-bottom: 100px;
        }
        @include w700(){
            padding-bottom: 125px;
        }
        .frame{
            // border: 1px solid blue;
            transform: rotate(-3deg);
            position: relative;
            width: 80%;
            margin: 0 auto;
            margin-top: 50px;
            z-index: 0;
            @include w500(){
                width: 100%;
                margin-top: 30px;
            }
            @media (min-width:320px) and (max-width: 603px) {
                transform: rotate(-0deg);
            }
          .col-5{
                // border: 1px solid blue;
                // display: none;
                width: 80%;
                position: absolute;
                top:0;
                left: 0;
                transform: translate(10%,-80%);
                z-index: -1;
                @include w1380(){
                    width: 100%;
                    position: absolute;
                    top:0;
                    left: 0;
                    transform: translateY(-100%);
                }
          }
        }
        .thrid_block_content{
            width: 70%;
            background-color: $second_color1;
            border: 5px solid $font_color;
            // border: 1px solid red;
            border-radius: 15px;
            // height: 400px;
            padding-bottom: 10px;
            position: relative;
            p{
                // border: 1px solid red;
                font-size: $font_26;
                color: $font_color;
                background-color: $main_color;
                width: fit-content;
                padding: 5px 30px;
                border-radius: 15px;
                margin: 0 auto;
                margin-top: 20px;
                margin-bottom: 20px;
                @include w600(){
                    font-size: $font_22;
                }
                @media (min-width:320px) and (max-width: 603px) {
                    
                }
            }
            
            .col-fluid{
                // border: 1px solid red;
                display: block;
                margin-left: 30px;
                width: 80%;
                // height: 280px;
                border-radius: 10px;
                @include w700(){
                    margin-left: 20px;
                }
                @include w500(){
                    margin-left: 10px;
                }
            }
        }
        .know{
            // border: 1px solid red;
            width: 50%;
            position: absolute;
            bottom: 0;
            // transform: translateY(20%);
            @include w900(){
                display: block;
                transform: translateY(50%);
                width: 100%;
            }
            @include w700(){
                transform: translate(-10% , 60%);
                width: 120%;
            }
            @include w500(){
                transform: translate(-2% , 60%);
                width: 100%;
            }
            @include w400(){
                transform: translate(-2% , 80%);
                width: 100%;
            }
            
            p{
                transform: rotate(3deg);
                display: inline-block;
                font-size: $font_20;
                color: $font_color;
                background-color: $second_color2;
                padding: 15px 5px;
                border-radius: 15px;
                box-shadow: $shadow;
                z-index: 40;
                @media (min-width:603px) and (max-width: 901px) {
                    position: absolute;
                    top: -50px;
                    left: -10px;
                    width: 265px;
                }
                @media (min-width:320px) and (max-width: 603px) {
                    transform: rotate(0deg);
                    position: absolute;
                    top: -50px;
                    left: -45%;
                    width: 100%;
                }
                span{
                    font-size: $font_22;
                    font-weight: bold;
                    @include w600(){
                        font-size: 16px;
                    }
                    @include w400(){
                        font-size: 14px;
                    }
                }
            }
        }
        img.thrid_block_cat{
            // border: 1px solid green;
            position: absolute;
            right: -10%;
            top:10%;
            width: 25%;
            transform: rotate(3deg);
            @media (min-width:320px) and (max-width: 603px) {
                transform: rotate(0deg);
                right: 0;
                top: 60%
            }
        }
        
    }
    
}
.four_block{
    // border: 1px solid red;
    width: 90%;
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
    div.snack_slick_block{
        // border: 1px solid blue;
        width: auto;
        height: auto;
        text-align: center;
        margin: 0 auto;
        ul.round_snack{
        //   border: 1px solid blue; 
        display: flex;
        width: 90%;
        //   max-width: 1000px;
        height: auto;
        text-align: center;
        margin: 0 auto;
        /* padding: 0; */
        padding: 20px 0;
        button.slick-arrow{
            // border: 1px solid green;
            transform:scale(1.8,1.8);
            @include w1580(){
                transform:scale(1,1);
            }
        }
        li.sna_slider{
            // border: 1px solid green;
            width: auto;
            position: relative;
            padding: 20px 0;
            text-align: center;
            margin: 0 auto;
            a{
                text-align: center;
                margin: 0 auto;
                // border: 1px solid green;
                width: inherit;
                img{
                    // border: 1px solid blue;
                    // width: 95%;
                    width: 95%;
                    position: relative;   
                    text-align: center;
                    margin: 0 auto;
                }
                div.content_block_snack{
                    // border: 1px solid red;
                    border-radius: 0 0 10px 10px;
                    position: absolute;
                    text-align: center;
                    margin: 0 auto;
                    color: $font_color;
                    background-color: #DBDAD6B3;
                    width: 95%;
                    margin-left: 2.5%;
                    // width: inherit;
                    font-size: 16px;
                    bottom: 20px;
                    // padding: 10px;
                }
            }
          }
        }
    }
    .button-prev{
        background-repeat: no-repeat;
        height: 64px;
        width: 42px;
        z-index: 40;
        position: absolute;
        left: -3%;
        top:50%;
        transform: translate(-100%,-50%);

    }
    .button-next{
        // border: 1px solid red;
        background-repeat: no-repeat;
        height: 64px;
        width: 42px;
        z-index: 40;
        position: absolute;
        right: -3%;
        top:50%;
        transform: translate(100%,-50%);

    }
    // .swiper{
    //     margin: 0 auto;
    // }
    // .swiper-pagination{
    //    display: none;
    // }
}

.cat{
    position: relative;
    // border: 1px solid red;
    .frame{
        // border: 1px solid orange;
        width: 60%;
    }
    img.cat{
        // border:1px solid blue;
        margin-bottom: -60px;
        // width: 80%;
        position: absolute;
        right: 10%;
        top:3%;
        @include w1380(){
            top:0px;
        }
        @include w1200(){
            top:-1%;
        }
        @include w1100(){
            top:-2%;
        }
        @include w1000(){
            top:-3%;
        }
        @include w900(){
            top:-2%;
            width: 180px;
        }
        @include w800(){
            top:-5px;
            width: 130px;
        }
        @include w700(){
            top:-15px;
        }
        @include w600(){
            top:-5px;
            width: 100px;
        }
        @include w500(){
            display: none;
            top:-3px;
            width: 80px;
        }
    }
}
.fifth_block_background{
    width: 90%;
    box-sizing: border-box;
    background-color: $main_color;
    border: 15px solid $font_color;
    // border: 1px solid green;
    border-radius: 15px;
    padding-bottom: 20px;
    margin: 0 auto;
    position: relative;
    >img{
        position: absolute;
        // border:1px solid red;
        &:first-child{
            top: 60%;
            left: 0;
            width: 200px;
            @include w600(){
                width: 100px;
            }
        }
        &:nth-child(2){
            top:20%;
            right:0;
            width: 200px;
            @include w600(){
                width: 100px;
            }
        }
        
    }
    .fifth_block_text{
        // border: 1px solid blue;
        // height: 30%;
        text-align: left;
        margin-bottom: 50px;
        @include w600(){
            position: relative;
            margin-bottom: 60px;
        }
        @include w500(){
            margin-bottom: 150px;
        }
        &:last-child{
            @include w500(){
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }
        .fifth_cat_img{
            // border:1px solid purple;
            margin-top: 100px;
            margin-right: 5%;
            vertical-align: top;
            width: 45%;
            border-radius: 20px;
            display: inline-block;
            background-color: #774F40CC;
            margin-left: 50px;
            position: relative;
            @include w800(){
                width: 40%;
                margin-left:25px;
            }
            @include w600(){
                display: block;
                margin-left: 30px;
                margin-top: 100px;
                width: 60%;
            }
            img{
                width: 100%;
                height: 30%;

                position: relative;
                left: 30px;
                top:20px;
                @include w800(){
                    top:10px;
                    left:15px
                }
                
            }
            a{
                // border:1px solid blue;
                position: absolute;
                right: -20%;
                bottom: -10%;
                @include w1380(){
                    right: -30%;
                    bottom: -15%;
                }
                .gogo_text{
                    background-color: $important_color;
                    @include button();
                    // border:1px solid maroon;
                    @include w800(){
                        font-size: $font_20;
                        width: 90%;
                        font-size: 16px;
                    }
                    @include w600(){
                        position: relative;
                        bottom: 10px;
                    }
                    @include w400(){
                        bottom:-10px;
                    }
                    
                }
            }
        }
        .fifth_sticker{
            // border:1px solid green;
            position: relative;
            width: 40%;
            height: 50%;
            display: inline-block;
            text-align: center;
            @include w800(){
                width: 42%;
            }
            @include w700(){
                top:18%;
                width: 45%;
            }
            @include w600(){
                display: block;
                margin: 0 auto;
                margin-bottom: 50px;
                position: static;
            }
            img{
                // border:1px solid red;
                @include w600(){
                    display: none;
                }
            }
            p{
                // border:1px solid green;
                width: 42%;
                position: absolute;
                top:25%;
                left:50%;
                transform: translateX(-50%);
                color: $font_color;
                font-size: $font_22;
                text-align: left;
                @include w1580(){
                    width: 50%;
                }
                @include w1380(){
                    width: 60%;
                }
                @include w1100(){
                    top:25%
                }
                @include w900(){
                    top:20%;
                    font-size: $font_20;
                }
                @include w800(){
                    font-size: 16px;
                }
                @include w700(){
                    top:15%;
                }
                @include w600(){
                    width: 70%;
                    display: block;
                    background-color: $important_color;
                    top: -60px;
                    padding: 2px;
                    padding-left: 5px;
                    padding-right: 5px;
                    border-radius: 10px;
                }
                @include w500(){
                    top:-100px;
                }
                @include w400(){
                    top: -100px;
                }
            }
        }
    }


    //--------------------------------------
    .fifth_block_text_sec{
        // border: 1px solid blue;
        // height: 30%;
        text-align: left;
        margin-bottom: 50px;

        .fifth_cat_img{
            // border:1px solid purple;
            margin-top: 100px;
            margin-right: 5%;
            vertical-align: top;
            width: 45%;

            border-radius: 20px;
            display: inline-block;
            background-color: #774F40CC;
            margin-left: 50px;
            position: relative;
            img{
                width: 100%;
                height: 30%;

                position: relative;
                left: 30px;
                top:20px;
            }
            a{
                // border:1px solid red;
                position: absolute;
                right: -30%;
                bottom: -15%;
            }
            .gogo_text{
                // border:1px solid black;
                background-color: $important_color;
                @include button();
     
            }
        }
        .fifth_sticker{
            // border:1px solid green;
            position: relative;
            width: 40%;
            height: 50%;
            display: inline-block;
            text-align: center;
            p{
                // border:1px solid red;
                width: 60%;
                position: absolute;
                top:35%;
                left:50%;
                transform: translateX(-50%);
                color: $font_color;
                font-size: $font_22;
                @include w1100(){
                    top:25%
                }
                @include w900(){
                    top:20%;
                    font-size: $font_20;
                }
            }
        }
   
    }
    .fifth_block_text_three{
        // border: 1px solid blue;
        // height: 30%;
        text-align: left;
        margin-bottom: 50px;
        .fifth_cat_img{
            // border:1px solid purple;
            margin-top: 100px;
            margin-right: 5%;
            vertical-align: top;
            width: 45%;

            border-radius: 20px;
            display: inline-block;
            background-color: #774F40CC;
            margin-left: 50px;
            position: relative;
            img{
                width: 100%;
                height: 30%;

                position: relative;
                left: 30px;
                top:20px;
            }
            a{
                // border:1px solid red;
                position: absolute;
                right: -30%;
                bottom: -15%;
            }
            .gogo_text{
                // border:1px solid black;
                background-color: $important_color;
                @include button();
     
            }
        }
        .fifth_sticker{
            // border:1px solid green;
            position: relative;
            width: 40%;
            height: 50%;
            display: inline-block;
            text-align: center;
            p{
                // border:1px solid red;
                width: 60%;
                position: absolute;
                top:35%;
                left:50%;
                transform: translateX(-50%);
                color: $font_color;
                font-size: $font_22;
                @include w1100(){
                    top:25%
                }
                @include w900(){
                    top:20%;
                    font-size: $font_20;
                }
            }
        }
        
        
   
    }
}
.sixth_block{
    // border:1px solid red;
    .sixth_catopia{
        // border:1px solid blue;
        height: 100px;
        margin-top:80px;
    }
    .recommend_number{
        // border:1px solid green;
        width: 60%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .recommend_content{
        // border:1px solid black;
        display: flex;
        justify-content: space-around; 
        div.left,
        div.right{
            display: inline-flex;
            width: 100%;
            margin: 5px;
            @include w700(){
                display: block;
            }
            .recommend{
                width: 100%;
                // border:1px solid red;
                flex-wrap: wrap;
                &:first-child{
                    margin-right: 10px;
                }
                div.text{
                    background-color: $main_color;
                    // border:1px solid blue;
                    border-radius: 10px;
                    height: 150px;
                    margin-top: 15px;
                    text-align: center;
                    padding: 10px 2px;
                    @include w700(){
                        height: 150px;
                        margin-top: 5px;
                        margin-bottom: 20px;
                    }
                    @include w400(){
                        padding: 5px 2px;
                        height: 180px;
                    }
                    p{
                        // border:1px solid red;
                        width: 80%;
                        margin: 0 auto;
                        margin-bottom: 10px;
                        font-size: $font_20;
                        color: $font_color;
                        &:last-child{
                        text-align: left;
                        }
                        @include w900(){
                            font-size: 16px;
                        }
                        @include w500(){
                            font-size: 14px;
                        }
                        @include w400(){
                            width: 90%;
                        }
                    }
                }
                img{
                    width: 100%;
                }
            }
        }
        }     
    }
    
article.index_last_block{
    // border:1px solid red;
    height: 700px;
    margin-top: 80px;
    margin-bottom: 180px;
    @include w1380(){
        height: 500px;
    }
    @include w900(){
        height: 400px;
        margin-bottom: 30px;
    }
    @include w700(){
        height: 300px;
        margin-top: 10px;
        margin-bottom: 80px;
    }
    @include w500(){
        margin-top: 10px;
        margin-bottom: 60px;
        height: 220px;
    }
    @include w400(){
        height: 180px;
        margin-top: 10px;
        margin-bottom: 60px;
    }
    .last_first_block{
        
        div{
            display: inline-block;
            width: 40%;
            // float: left;
            &:nth-child(2){
                // border:1px solid green;
                position: relative;
                transform: translate(-20%, -50%);
            }
        }
    }
    .last_sec_block{
        // border:1px solid black;
        
        div{
            // border:1px solid blue;
            display: inline-block;
            width: 40%;
            margin-left: 5%;
            &:nth-child(1){
                width: 30%;
                position: relative;
                transform: translate(40%, -50%);
            }
        }
    }
}

s
.index_background{
    // border: 1px solid orange;
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
    height: 300px;
    background-position: 0 -60px;
    margin: 0 auto;
    margin-bottom: 50px;
}