@import '../base/var';
@import '../mixin/mixin';
// *{
//     margin: 0;
//     box-sizing: border-box;
//     font-size: 20px;
//     color: $font_color;
// }

video{
    // margin: 0 auto;
    width: 100%;
    // height: 500px;
}
main{
    border: 1px solid blue;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    
}
div.index_block1{
    border: 1px solid red;
    background-image: url('../images/index_page/block/index_block1.png');
    height: 160px;
    background-repeat: no-repeat;
    padding: 50px 20%;
    p{
        font-size: $font_32;
        color: $font_color;
        text-align: center;
    }
    
}
div.index_block2{
    border: 1px solid red;
    background-image: url('../images/index_page/block/index_block2.png');
    height: 160px;
    background-repeat: no-repeat;
    padding: 40px 20%;
    padding-top: 80px;
    p{
        font-size: $font_32;
        color: $font_color;
        text-align: center;
    }
    
}
.first_block{
    border: 1px solid red;
    width: 100%;
    margin-top: 50px;
    padding: 0%;
    .content_1{
        border: 1px solid black;
        font-size: 0;
        img:nth-child(1){
            border: 1px solid orange;
            padding: 0;
            height: 100%;
        }
        img:nth-child(2){
            border: 1px solid rebeccapurple;
            padding: 0;
            height: 100%;
            position: relative;
            left: -100px;
            top: 192px;
        }
    }
    .content_2{
        border: 1px solid green;
        flex-direction: row-reverse;
        padding: 0;
        img:nth-child(1){
            border: 1px solid orange;
            padding: 0;
            height: 100%;
        }
        img:nth-child(2){
            border: 1px solid purple;
            padding: 0;
            height: 100%;
            position: relative;
            top: 192px;
            transform: translateX(120px);
        }
    }
}
article.sec_block{
    background-color: $second_color5;
    border: 1px solid red;
    width: 90%;
    border-radius: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: $shadow_box;
    p.sec_title{
        // border: 1px solid orange;
        font-size: $font_26;
        margin: 0 auto;
        width: fit-content;
        color: $font_color;
        background-color: $main_color;
        padding: 10px 40px;
        border-radius: 15px;
        margin-bottom: 15px;
    }
    div.content{
        // border: 1px solid maroon;
        margin: 0 auto;
        width: 80%;  
        div.index_personal_cake{
            display: flex;
            // border: 1px solid blue;
            align-items: center;
        }
        .img{
            // border: 1px solid red;
            background-color: $second_color4;
            width: 70%;
            height: 350px;
            border-radius: 15px;
            box-shadow: $shadow;
            vertical-align: middle;
        }
        .text_area{
            margin-left: 20px;
            width: 60%;
            // height: 350px;
            // border: 1px solid aqua;
            display: inline-block;
            
            
            .text_area_in_1 p{
                text-align: left;
                background-color: $main_color;
                border-radius: 15px;
                font-size: 16px;
                color: $font_color;
                padding: 10px 20px 10px 20px;
                // border: .3px solid $font_color;
                
            }
        }
        .text_area_in_2{
            background-color: $main_color;
            border-radius: 15px;
            // border: .3px solid $font_color;
            box-shadow: $shadow;
            padding-top: 5px;
            padding-bottom: 5px;

    
            p{
                // border: 1px solid red;
                text-align: center;
                padding: 5px 0px 5px 0px;
                margin: 0 auto;
                margin-bottom: 7px;
                width:70%;
                background-color: $second_color4;
                border-radius: 15px;
                box-shadow: $shadow;
                font-size: $font_20;
                color: $font_color; 
            }
            
        }
        .button {
            margin-top: 10px;
            // border:1px solid red;
            text-align: center;
            margin-left: 54%;
            a{
                @include button();
                padding: 10px 50px;
                text-decoration: none;
            }
        }
    }
}
.thrid_block{
    // border: 1px solid red;

    background-color: $main_color;
    border-radius: 15px;
    width: 90%;
    margin: 0 auto;
    margin-top: 80px;
    position: relative;
    .frame{
        // border: 1px solid blue;
        transform: rotate(-3deg);
        position: relative;
      width: 80%;
      margin: 0 auto;
      margin-top: 50px;

      z-index: 0;
      .col-5{
        //   border: 1px solid green;
          width: 100%;
          position: absolute;
          top:0;
          left: 0;
          transform: translateY(-100%);
      }
    }
    .thrid_block_content{
        background-color: $second_color1;
        border: 5px solid $font_color;
        border-radius: 15px;
        height: 400px;
        position: relative;
        p{
            // border: 1px solid red;
            font-size: $font_26;
            color: $font_color;
            background-color: $main_color;
            width: fit-content;
            padding: 5px 30px;
            border-radius: 15px;
            margin: 0 auto;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .col-fluid{
            // border: 1px solid red;
            display: block;
            margin-left: 30px;
            width: 80%;
            height: 280px;
            border-radius: 10px;

        }
    }
 
        img.thrid_block_cat{
            // border: 1px solid red;
            position: absolute;
            right: -10%;
            top:10%;
            width: 25%;
            transform: rotate(3deg);

        
    }
    
}
div.back{
    // border: 1px solid aqua;
    padding: 40px 30px;
}
.know{
    // border: 1px solid red;;
    width: 50%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    transform: translateY(20%);
    
    p{
        transform: rotate(3deg);
        display: inline-block;
        // font-size: $font_20;
        color: $font_color;
        background-color: $second_color2;
        padding: 15px 5px 15px 5px;
        border-radius: 15px;
        box-shadow: $shadow;
        z-index: 40;
    }
}
.four_block{
    border: 1px solid red;
    width: 90%;
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
    div.index_swiper_block{
        border: 1px solid orange;
        background-color: $second_color3;
        // transform: scale(1.1);
        border-radius: 20px;
        padding: 20px 10px;
        div.swiper_content{
            position: relative;
            margin: 0 auto;
            // border:1px solid blue;
            width: 100%;
            div.swiper_text{
                // border:1px solid black;
                height: 30px;
                position: absolute;
                bottom: 0;
                width: 100%;
                background-color: #DBDAD799;
                text-align: center;
                padding: 10px 0;
                color: $font_color;
                font-size: $font_22;
                font-weight: bolder;
            }
        }
        
    }
    .button-prev{
        background-repeat: no-repeat;
        height: 64px;
        width: 42px;
        z-index: 40;
        position: absolute;
        left: -3%;
        top:50%;
        transform: translate(-100%,-50%);

    }
    .button-next{
        // border: 1px solid red;
        background-repeat: no-repeat;
        height: 64px;
        width: 42px;
        z-index: 40;
        position: absolute;
        right: -3%;
        top:50%;
        transform: translate(100%,-50%);

    }
    .swiper{
        margin: 0 auto;
    }
    .swiper-pagination{
       display: none;
    }
}

.cat{
    position: relative;
    // border: 1px solid red;
    // .frame{
        // border: 1px solid orange;

    // }
    img.cat{
        margin-bottom: -60px;
        // width: 80%;
        position: absolute;
        right: 10%;
    }
}
.fifth_block_background{
    width: 90%;
    box-sizing: border-box;
    background-color: $main_color;
    border: 15px solid $font_color;
    // border: 1px solid green;
    border-radius: 15px;
    padding-bottom: 20px;
    margin: 0 auto;
    position: relative;
    >img{
        position: absolute;
        &:first-child{
            top: 60%;
            left: 0;
            width: 200px;
        }
        &:nth-child(2){
            top:20%;
            right:0;
            width: 200px;

        }
    }
    .fifth_block_text_first{
        // border: 1px solid blue;
        // height: 30%;
        text-align: left;
        margin-bottom: 50px;
        .fifth_cat_img{
            // border:1px solid purple;
            margin-top: 100px;
            margin-right: 5%;
            vertical-align: top;
            width: 45%;

            border-radius: 20px;
            display: inline-block;
            background-color: #774F40CC;
            margin-left: 50px;
            position: relative;
            img{
                width: 100%;
                height: 30%;

                position: relative;
                left: 30px;
                top:20px;
            }
            a{
                // border:1px solid red;
                position: absolute;
                right: -30%;
                bottom: -15%;
            }
            .gogo_text{
                // border:1px solid black;
                background-color: $important_color;
                @include button();
     
            }
        }
        .fifth_sticker{
            // border:1px solid green;
            position: relative;
            width: 40%;
            height: 50%;
            display: inline-block;
            text-align: center;
            p{
                // border:1px solid red;
                width: 60%;
                position: absolute;
                top:35%;
                left:50%;
                transform: translateX(-50%);
                color: $font_color;
                font-size: $font_22;
            }
        }
    }

    .fifth_block_text_sec{
        // border: 1px solid blue;
        // height: 30%;
        text-align: left;
        margin-bottom: 50px;

        .fifth_cat_img{
            // border:1px solid purple;
            margin-top: 100px;
            margin-right: 5%;
            vertical-align: top;
            width: 45%;

            border-radius: 20px;
            display: inline-block;
            background-color: #774F40CC;
            margin-left: 50px;
            position: relative;
            img{
                width: 100%;
                height: 30%;

                position: relative;
                left: 30px;
                top:20px;
            }
            a{
                // border:1px solid red;
                position: absolute;
                right: -30%;
                bottom: -15%;
            }
            .gogo_text{
                // border:1px solid black;
                background-color: $important_color;
                @include button();
     
            }
        }
        .fifth_sticker{
            // border:1px solid green;
            position: relative;
            width: 40%;
            height: 50%;
            display: inline-block;
            text-align: center;
            p{
                // border:1px solid red;
                width: 60%;
                position: absolute;
                top:35%;
                left:50%;
                transform: translateX(-50%);
                color: $font_color;
                font-size: $font_22;
            }
        }
   
    }
    .fifth_block_text_three{
        // border: 1px solid blue;
        // height: 30%;
        text-align: left;
        margin-bottom: 50px;
        .fifth_cat_img{
            // border:1px solid purple;
            margin-top: 100px;
            margin-right: 5%;
            vertical-align: top;
            width: 45%;

            border-radius: 20px;
            display: inline-block;
            background-color: #774F40CC;
            margin-left: 50px;
            position: relative;
            img{
                width: 100%;
                height: 30%;

                position: relative;
                left: 30px;
                top:20px;
            }
            a{
                // border:1px solid red;
                position: absolute;
                right: -30%;
                bottom: -15%;
            }
            .gogo_text{
                // border:1px solid black;
                background-color: $important_color;
                @include button();
     
            }
        }
        .fifth_sticker{
            // border:1px solid green;
            position: relative;
            width: 40%;
            height: 50%;
            display: inline-block;
            text-align: center;
            p{
                // border:1px solid red;
                width: 60%;
                position: absolute;
                top:35%;
                left:50%;
                transform: translateX(-50%);
                color: $font_color;
                font-size: $font_22;
            }
        }
        
        
   
    }
}
.sixth_block{
    border:1px solid red;
}

.index_background{
    // border: 1px solid orange;
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
    height: 300px;
    background-position: 0 -60px;
    margin: 0 auto;
    margin-bottom: 50px;
}