@import '../base/var';

body{
  box-sizing: border-box;
  margin: 0;
  background-color: #FFF2CC;
  font-size: 30px;
  color: #774F40;
}
main{
  position: relative;
  img.background_1{
    position: absolute;
    left: -20px;
    top: 400px;
    z-index: -1;
    transform: scale(0.8);
  }
  img.background_2{
    position: absolute;
    right: -20px;
    top: 90px;
    z-index: -1;
    transform: scale(0.8);
  }
}
.block{
  position: relative;
}
.block p{
  border: 1px solid block;
  position: absolute;
  left: 120px;
  top: 144px
}
.content img{
  display: block;
  margin: 0 auto;
  width: 360px;
  height: 180px;
}
.button_block{
  display: flex;
  width: 60%;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 150px;
  a{
    display: block;
    text-decoration: none;
    color: $font_color;
  }
}
.button_block p.button{
  width: 300px;
  height: 140px;
  font-size: 48px;
  text-align: center;
  line-height: 140px;
  background-color: #FED67E;
  border-radius: 15px;
  box-shadow: 2px 2px 2px lightgray;
  margin: 0;
  cursor: pointer;
}
.cat_block{
  font-size: 0;
  img:nth-child(1){
    margin-left: 150px;
  }
  img:last-child{
    transform: translateX(-20px);
  }
}
