@import '../base/var';
@import '../mixin/mixin';

div.register_first_container {
    width: 80vw;
    margin: 50px auto;
}

div.register_first_container > div.register_first_title {
    width: 100%;
    text-align: center;
    line-height: 3;
    background-color: $second_color1;
    color: $font_color;
    border: 1px solid $font_color;
    font-weight: bold;
    font-size: $font_24;
    @include w900() {
        font-size: $font_22;
    }
    @include w700() {
        font-size: $font_20;
    }
}

div.register_first_container > div.register_first_process {
    display: flex;
    justify-content: space-around;
    margin: 32px 0;
} 

div.register_first_container > div.register_first_process > div.register_first_process_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 248px;
    height: 88px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include w1000() {
        width: 228px;
        height: 80px;
    }
    @include w900() {
        width: 200px;
        height: 70px;
    }
    @include w800() {
        width: 180px;
        height: 60px;
    }
    @include w700() {
        width: 160px;
        height: 50px;
    }
    @include w600(){
        width: 140px;
        height: 50px;
    }
    @include w500() {
        width: 100px;
        height: 35px;
    }
    @include w400() {
        width: 85px;
        height: 30px;
    }
}

div.register_first_container > div.register_first_process > div.register_first_process_item_current {
    // background-color: $important_color;
    // background-size: cover;
    // background-repeat: no-repeat;
}

div.register_first_container > div.register_first_process > div.register_first_process_item > p {
    color: $font_color;
    font-size: $font_24;
    @include w900() {
        font-size: $font_22;
    }
    @include w800() {
        font-size: $font_20;
    }
    @include w700() {
        font-size: 16px;
    }
    @include w600() {
        font-size: 14px;
    }
    @include w500() {
        font-size: 12px;
    }
}

div.register_first_container > form {
    width: 100%;
    font-size: $font_24;
    @include w900() {
        font-size: $font_22;
    }
    @include w700() {
        font-size: 16px;
    }
    @include w500() {
        font-size: 12px;
    }
}

div.register_first_container > form > div.register_first_circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $important_color;
    display: inline-block;
}

div.register_first_container > form > label {
    color: $font_color;
    font-weight: bold;   
}

div.register_first_container > form > div.register_first_input {
    display: flex;
    margin: 20px 0;
}

div.register_first_container > form > div.register_first_input > div:first-child {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $second_color1;
    color: $font_color;
    border: 1px solid $font_color;
    font-weight: bold;
}

div.register_first_container > form > div.register_first_input > div:last-child {
    flex: 2;
    border: 1px solid $font_color;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

div.register_first_container > form > div.register_first_input > div:last-child > label {
    margin-top: 32px;
    color: $font_color;
    font-weight: bold;
}

div.register_first_container > form > div.register_first_input > div:last-child > label:first-child {
    margin-top: 0;
}

div.register_first_container > form > div.register_first_input > div:last-child > div > #show_and_hide_icon {
    margin-top: 32px;
    color: $font_color;
    font-weight: bold;
} 

div.register_first_container > form > div.register_first_input > div:last-child > div > div > i {
    cursor: pointer;
}

div.register_first_container > form > div.register_first_input > div:last-child > div > div > i.register_first_icon_hide {
    display: none;
}

div.register_first_container > form > div.register_first_input > div:last-child > div > div > i.hide_close {
    display: none;
}

div.register_first_container > form > div.register_first_input > div:last-child > div > div > i.show_open {
    display: inline-block;
}

div.register_first_container > form > div.register_first_input > div:last-child > #register_step1_app {
    width: 80%;
}

div.register_first_container > form > div.register_first_input > div:last-child > div > input {
    width: 100%;
    outline: none;
    border: 1px solid $font_color;
    padding: 1px 2px;
}

div.register_first_container > form > input[type = 'checkbox'] {
    margin-top: 32px;
}

div.register_first_container > form > input[type = 'checkbox']:hover {
    cursor: pointer;
}

div.register_first_container > form > label:hover {
    cursor: pointer;
}

div.register_first_container > form > button[type = 'button'] {
    @include button();
    display: block;
    margin: 100px auto;
    width: 386px;
    height: 90px;
    @include w900() {
        width: 340px;
        height: 75px;
        font-size: $font_22;
    }
    @include w800() {
        width: 300px;
        height: 60px;
        font-size: $font_20;
    }
    @include w500() {
        width: 260px;
        height: 60px;
        font-size: 16px;
    }
    @include w400() {
        width: 220px;
        height: 55px;
    }
}

div.register_first_container > form > button:hover {
    cursor: pointer;
}