@import '../base/var';
@import '../mixin/mixin';

.vip_main{
    overflow-x: hidden;
    // border: 1px solid blue;
    height: auto;
    // text-align: center;
    background-image: url("../images/vip/vip_starrysky.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    color: $font_color;
    // padding: 10px;
    .except_bkgimg{
        // border: 1px solid blue;
        width: 80%;
        margin: 0 auto;
        .title{
            // border: 1px solid yellow;
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            .titletext{
                // border: 1px solid green;
                // display: inline-block;
                height: auto;
                font-size: $font_32;
                margin: 30px auto;
                margin-top: 50px;
                background-color: $second_color3;
                border-radius: 15px;
                padding: 5px 20px;
                box-shadow: $shadow;
                @include w600() {
                    font-size: $font_24;
                }
                @include w500() {
                    font-size: $font_20;
                    margin-bottom: 10px;
                }
            }
          }
        .galaxy{
            // border: 1px solid maroon;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            padding-bottom: 100px;
            text-align: center;
            .leftgalaxy{
                // border: 1px solid blue;
                position: relative;
                img{
                    // border: 1px solid black;
                    @include w600() {
                        width: 400px;
                    }
                }

                .leftgalaxy_text{
                    // border: 1px solid maroon;
                    box-shadow: $shadow;
                    position: absolute;
                    top: 45%;
                    left: 50%;
                    transform: translate(-55%);
                    font-size: 24px;
                    background-color: $second_color3;
                    color: $font_color;
                    border-radius: 5px;
                    padding: 5px 10px;
                    text-align: center;
                    opacity: .8;
                    @include w900() {
                        font-size: $font_20;
                    }
                    @include w600() {
                        font-size: 16px;
                        top: 40%;
                        left: 40%;
                        transform: translate(-40%);
                    }
                    @include w500() {
                        top: 80%;
                        left: 25%;
                        transform: translate(-15%);
                    }
                    @include w400() {
                        top: 80%;
                        left: 15%;
                        transform: translate(-5%);
                        padding: 2px 2px;
                    }
                }
            }
            .leftgalaxy:hover{
                transform:scale(1.2,1.2)
            }
    
            .middlelogo{
                // border: 1px solid maroon;
                margin-top: 10%;
            }
    
            .rightgalaxy{
                // border: 1px solid blue;
                position: relative;
                img{
                    // border: 1px solid black;
                    @include w600() {
                        width: 400px;
                    }
                }
                .rightgalaxy_text{
                    // border: 1px solid maroon;
                    box-shadow: $shadow;
                    position: absolute;
                    top: 45%;
                    left: 50%;
                    transform: translate(-55%);
                    font-size: 24px;
                    background-color: $second_color3;
                    color: $font_color;
                    border-radius: 5px;
                    padding: 5px 10px;
                    text-align: center;
                    opacity: .8;
                    @include w900() {
                        font-size: $font_20;
                    }
                    @include w600() {
                        font-size: 16px;
                        top: 40%;
                        left: 40%;
                        transform: translate(-40%);
                    }
                    @include w500() {
                        top: 80%;
                        left: 25%;
                        transform: translate(-15%);
                    }
                    @include w400() {
                        top: 80%;
                        left: 15%;
                        transform: translate(5%);
                        padding: 2px 2px;
                    }
                }
            }
            .rightgalaxy:hover{
                transform: scale(1.2,1.2);
            }   
        }
    }
}