@import '../base/var';
@import '../mixin/mixin';

.vip_edit_main{
    // border: 1px solid blue;
    width: 80%;
    margin: 0 auto;
    font-size: $font_24;
    color: $font_color;
    text-align: center;
    .pwd{
        // border: 1px solid black;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        text-align: left;
        .pwd_title{
            // border: 1px solid maroon;
            display: inline-block;
            font-size: $font_20;
            vertical-align: middle;
            padding: 5px 10px;
            margin: 5px 20px;
            img{
                vertical-align: middle;
            }
        }
        .pwd_block{
            border: 1px solid $font_color;
            font-size: 16px;
            vertical-align: top;
            display: flex;
            .pwd_block_left{
                border-right: 1px solid $font_color;
                display: inline-block;
                vertical-align: top;
                background-color: $second_color1;
                max-width: 387px;
                width: 30%;
                max-height: 359px;
                padding: 20px;
                margin-right: 40px;
                line-height: inherit;
                @include w600() {
                    margin-right: 10px;
                }
                @include w500() {
                    margin-right: 0;
                    padding: 10px;
                }
            }
            .pwd_block_right{
                // border: 1px solid purple;
                display: inline-block;
                width: 60%;
                padding-top: 5px;
                padding-left: 20px;
                margin: 0px auto;
                margin-right: 0;
                @include w500() {
                    padding-left: 0;
                }
                .pwd_text{
                    // border: 1px solid blue;
                    .name{
                        // border: 1px solid maroon;
                        margin: 20px auto;
                    }
                    .old_pwd{
                        // border: 1px solid maroon;
                        margin: 20px auto;
                        input{
                            border-color: $font_color;
                            width: 80%;
                        }
                    }
                    .new_pwd{
                        // border: 1px solid maroon;
                        margin: 20px auto;
                        input{
                            border-color: $font_color;
                            width: 80%;
                        }
                    }
                    .new_pwd_again{
                        // border: 1px solid maroon;
                        margin: 20px auto;
                        input{
                            border-color: $font_color;
                            width: 80%;
                        }
                    }
                }
            }
        }
    }

    .per{
        // border: 1px solid black;
        width: 100%;
        max-width: 1200px;
        margin: 50px auto;
        text-align: left;
        .per_title{
            // border: 1px solid maroon;
            display: inline-block;
            font-size: $font_20;
            vertical-align: middle;
            padding: 5px 10px;
            margin: 5px 20px;
            img{
                vertical-align: middle;
            }
        }
        .per_block{
            border: 1px solid $font_color;
            font-size: 16px;
            vertical-align: top;
            display: flex;
            .per_block_left{
                border-right: 1px solid $font_color;
                display: inline-block;
                vertical-align: top;
                background-color: $second_color1;
                max-width: 387px;
                width: 30%;
                max-height: 359px;
                padding: 20px;
                margin-right: 40px;
                line-height: inherit;
            }
            .per_block_right{
                // border: 1px solid purple;
                display: inline-block;
                width: 60%;
                padding-top: 5px;
                padding-left: 20px;
                margin: 6px auto;
                .per_text{
                    // border: 1px solid blue;
                    .name{
                        // border: 1px solid maroon;
                        margin: 20px auto;
                        word-break: break-all;
                    }
                    .birthday{
                        // border: 1px solid maroon;
                        margin: 20px auto;
                    }
                    .phone{
                        // border: 1px solid maroon;
                        margin: 20px auto;
                        input{
                            border-color: $font_color;
                            width: 80%;
                        }
                    }
                    .address{
                        // border: 1px solid maroon;
                        margin: 20px auto;
                        input{
                            border-color: $font_color;
                            width: 80%;
                        }
                    }
                }
            }
        }
    }

    .check{
        // border: 1px solid maroon;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        text-align: left;
        font-size: 16px;
    }

    .bottom{
        // border: 1px solid maroon;
        margin: 50px auto;
        button{
            @include button(); 
            margin: 20px 50px;
            cursor: pointer;
            width: 200px;
        }
    }
}