@import '../base/var';
@import '../mixin/mixin';

.vip_personal_main{
    // border: 1px solid blue;
    font-size: 18px;
    color: $font_color;
    text-align: center;
    .title{
        // border: 1px solid maroon;
        display: inline-block;
        margin: 20px auto;
    }
    .personal{
        // border: 1px solid black;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        .left{
            // border: 1px solid green;
            // display: inline-flex;
            height: 100%;
            background-color: $main_color;
            padding: 15px;
            text-align: center;
            margin: 10px;
            // margin-bottom: 30px;
            .block_left{
                // border: 1px solid blue;
                display: inline-block;
                background-color: $second_color2;
                padding: 30px 20px;
                border-radius: 20px;
                img{
                    width: 380px;
                }
            }
            .left_button{
                display: block;
                margin: 20px auto;
                button{
                    @include button();
                    cursor: pointer;
                    font-size: 18px;
                }
            }
        }

        .right{
            // border: 1px solid green;
            background-color: $main_color;
            height: inherit;
            // display: inline-flex;
            padding: 10px;
            margin: 10px;
            .block_right{
                // border: 1px solid blue;
                // display: inline-block;
                padding: 10px;
                // align-items: center;
                .top{
                    // border: 1px solid maroon;
                    background-color: $second_color5;
                    border-radius: 20px;
                    margin: 10px auto;
                    padding: 10px;
                }
                .bottom{
                    // border: 1px solid maroon;
                    background-color: $second_color5;
                    border-radius: 20px;
                    margin: 15px auto;
                    padding: 10px;
                    .bottom_text{
                        .adjust{
                            // border: 1px solid blue;
                            text-align: right;
                            .customer_info{
                                // border: 1px solid red;
                                margin: 10px;
                                .line{
                                    // border: 1px solid black;
                                    display: inline-block;
                                }
                                span{
                                    display: inline-block;
                                    // border: 1px solid maroon;
                                    width: 250px;
                                    // overflow-wrap: break-word;
                                    text-align: left;
                                    text-decoration: underline
                                }
                            }
                        }
                        button{
                            // text-align: center;
                            @include button();
                            cursor: pointer;
                            margin: 10px;
                            font-size: 18px;
                        }
                    }
                }
                .last{
                    a{
                        .btn{
                            @include button();
                            // cursor: pointer;
                            margin-top: 15px;
                            margin-bottom: 15px;
                            display: inline-block;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }

    //彈窗
    #background_pop{
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        z-index: 100;
        #div_pop{
            /* border: 1px solid black; */
            background:#E6EECE;
            color: #774F40;
            width: 80vw;
            height: 80vh;
            // z-index: 1;
            margin: 10vh auto;
            /* overflow: auto; */
            text-align: center;
            .div_top{
                /* border: 1px solid blue; */
                width: 100%;
                height: auto;
                font-size: 24px;
                .div_title{
                    /* border: 1px solid black; */
                    justify-content: center;
                    padding: 10px;
                    padding-bottom: 0;
                    #close_btn{
                        cursor: pointer;
                        margin-top: -5px;
                        float: right;
                    }
                }
            }
            .div_content{
                // border: 1px solid red;
                width: 100%;
                margin: 30px auto;
                overflow: auto;
                font-size: 20px;
                .big_content{
                    /* border: 1px solid green; */
                    height: auto;
                    display: inline-block;
                    vertical-align: middle;
                    // padding: 50px;

                    // 彈窗主要內容
                    .portrait{
                        // border: 1px solid blue;
                        display: flex;
                        .portrait_left{
                            // border: 1px solid red;
                            background-color: $main_color;
                            padding: 10px 50px;
                            border-radius: 20px;
                            margin-right: 10px;
                            .portrait_left_top{
                                // border: 1px solid black;
                                img{
                                    width: 220px;
                                }
                            }
                            .portrait_left_bottom{
                                // border: 1px solid black;
                                border: 1px solid $second_color6;
                                background-color: $second_color5;
                                border-radius: 20px;
                                font-size: $font_20;
                                text-align: left;
                                padding: 10px 20px;
                                margin-top: 10px;
                                .wearon{
                                    // border: 1px solid red;
                                    text-align: center;
                                    .wearon_block{
                                        // border: 1px solid green;
                                        display: inline-block;
                                        background-color: $second_color6;
                                        img{
                                            width: 50px;
                                        }
                                    }
                                }
                            }
                        }
                        .portrait_right{
                            // border: 1px solid red;
                            background-color: $main_color;
                            padding: 10px;
                            border-radius: 20px;
                            text-align: center;
                            // height: inherit;
                            .right_btn{
                                // border: 1px solid black;
                                // display: block;
                                .right_btn_category{
                                    // border: 1px solid green;
                                    display: inline-block;
                                    background-color: $important_color;
                                    padding: 0 5px;
                                    cursor: pointer;
                                }
                            }
                            .page{
                                // border: 1px solid blue;
                                border: 1px solid $second_color6;
                                background-color: $second_color5;
                                border-radius: 20px;
                                margin-top: 10px;
                                text-align: center;
                                padding: 5px;
                                .page_category{
                                    // border: 1px solid black;
                                    width: 50px;
                                    height: 50px;
                                    background-color: $second_color6;
                                    margin: 5px auto;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
                .back_button{
                    /* border: 1px solid blue; */
                    padding: 10px;
                    .btn_next{
                        /* border: 1px solid red; */
                        margin: 10px;
                        background-color: $important_color;
                        font-size: $font_22;
                        color: $font_color;
                        border-radius: 10px;
                        border:0px;
                        padding: 5px 10px;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}