//主色與輔色
$main_color:#FFF2CC;
$second_color1:#EAE4D2;
$second_color2:#F4E6CD;
$second_color3:#EDDAB8;
$second_color4:#F7F8DC;
$second_color5:#E6EECE;
$second_color6:#B7C88E;
//強調色
$important_color:#FED67E;

//字體顏色
$font_color:#774F40;

//選單文字大小
$font_32:30px;
$font_24:22px;
$font_22:20px;
$font_20:18px;

//button陰影
$shadow:1px 1px 1px lightgray; 

//按鈕圓角
// respond

// $rwd-t : 996px;//平板
// $rwd-m : 565px;// 手機版