@import '../base/var';
@import '../mixin/mixin';
// @import '../backend/backend_style.scss';

body {
    min-height: 90vh;
    background-color: $main_color;
    color: $font_color;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back_login_logo img{
    max-width: 30%;
    margin: 30px 0;
}

.back_login_block{
    // border: 1px solid red;
    margin: 20px;
}

.back_login_block p {
    // border: 1px solid blue;
    display: inline-block;
    margin: 0;
    font-size: $font_32;
    font-weight: bolder;
    padding: 15px 120px;
    border-radius: 20px;
    background-color: $second_color3;
}

.back_login_title{
    // border: 1px solid red;
    font-size: $font_24;
    margin: 20px;
    margin-top: 50px;
    font-weight: bold;
}

.back_login_input {
    display: flex;
    justify-content: center;
    font-size: $font_24;
    margin: 20px;
    // border: 1px solid green;
}

.back_login_input p {
    padding: 5px;
    margin: 0;
}

.back_login_input input {
    font-size: $font_24;
    border: none;
    background-color: $second_color3;
    border-radius: 10px;
    // border: 1px solid red;
    padding: 5px 10px;
    color: $font_color;
}

.back_login_button button{
    // box-shadow: $shadow;
    // padding: 5px 50px;
    // border-radius: 10px;
    // text-align: center;
    // font-size: $font_24;
    // background-color: $important_color;
    // color: $font_color;
    // border: 0px;
    // margin-top: 50px;
    @include button();
}