<!DOCTYPE html>
<html lang="en">

<head>
    @@include('./layout/meta.html', {
    "title" : "Catopia B3-1-1上架商品"
    })
    <link rel="stylesheet" href="../css/backend/b3_product_push.css">
    <script src="../js/tools/vue.js"></script>
    <script src="../js/backend/b3_product_push.js" async></script>
</head>

<body>
    @@include('./layout/backend_header.html')

    <div class="product_push_page_title
                product_push_block">
        <div class="product_push_title">
            <p>B3-1-1上架商品</p>
        </div>
    </div>



    <div class="product_push_container">
        <div class="product_push_block">
            <p class="product_push_block_title">商品編號:</p>
            <p class="product_push_block_text">PD0001</p>
        </div>

        <div class="product_push_block">
            <p class="product_push_block_title">商品名稱:</p>
            <p class="product_push_block_text">
                <input type="text" placeholder="商品名稱" id="product_name">
            </p>
        </div>

        <div id="which_product_type_app">
            <!-- 
                    <div class="product_push_block">
                        <p class="product_push_block_title">商品種類:</p>
                        <p class="product_push_block_text">
                            <select name="" id="product_type">
                                <option value="food">食品</option>
                                <option value="use">生活用品</option>
                                <option value="toy">玩具</option>
                                <option value="cloth">裝飾品</option>
                            </select>
                        </p>
                    </div>
                    
                    <div class="product_push_block">
                        <p class="product_push_block_title">商品篩選:</p>
                        <p class="product_push_block_text">
                            <select name="" id="product_feature">
                                <option value="1">骨骼</option>
                                <option value="2">毛髮</option>
                            </select>
                        </p>
                    </div> 
                -->
        </div>

        <div class="product_push_block">
            <p class="product_push_block_title">商品單價:</p>
            <p class="product_push_block_text">
                <input type="text" placeholder="0" id="product_price">
            </p>
        </div>

        <div id="add_product_app">
            <div class="product_push_block">
                <p class="product_push_block_title">商品圖片:</p>
                <div class="product_push_block_text">
                    <input type="file" multiple="multiple" @change="previewMultiImage" id="product_picture">
                    <div v-if="preview_list.length" class="uploadImages">
                        <div v-for="item, index in preview_list" :key="index">
                            <img :src="item" class="img_fluid" />
                            <p class="mb-0">{{ image_list[index].name }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="product_push_block 
                            text_area">
            <p class="product_push_block_title">商品介紹:</p>
            <div class="product_push_block_text  
                                vip_edit_block_remark">
                <textarea cols="60" rows="10" id="product_content"></textarea>
            </div>
        </div>

        <div class="back_edit_button">
            <a href="./b3_product.html"><button type="submit">取消</button></a>
            <a><button type="button" onclick="addProduct()">上架</button></a>
        </div>
    </div>

    <!-- <script>
        new Vue({
            el: add_product_app,
            data() {
                return {
                    
                }
            },
            methods: {
                
            },
        })
    </script> -->
</body>

</html>