<!DOCTYPE html>
<html lang="en">
  <head>
    @@include('./layout/meta.html', { "title" : "Catopia B5-1-1專欄文章編輯" })
    <link rel="stylesheet" href="../css/backend/b5_knowledge_edit.css" />
    <script src="../js/tools/vue.js"></script>
    <script src="../js/backend/b5_knowledge_edit.js" async></script>
  </head>
  <body>
    @@include('./layout/backend_header.html')
    <div class="knowledge_edit_page_title knowledge_edit_block">
      <div class="knowledge_push_title">
        <p>B5-1-1專欄文章編輯</p>
      </div>
    </div>
    <div class="knowledge_push_container" id="knowledge_push_container_app">
      <div class="knowledge_edit_block">
        <p class="knowledge_edit_block_title">文章序號:</p>
        <p class="knowledge_edit_block_text">1</p>
      </div>
      <div class="knowledge_edit_block">
        <p class="knowledge_edit_block_title">文章編號:</p>
        <p class="knowledge_edit_block_text">PU0001</p>
      </div>
      <div class="knowledge_edit_block" id="knowledge_edit_pic">
        <p class="knowledge_edit_block_title">文章圖片:</p>
        <img :src="preview_list" class="img_fluid" />
        <div class="knowledge_edit_block_text">
          <input
            id="change"
            type="file"
            @change="previewMultiImage"
            id="knowledge_picture"
          />
        </div>
      </div>
      <div class="knowledge_edit_block text_area">
        <p class="knowledge_edit_block_title">文章標題:</p>
        <div class="knowledge_edit_block_text vip_edit_block_remark">
          <textarea
            cols="60"
            rows="3"
            style="resize: none; border-radius: 5px"
            v-model="title"
          ></textarea>
        </div>
      </div>
      <div class="knowledge_edit_block text_area">
        <p class="knowledge_edit_block_title">文章內容:</p>
        <div class="knowledge_edit_block_text vip_edit_block_remark">
          <textarea
            cols="60"
            rows="10"
            style="resize: none; border-radius: 5px"
            v-model="content"
          ></textarea>
        </div>
      </div>
      <div class="back_edit_button">
        <a href="./b5_knowledge.html"><button type="submit">取消</button></a>
        <a><button type="submit" @click="upDated">修改</button></a>
      </div>
    </div>
  </body>
</html>
