<div class = "food_search_container">
    <div class = "food_search_and_index_container">
        <div class = "food_index">
            <p>首頁/@@title1/@@title2</p>
        </div>
        <div class = "food_search_and_search_button">
            <input type = "text" placeholder = "請輸入搜尋商品..." class = "input_search_product">
            <ul class = "food_search_content">
            </ul>
            <div class = "food_search_button" style = "background-image: url(./images/food/food_search_button.png);"></div>
        </div>
    </div>
</div>