<footer>
    <div class = "footer_container">
        <div class = "footer_up">
            <div class = "footer_up_item">
                <button>常見問題</button>
            </div>
            <div class = "footer_up_item footer_up_center">
                <div class = "footer_up_item_title">
                    <p>FOLLOW US</p>
                </div>
                <div class = "footer_up_item_icon">
                    <a><img class = "footer_up_item_icon_item" src = "./images/footer/facebook.svg"></img></a>
                    <a><img class = "footer_up_item_icon_item" src = "./images/footer/instagram.svg"></img></a>
                    <a><img class = "footer_up_item_icon_item" src = "./images/footer/line.svg"></img></a>
                    <a><img class = "footer_up_item_icon_item" src = "./images/footer/twitter.svg"></img></a>
                </div>
            </div>
            <div class = "footer_up_item footer_up_right">
                <div class = "footer_up_item_title">
                    <p>PAY</p>
                </div>
                <div class = "footer_up_item_icon">
                    <a><img class = "footer_up_item_icon_item" src = "./images/footer/cach.svg"></img></a>
                    <a><img class = "footer_up_item_icon_item" src = "./images/footer/creditcard.svg"></img></a>
                    <a><img class = "footer_up_item_icon_item" src = "./images/footer/visa.svg"></img></a>
                    <a><img class = "footer_up_item_icon_item" src = "./images/footer/linepay.svg"></img></a>
                </div>
            </div>
        </div>
        <div class = "footer_down">
            <p>本網站為緯育TibaMe前端設計工程師班第72期學員專題作品，本平台僅供學習、展示之用。</p>
            <p>參考資源：naturaglacé｜ETVOS｜&WOLF｜to/one｜HANA ORGANIC｜amritara｜do organic｜THE PUBLIC ORGANIC｜icon-icons｜81web｜Pinterest｜photoAC｜PARCO｜LINE。</p>
            <p>若有侵權疑慮，您可以私訊[TibaMe-前端設計工程師養成班]，後續會由專人協助處理。</p>
            <p>※ [TibaMe-前端設計工程師養成班]請超連結https://www.facebook.com/webindex/</p>
        </div>
    </div>
</footer>