<div class="hamburger_-off">
        <!-- <div class="hamburger_close">
            <img src="./images/hamburger/hamburger_close.png" alt="">
        </div>
     -->
        <div class="hamburger_product hamburger">
            主子用品
        </div>
        <ul>
            <li><a href="./food.html">食品</a></li>
            <li><a href="./use.html">用品專區</a></li>
            <li><a href="./toy.html">玩具</a></li>
            <li><a href="./cloth.html">裝飾品</a></li>
        </ul>
    
    <div class="paw_product">
        <img class="paw_left" src="./images/hamburger/paw1.png" alt="">
        <img class="scratch" src="./images/hamburger/scratch1.png" alt="">
    </div>
    

    <a href="./gacha.html">
    <div class="hamburger_gacha">
        盒玩盲抽
    </div>
    </a> 
    <div class="paw">
        <img class="scratch" src="./images/hamburger/scratch2.png" alt="">
        <img class="paw_right" src="./images/hamburger/paw2.png" alt="">
    </div>

    <div class="hamburger_game hamburger">
        虛擬世界
    </div>
    <ul>
        <li><a href="./game_store.html">虛擬商城</a></li>
        <li><a href="./game_choose.html">虛擬遊戲</a></li>
    </ul>
    <div class="paw_game">
        <img class="paw_left" src="./images/hamburger/paw3.png" alt="">
        <img class="scratch" src="./images/hamburger/scratch1.png" alt="">
    </div>

    <a href="./message.html">
    <div class="hamburger_message">
        奴才留言板
    </div>
    </a>
    <div class="paw">
        <img class="scratch" src="./images/hamburger/scratch2.png" alt="">
        <img class="paw_right" src="./images/hamburger/paw4.png" alt="">

    </div>


    <a href="./knowledge.html">
    <div class="hamburger_knowledge">
        豆知識專欄
    </div>
    </a>
    <div class="paw">
        <img class="paw_left" src="./images/hamburger/paw5.png" alt="">
        <img class="scratch" src="./images/hamburger/scratch1.png" alt="">
    </div>


    <a href="./question.html">
    <div class="hamburger_question">
        常見問題
    </div>
    </a>

    <div class="paw">
        <img class="scratch" src="./images/hamburger/scratch2.png" alt="">
        <img class="paw_right" src="./images/hamburger/paw6.png" alt="">
    </div>
    <!-- <div class="hamburger_buy">
        <img src="./images/hamburger/buy.png" alt="">
    </div> -->
</div>

<script>
    var hamburger = document.getElementsByClassName('hamburger_-off')[0];
    var hamburger_close = document.getElementsByClassName('hamburger_close')[0];
    // hamburger_close.addEventListener('click',function(){
    //     hamburger.classList.remove('hamburger_-on');
    // });
</script>