
div.footer_container {
    // width: 100vw;
    display: flex;
    flex-direction: column;
}

div.footer_container > div.footer_up {
    display: flex;
    justify-content: space-evenly;
    background-color: $second_color3;
    height: 120px;
    color: $font_color;
    @include w700() {
        flex-direction: column;
        height: fit-content;
        padding: 20px 0px 20px 0px;
    }
}

div.footer_container > div.footer_up > div.footer_up_item {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.footer_container > div.footer_up > div.footer_up_item > button {
    width: fit-content;
    @include button();
    padding: 5px 20px 5px 20px;
    font-size: 24px;
    border-radius: 15px;
    outline: none;
    color: $font_color;
    background-color: $important_color;
    // border: 1px solid $font_color;
    @include w900() {
        margin-bottom: 10px;
        width: fit-content;
    }
}

div.footer_up_item_title{
    @include w900(){
        // position: relative;
        // left: -50px;
    }
    @include w700(){
        // position: relative;
        // left: 0;
    }
}


div.footer_container > div.footer_up > div.footer_up_item > div.footer_up_item_title > p {
    font-size: $font_20;
    margin-top: 10px;
}

div.footer_container > div.footer_up > div.footer_up_item > button:hover {
    cursor: pointer;
}
div.footer_up_item_icon{
    width: fit-content;
    margin: 0 auto;
}
div.footer_container > div.footer_up > div.footer_up_item > div.footer_up_item_icon > a > img {
    width: 40px;
    height: 40px;
    margin: 0 8px;
    object-fit: cover;
}

div.footer_container > div.footer_up > div.footer_up_item > div.footer_up_item_icon > a:hover {
    cursor: pointer;
}

div.footer_container > div.footer_down {
    color: $second_color3;
    font-size: 12px;
    background-color: $font_color;
    padding: 20px;
    @include w700() {
        text-align: left;
    }
}