@import'../mixin/mixin';
@import'../base/var';
//title scss
div.page_title{
  // border: 1px solid red;
  font-size: $font_20;
  color:$font_color;
  text-align: left;
  background-color: $second_color2;
  font-weight: bolder;
  padding-left: 50px;
  z-index: 49;
}
//--------------------------------


body{
  font-size: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x:hidden !important;
  // overflow-y: scroll !important;
}
img{
  max-width: 100%;
  max-height: 100%;
}
a{
  text-decoration: none !important;
  // border: 1px solid red;
  display: inline-block;
}
header{
  // border:1px solid red;
  height: 80px;
  background-color: $second_color3;
  display: flex;
  padding-left: 50px;
  position: sticky;
  top:0;
  z-index: 100;
  @include w1100{
    padding-left: 10px;
  }
}

div.header_catopia{
  // border:1px solid blue;
  width: fit-content;
  height: 100%;
  display: flex;
  // position: relative;
  // left: 50%;
  // transform: translateX(-50%);
  animation-name: logo_move;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  @include w1100{
    width: 200px;
  }
  @include w500{
    width: 150px;
  }
  div.logo_catopia{
    // border: 1px solid purple;
    width: 150px;
    height: 90%;
    position: relative;
    top:5px;
    img{
      height: 75px;
    }
    @include w500{
      transform: scale(0.8);
      position: relative;
      right: 20px;
    }
  }
  div.logo_cat{
    // border:1px solid green;
    width: fit-content;
    @include w800{
      display: none;
    }
  }
}
// @keyframes logo_move{
//   0%{
//     position: relative;
//     left: 50%;
//     transform: translateX(-50%);
//   }
//   100%{
//     position: relative;
//     left: 0;
//     transform: translateX(0%);
//   }
// }
// @keyframes cat_fade_out{
//   0%{
//     opacity: 1;
//   }
//   100%{
//     opacity: 0;
//   }
// }

div.header_option{
  // border:1px solid black;
  height: 100%;
  display: inline-block;
  width: 90%;
  position: relative;
  right: 20px;
  opacity: 0;
  @include w1100{
    width: 70%;
  }
  @include w1000{
    display: none;
  }
}

ul.header_titles{
  // border:1px solid blue;
  display: flex;
  height: 100%;
  list-style: none;
  padding: 0;
  justify-content: space-between;
  // li.title{
  //   // border:1px solid green;
  // }
}
li.title{
  // border:1px solid aqua;
  width: 120px;
  height: 100%;
  text-align: center;
  position: relative;
  .title_icon{
    // border:1px solid red;
    height: 45%;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 5px;
    opacity: 1;
    img{
      transform: scale(0.7);
      
    }
  }
  &:first-child{
    img{
      transform: scale(1)!important;
    }
  }
  .title_text_frame{
    // border:1px solid black;
    width: 100%;
    margin: 0 auto;
    @include w1100{
      width: 80%;
    }
    div.title_text{
      // border:1px solid red;
      background-color: $important_color;
      font-size: $font_22;
      text-align: center;
      color: $font_color;
      border-radius: 5px;
      @include w1100{
        font-size: $font_20;

      }
    }
  }
  div.title_text_frame{
    padding-bottom: 20px;
    cursor: pointer;
    &:hover ~ ul.header_second_titles{
      display: flex;
      // background-color: red;
    }
    
  }
}

@keyframes title_fade_in{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
    display: none;
  }
}

div.header_icons{
  // border:1px solid red;
  height: 100%;
  display: inline-block;
  display: flex;
  // margin-left: 10px;
  transform: scale(0.8);
  @include w1100{
  transform: scale(0.9);
  margin-left: auto;
  margin-right: 2%;
  // @include w1000{
  //   margin-left: 55%;
  // }
  // @include w900{
  //   margin-left: 50%;
  // }
  // @include w800{
  //   margin-left: 45%;
  // }
  // @include w800{
  //   margin-left: 40%;
  // }
  // @include w700{
  //   margin-left: 35%;
  // }
  // @include w600{
  //   margin-left: 25%;
  // }
  // @include w500{
  //   // margin-left: 15%;
  //   margin-left: auto;
  //   margin-right: 2%;
  // }
  // @include w400{
  //   margin-left: 2%;
  // }
  }
    a.member_icon{
      // border:1px solid blue;
      height: 100%;
      cursor: pointer;
      position: relative;
      margin-right: 15px;
      @include w1100{
        width: 50px;
      }
      div.member_icon_text{
        font-size: $font_20;
        position: absolute;
        top: 0%;
      }
    }
    div.shopping_cart{
      // border:1px solid green;
      height: 100%;
      cursor: pointer;
      @include w1100{
        width: 50px;
      }
    }
} 

ul.header_second_titles{
  // border:1px solid red;
  width: 100vw;
  background-color: $second_color1;
  list-style: none;
  padding: 0;
  padding: 5px 0;
  display: flex;
  display: none;
  position: absolute;
  bottom:0;
  transform: translateY(100%);
  z-index: 100;
  &::before{
    content: "";
    background-color: $second_color1;
    width: 50vw;
    position: absolute;
    bottom:0;
    left: -50vw;
    z-index: 0;
    height: 100%;
  }
  &:hover{
    display: flex;
  }
  a{
    // border:1px solid red;
    width: fit-content;
    margin-right: 30px;
    &:hover{
      text-decoration: underline $font_color !important;
    // border:1px solid red;
    }
    li.second_title{
      // border:1px solid orange;
      font-size: $font_20;
      color: $font_color;
      position: relative;
      z-index: 1;
    }
  }
}

div.hamburger_icon{
  // border: 1px solid blue;
  cursor: pointer;
  height: 80%;
  margin-top: 5px;
  display: none;
  @include w1000{
    display: block;
  }
}


//彈窗
#hd_background_pop{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 100;
  #hd_div_pop{
      // border: 1px solid black;
      background:#E6EECE;
      color: #774F40;
      width: 50vw;
      height: 60vh;
      margin: 20vh auto;
      text-align: center;
      @include w600() {
          width: 60vw;
      }
      @include w500() {
          width: 80vw;
      }
      @include w400() {
          width: 95vw;
      }
      .hd_div_top{
          // border: 1px solid blue;
          width: 100%;
          height: auto;
          font-size: 24px;
          .hd_div_title{
              // border: 1px solid black;
              justify-content: center;
              padding: 10px;
              padding-bottom: 0;
              #hd_close_btn{
                  cursor: pointer;
                  margin-top: -5px;
                  float: right;
              }
          }
      }
      .hd_div_content{
          // border: 1px solid red;
          width: 100%;
          height: 65vh;
          margin: 30px auto;
          overflow: auto;
          font-size: 20px;
          margin-bottom: 0;
          .hd_big_content{
              // border: 1px solid green;
              height: 20vh;
              display: inline-block;
              vertical-align: middle;
              margin-top: 10vh;

              // 彈窗主要內容
              .hd_choose_cart{
                  // border: 1px solid blue;
                  display: flex;
                  .hd_left{
                      // border: 1px solid green;
                      a{
                          text-decoration: none;
                          .hd_cart_btn{
                              // border: 1px solid red;
                              @include button(); 
                              margin: 0 10px;
                              cursor: pointer;
                              color: $font_color;
                          }
                      }
                  }
                  .hd_right{
                      // border: 1px solid green;
                      a{
                          text-decoration: none;
                          .hd_gacha_cart_btn{
                              // border: 1px solid red;
                              @include button(); 
                              margin: 0 10px;
                              cursor: pointer;
                              color: $font_color;
                          }
                      }
                  }

              }
          }
      }
  }
}