<header>
    <div class="header">
        <div class="header_logo">
            <a href="./index.html">
            <div class="header_logo_text">
                <img src="./images/header/header_logo_text.png" alt="">
            </div></a>
            <div class="header_logo_cat">
                <img src="./images/header/header_logo_cat.png" alt="">
            </div>
        </div>

        <div class="header_icon">
            <a href="./vip.html">
                <div class="header_icon_member">
                    <img src="./images/header/header_icon_member_frame.png" alt="">
                    <img src="./images/header/header_icon_member_head.png" alt="">

                    <!-- <a href="./vip.html"><img src="./images/header/header_icon_member.png" alt=""></a> -->
                </div>
                <div class="header_icon_shopping_cart">
                    <img src="./images/header/header_icon_shopping_chart.png" alt="">
                </div>
            </a>
        </div>
        <div class="header_main_nav">
            <nav class="header_main_nav">
                <ul class="header_main_ul">
                    <li class="header_product_li">
                            <div class="header_nav_icon header_product">
                                <img src="./images/header/header_icon_product.png" alt="">
                            </div>
                            <div class="header_nav_text header_product">
                                <p>主子用品</p>
                            </div>
                            <div class="header_second_hover"></div>
                            <ul class="header_second_ul">
                                <li class="header_second_li">
                                    <a href="./product.html">食品</a>
                                </li>
                                <li class="header_second_li">
                                    <a href="./use.html">用品專區</a>
                                </li>
                                <li class="header_second_li">
                                    <a href="./toy.html">玩具</a>
                                </li>
                                <li class="header_second_li">
                                    <a href="./cloth.html">裝飾品</a>
                                </li>
                            </ul>
                    </li>
                    <li class="header_gacha_li">
                        <a href="./gacha.html">
                            <div class="header_nav_icon">
                                <img src="./images/header/header_icon_gacha.png" alt="">
                            </div>
                            <div class="header_nav_text">
                                <p>盒玩盲抽</p>
                            </div>
                        </a>
                    </li>
                    <li class="header_game_li">
                            <div class="header_nav_icon header_game">
                                <img src="./images/header/header_icon_game.png" alt="">
                            </div>
                            <div class="header_nav_text header_game">
                                <p>虛擬世界</p>
                            </div>
                            <div class="header_second_hover"></div>
                            <ul class="header_second_ul header_game">
                                <li class="header_second_li header_game">
                                    <a href="./game_store.html">虛擬商城</a>
                                </li>
                                <li class="header_second_li header_game">
                                    <a href="./game_choose.html">虛擬遊戲</a>
                                </li>
                            </ul>        
                    </li>
                    <li class="header_message_li">
                        <a href="./message.html">
                            <div class="header_nav_icon">
                                <img src="./images/header/header_icon_message.png" alt="">
                            </div>
                            <div class="header_nav_text">
                                <p>奴才留言板</p>
                            </div>
                        </a>
                            
                    </li>
                    <li class="header_knowledge_li">
                        <a href="./knowledge.html">
                            <div class="header_nav_icon">
                                <img src="./images/header/header_icon_knowledge.png" alt="">
                            </div>
                            <div class="header_nav_text">
                                <p>豆知識專欄</p>
                            </div>
                        </a>
                            
                    </li>
                    <li class="header_question_li">
                        <a href="./question.html">
                            <div class="header_nav_icon">
                                <img src="./images/header/header_icon_question.png" alt="">
                            </div>
                            <div class="header_nav_text">
                                <p>常見問題</p>
                            </div>
                        </a>      
                    </li>
                </ul>

                
                
            </nav>
        </div>
    </div>
</header>
